/*------------------------------------------------------------------
[All Skin Stylesheet]
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. Skin: Blue
2. Skin: Black
3. Skin: Green
4. Skin: Red
5. Skin: orange
6. Skin: Yellow
-------------------------------------------------------------------*/

/*---Skin: Blue---*/

.skin-blue .main-header .navbar {
  background-color_old: #45aef1;
  background-color: #293f8d;
}
.skin-blue .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a,
.skin-blue.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover{
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: transparent;
}
@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-blue .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-blue .main-header .navbar .dropdown-menu li a:hover {
    background: #0092ee;
  }
}
.skin-blue .main-header .logo {
  background-color: #0092ee;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue .main-header .logo:hover {
  background-color: #45aef1;
}
.skin-blue .main-header li.user-header {
  background-color: #fff;
}
.skin-blue .content-header {
  background: #f2f6f8;
}
.skin-blue .content {
  background: #f2f6f8;
}
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background-color: #242a33;
  box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
}
.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
  color: #fff;
}

.skin-blue .sidebar-menu > li.header {
  color: #333;
  background: #fff;
}
.skin-blue .sidebar-menu > li > a {
  border-left:none;
}
.skin-blue .sidebar-menu > li:hover > a{
  color: #ffffff;
  background: rgba(0,0,0,0.1);
}
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li.menu-open > a {
  color: #ffffff;
}
.skin-blue .sidebar-menu > li.active > a {
  border-left-color: #45aef1;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #242a33;
}
.skin-blue .sidebar a {
  color: #79818e;
}
.skin-blue .sidebar a:hover {
  text-decoration: none;
}
.skin-blue .sidebar-menu .treeview-menu > li > a {
  color: #79818e;
}
.skin-blue .sidebar-menu .treeview-menu > li.active > a,
.skin-blue .sidebar-menu .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-blue .sidebar-form {
  border-radius: 3px;
  border: 1px solid #898989;
}
.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
}
.skin-blue .sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-blue .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  color: #fff;
}
.skin-blue .sidebar-form .btn {
  color: #f7f7f7;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-blue.layout-top-nav .main-header > .logo {
  background-color: #0092ee;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue.layout-top-nav .main-header > .logo:hover {
  background-color: #45aef1;
}
.skin-blue .btn-blue{
	background-color: #45aef1;
	color: #fff;
	border: 1px solid #45aef1;
}
.skin-blue .btn-blue:hover{
	background-color: #fff;
	color: #45aef1;	
}
.horizontal-menu .skin-blue.layout-top-nav .sidebar-menu > li.active > a {
    background: #45aef1;
	color: #fff;
}
.skin-blue .main-header .messages-menu .dropdown-toggle i::after, .skin-blue .main-header .notifications-menu .dropdown-toggle i::after, .skin-blue .main-header .tasks-menu .dropdown-toggle i::after {
    border-color: #45aef1;
}

/*---Skin: Blue light---*/
/*---light sidebar---*/

.skin-blue-light .main-header .navbar {
  background-color: #0000a0;
}
.skin-blue-light .main-header .navbar-orange {
  background-color: #008040;
}

.skin-blue-light .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-blue-light .main-header .navbar .nav > li > a:hover,
.skin-blue-light .main-header .navbar .nav > li > a:active,
.skin-blue-light .main-header .navbar .nav > li > a:focus,
.skin-blue-light .main-header .navbar .nav .open > a,
.skin-blue-light .main-header .navbar .nav .open > a:hover,
.skin-blue-light .main-header .navbar .nav .open > a:focus,
.skin-blue-light .main-header .navbar .nav > .active > a,
.skin-blue-light.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover{
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-blue-light .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-blue-light .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-blue-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-blue-light .main-header .navbar .sidebar-toggle:hover {
  background-color: transparent;
}
@media (max-width: 767px) {
  .skin-blue-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-blue-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-blue-light .main-header .navbar .dropdown-menu li a:hover {
    background: #0092ee;
  }
}
.skin-blue-light .main-header .logo {
  background-color: #0092ee;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue-light .main-header .logo:hover {
  background-color: #45aef1;
}
.skin-blue-light .main-header li.user-header {
  background-color: #fff;
}
.skin-blue-light .content-header {
  background: #f2f6f8;
}
.skin-blue-light .content {
  background: #f2f6f8;
}
.skin-blue-light .wrapper,
.skin-blue-light .main-sidebar,
.skin-blue-light .left-side {
  background-color: #ffffff;
  box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
}
.skin-blue-light .user-panel > .info,
.skin-blue-light .user-panel > .info > a {
  color: #fff;
}

.skin-blue-light .sidebar-menu > li.header {
  color: #333;
  background: #fff;
}
.skin-blue-light .sidebar-menu > li > a {
  border-left:none;
}
.skin-blue-light .sidebar-menu > li:hover > a{
  color: #45aef1;
  background: rgba(0,0,0,0.1);
}
.skin-blue-light .sidebar-menu > li.active > a,
.skin-blue-light .sidebar-menu > li.menu-open > a {
  color: #45aef1;
}
.skin-blue-light .sidebar-menu > li.active > a {
  border-left-color: #45aef1;
}
.skin-blue-light .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #f1f5f7;
}
.skin-blue-light .sidebar a {
  color: #79818e;
}
.skin-blue-light .sidebar a:hover {
  text-decoration: none;
}
.skin-blue-light .sidebar-menu .treeview-menu > li > a {
  color: #79818e;
}
.skin-blue-light .sidebar-menu .treeview-menu > li.active > a,
.skin-blue-light .sidebar-menu .treeview-menu > li > a:hover {
  color: #45aef1;
}
.skin-blue-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #898989;
}
.skin-blue-light .sidebar-form input[type="text"],
.skin-blue-light .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
}
.skin-blue-light .sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-blue-light .sidebar-form input[type="text"]:focus,
.skin-blue-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  color: #fff;
}
.skin-blue-light .sidebar-form .btn {
  color: #f7f7f7;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-blue-light.layout-top-nav .main-header > .logo {
  background-color: #0092ee;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue-light.layout-top-nav .main-header > .logo:hover {
  background-color: #45aef1;
}
.skin-blue-light .btn-blue{
	background-color: #45aef1;
	color: #fff;
	border: 1px solid #45aef1;
}
.skin-blue-light .btn-blue:hover{
	background-color: #fff;
	color: #45aef1;	
}
.horizontal-menu .skin-blue-light.layout-top-nav .sidebar-menu > li.active > a {
    background: #45aef1;
	color: #fff;
}
.skin-blue-light .main-header .messages-menu .dropdown-toggle i::after, .skin-blue-light .main-header .notifications-menu .dropdown-toggle i::after, .skin-blue-light .main-header .tasks-menu .dropdown-toggle i::after {
    border-color: #45aef1;
}


/*---Skin: Black---*/

.skin-black .main-header .navbar {
  background-color: #ffffff;
}
.skin-black .main-header .navbar .nav > li > a {
  color: #313131;
}
.skin-black .main-header .navbar .nav > li > a:hover,
.skin-black .main-header .navbar .nav > li > a:active,
.skin-black .main-header .navbar .nav > li > a:focus,
.skin-black .main-header .navbar .nav .open > a,
.skin-black .main-header .navbar .nav .open > a:hover,
.skin-black .main-header .navbar .nav .open > a:focus,
.skin-black .main-header .navbar .nav > .active > a,
.skin-black.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover{
  background: rgba(0, 0, 0, 0.1);
  color: #666666;
}
.skin-black .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-black .main-header .navbar .sidebar-toggle:hover {
  color: #666666;
  background: rgba(0, 0, 0, 0.1);
}
.skin-black .main-header .navbar .sidebar-toggle {
  color: #313131;
}
.skin-black .main-header .navbar .sidebar-toggle:hover {
  background-color: transparent;
}
@media (max-width: 767px) {
  .skin-black .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-black .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-black .main-header .navbar .dropdown-menu li a:hover {
    background: #313131;
  }
}
.skin-black .main-header .logo {
  background-color: #ffffff;
  color: #313131;
  border-bottom: 0 solid transparent;
}
.skin-black .main-header .logo:hover {
  background-color: #232323;
}
.skin-black .main-header li.user-header {
  background-color: #fff;
}
.skin-black .content-header {
  background: #f2f6f8;
}
.skin-black .content {
  background: #f2f6f8;
}
.skin-black .wrapper,
.skin-black .main-sidebar,
.skin-black .left-side {
  background-color: #242a33;
  box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
}
.skin-black .user-panel > .info,
.skin-black .user-panel > .info > a {
  color: #fff;
}

.skin-black .sidebar-menu > li.header {
  color: #333;
  background: #fff;
}
.skin-black .sidebar-menu > li > a {
  border-left:none;
}
.skin-black .sidebar-menu > li:hover > a{
  color: #ffffff;
  background: rgba(0,0,0,0.1);
}
.skin-black .sidebar-menu > li.active > a,
.skin-black .sidebar-menu > li.menu-open > a {
  color: #ffffff;
}
.skin-black .sidebar-menu > li.active > a {
  border-left-color: #232323;
}
.skin-black .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #242a33;
}
.skin-black .sidebar a {
  color: #79818e;
}
.skin-black .sidebar a:hover {
  text-decoration: none;
}
.skin-black .sidebar-menu .treeview-menu > li > a {
  color: #79818e;
}
.skin-black .sidebar-menu .treeview-menu > li.active > a,
.skin-black .sidebar-menu .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-black .sidebar-form {
  border-radius: 3px;
  border: 1px solid #898989;
}
.skin-black .sidebar-form input[type="text"],
.skin-black .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
}
.skin-black .sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-black .sidebar-form input[type="text"]:focus,
.skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  color: #fff;
}
.skin-black .sidebar-form .btn {
  color: #f7f7f7;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-black.layout-top-nav .main-header > .logo {
  background-color: #313131;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-black.layout-top-nav .main-header > .logo:hover {
  background-color: #232323;
}
.skin-black .btn-blue{
	background-color: #232323;
	color: #fff;
	border: 1px solid #232323;
}
.skin-black .btn-blue:hover{
	background-color: #fff;
	color: #232323;	
}
.horizontal-menu .skin-black.layout-top-nav .sidebar-menu > li.active > a {
    background: #232323;
	color: #fff;
}
.skin-black .main-header .messages-menu .dropdown-toggle i::after, .skin-black .main-header .notifications-menu .dropdown-toggle i::after, .skin-black .main-header .tasks-menu .dropdown-toggle i::after {
    border-color: #ffffff;
}

/*---Skin: Black light---*/
/*---light sidebar---*/

.skin-black-light .main-header .navbar {
  background-color: #ffffff;
}
.skin-black-light .main-header .navbar .nav > li > a {
  color: #313131;
}
.skin-black-light .main-header .navbar .nav > li > a:hover,
.skin-black-light .main-header .navbar .nav > li > a:active,
.skin-black-light .main-header .navbar .nav > li > a:focus,
.skin-black-light .main-header .navbar .nav .open > a,
.skin-black-light .main-header .navbar .nav .open > a:hover,
.skin-black-light .main-header .navbar .nav .open > a:focus,
.skin-black-light .main-header .navbar .nav > .active > a,
.skin-black-light.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover{
  background: rgba(0, 0, 0, 0.1);
  color: #666666;
}
.skin-black-light .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-black-light .main-header .navbar .sidebar-toggle:hover {
  color: #666666;
  background: rgba(0, 0, 0, 0.1);
}
.skin-black-light .main-header .navbar .sidebar-toggle {
  color: #313131;
}
.skin-black-light .main-header .navbar .sidebar-toggle:hover {
  background-color: transparent;
}
@media (max-width: 767px) {
  .skin-black-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-black-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-black-light .main-header .navbar .dropdown-menu li a:hover {
    background: #313131;
  }
}
.skin-black-light .main-header .logo {
  background-color: #ffffff;
  color: #313131;
  border-bottom: 0 solid transparent;
}
.skin-black-light .main-header .logo:hover {
  background-color: #232323;
}
.skin-black-light .main-header li.user-header {
  background-color: #fff;
}
.skin-black-light .content-header {
  background: #f2f6f8;
}
.skin-black-light .content {
  background: #f2f6f8;
}
.skin-black-light .wrapper,
.skin-black-light .main-sidebar,
.skin-black-light .left-side {
  background-color: #ffffff;
  box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
}
.skin-black-light .user-panel > .info,
.skin-black-light .user-panel > .info > a {
  color: #fff;
}

.skin-black-light .sidebar-menu > li.header {
  color: #333;
  background: #fff;
}
.skin-black-light .sidebar-menu > li > a {
  border-left:none;
}
.skin-black-light .sidebar-menu > li:hover > a{
  color: #232323;
  background: rgba(0,0,0,0.1);
}
.skin-black-light .sidebar-menu > li.active > a,
.skin-black-light .sidebar-menu > li.menu-open > a {
  color: #232323;
}
.skin-black-light .sidebar-menu > li.active > a {
  border-left-color: #232323;
}
.skin-black-light .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #f2f6f8;
}
.skin-black-light .sidebar a {
  color: #79818e;
}
.skin-black-light .sidebar a:hover {
  text-decoration: none;
}
.skin-black-light .sidebar-menu .treeview-menu > li > a {
  color: #79818e;
}
.skin-black-light .sidebar-menu .treeview-menu > li.active > a,
.skin-black-light .sidebar-menu .treeview-menu > li > a:hover {
  color: #232323;
}
.skin-black-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #898989;
}
.skin-black-light .sidebar-form input[type="text"],
.skin-black-light .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
}
.skin-black-light .sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-black-light .sidebar-form input[type="text"]:focus,
.skin-black-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  color: #fff;
}
.skin-black-light .sidebar-form .btn {
  color: #f7f7f7;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-black-light.layout-top-nav .main-header > .logo {
  background-color: #313131;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-black-light.layout-top-nav .main-header > .logo:hover {
  background-color: #232323;
}
.skin-black-light .btn-blue{
	background-color: #232323;
	color: #fff;
	border: 1px solid #232323;
}
.skin-black-light .btn-blue:hover{
	background-color: #fff;
	color: #232323;	
}
.horizontal-menu .skin-black-light.layout-top-nav .sidebar-menu > li.active > a {
    background: #232323;
	color: #fff;
}
.skin-black-light .main-header .messages-menu .dropdown-toggle i::after, .skin-black-light .main-header .notifications-menu .dropdown-toggle i::after, .skin-black-light .main-header .tasks-menu .dropdown-toggle i::after {
    border-color: #ffffff;
}

/*---Skin: Green---*/

.skin-green .main-header .navbar {
  background-color: #22af47;
}
.skin-green .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-green .main-header .navbar .nav > li > a:hover,
.skin-green .main-header .navbar .nav > li > a:active,
.skin-green .main-header .navbar .nav > li > a:focus,
.skin-green .main-header .navbar .nav .open > a,
.skin-green .main-header .navbar .nav .open > a:hover,
.skin-green .main-header .navbar .nav .open > a:focus,
.skin-green .main-header .navbar .nav > .active > a,
.skin-green.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover{
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-green .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-green .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-green .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-green .main-header .navbar .sidebar-toggle:hover {
  background-color: transparent;
}
@media (max-width: 767px) {
  .skin-green .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-green .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-green .main-header .navbar .dropdown-menu li a:hover {
    background: #1a943b;
  }
}
.skin-green .main-header .logo {
  background-color: #1a943b;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-green .main-header .logo:hover {
  background-color: #22af47;
}
.skin-green .main-header li.user-header {
  background-color: #fff;
}
.skin-green .content-header {
  background: #f2f6f8;
}
.skin-green .content {
  background: #f2f6f8;
}
.skin-green .wrapper,
.skin-green .main-sidebar,
.skin-green .left-side {
  background-color: #242a33;
  box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
}
.skin-green .user-panel > .info,
.skin-green .user-panel > .info > a {
  color: #fff;
}

.skin-green .sidebar-menu > li.header {
  color: #333;
  background: #fff;
}
.skin-green .sidebar-menu > li > a {
  border-left:none;
}
.skin-green .sidebar-menu > li:hover > a{
  color: #ffffff;
  background: rgba(0,0,0,0.1);
}
.skin-green .sidebar-menu > li.active > a,
.skin-green .sidebar-menu > li.menu-open > a {
  color: #ffffff;
}
.skin-green .sidebar-menu > li.active > a {
  border-left-color: #22af47;
}
.skin-green .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #242a33;
}
.skin-green .sidebar a {
  color: #79818e;
}
.skin-green .sidebar a:hover {
  text-decoration: none;
}
.skin-green .sidebar-menu .treeview-menu > li > a {
  color: #79818e;
}
.skin-green .sidebar-menu .treeview-menu > li.active > a,
.skin-green .sidebar-menu .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-green .sidebar-form {
  border-radius: 3px;
  border: 1px solid #898989;
}
.skin-green .sidebar-form input[type="text"],
.skin-green .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
}
.skin-green .sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-green .sidebar-form input[type="text"]:focus,
.skin-green .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  color: #fff;
}
.skin-green .sidebar-form .btn {
  color: #f7f7f7;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-green.layout-top-nav .main-header > .logo {
  background-color: #1a943b;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-green.layout-top-nav .main-header > .logo:hover {
  background-color: #22af47;
}
.skin-green .btn-blue{
	background-color: #22af47;
	color: #fff;
	border: 1px solid #22af47;
}
.skin-green .btn-blue:hover{
	background-color: #fff;
	color: #22af47;	
}
.horizontal-menu .skin-green.layout-top-nav .sidebar-menu > li.active > a {
    background: #22af47;
	color: #fff;
}
.skin-green .main-header .messages-menu .dropdown-toggle i::after, .skin-green .main-header .notifications-menu .dropdown-toggle i::after, .skin-green .main-header .tasks-menu .dropdown-toggle i::after {
    border-color: #22af47;
}


/*---Skin: Green light---*/
/*---light sidebar---*/
.skin-green-light .main-header .navbar {
  background-color: #22af47;
}
.skin-green-light .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-green-light .main-header .navbar .nav > li > a:hover,
.skin-green-light .main-header .navbar .nav > li > a:active,
.skin-green-light .main-header .navbar .nav > li > a:focus,
.skin-green-light .main-header .navbar .nav .open > a,
.skin-green-light .main-header .navbar .nav .open > a:hover,
.skin-green-light .main-header .navbar .nav .open > a:focus,
.skin-green-light .main-header .navbar .nav > .active > a,
.skin-green-light.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover{
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-green-light .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-green-light .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-green-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-green-light .main-header .navbar .sidebar-toggle:hover {
  background-color: transparent;
}
@media (max-width: 767px) {
  .skin-green-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-green-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-green-light .main-header .navbar .dropdown-menu li a:hover {
    background: #1a943b;
  }
}
.skin-green-light .main-header .logo {
  background-color: #1a943b;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-green-light .main-header .logo:hover {
  background-color: #22af47;
}
.skin-green-light .main-header li.user-header {
  background-color: #fff;
}
.skin-green-light .content-header {
  background: #f2f6f8;
}
.skin-green-light .content {
  background: #f2f6f8;
}
.skin-green-light .wrapper,
.skin-green-light .main-sidebar,
.skin-green-light .left-side {
  background-color: #ffffff;
  box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
}
.skin-green-light .user-panel > .info,
.skin-green-light .user-panel > .info > a {
  color: #fff;
}

.skin-green-light .sidebar-menu > li.header {
  color: #333;
  background: #fff;
}
.skin-green-light .sidebar-menu > li > a {
  border-left:none;
}
.skin-green-light .sidebar-menu > li:hover > a{
  color: #22af47;
  background: rgba(0,0,0,0.1);
}
.skin-green-light .sidebar-menu > li.active > a,
.skin-green-light .sidebar-menu > li.menu-open > a {
  color: #22af47;
}
.skin-green-light .sidebar-menu > li.active > a {
  border-left-color: #22af47;
}
.skin-green-light .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #f2f6f8;
}
.skin-green-light .sidebar a {
  color: #79818e;
}
.skin-green-light .sidebar a:hover {
  text-decoration: none;
}
.skin-green-light .sidebar-menu .treeview-menu > li > a {
  color: #79818e;
}
.skin-green-light .sidebar-menu .treeview-menu > li.active > a,
.skin-green-light .sidebar-menu .treeview-menu > li > a:hover {
  color: #22af47;
}
.skin-green-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #898989;
}
.skin-green-light .sidebar-form input[type="text"],
.skin-green-light .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
}
.skin-green-light .sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-green-light .sidebar-form input[type="text"]:focus,
.skin-green-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  color: #fff;
}
.skin-green-light .sidebar-form .btn {
  color: #f7f7f7;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-green-light.layout-top-nav .main-header > .logo {
  background-color: #1a943b;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-green-light.layout-top-nav .main-header > .logo:hover {
  background-color: #22af47;
}
.skin-green-light .btn-blue{
	background-color: #22af47;
	color: #fff;
	border: 1px solid #22af47;
}
.skin-green-light .btn-blue:hover{
	background-color: #fff;
	color: #22af47;	
}
.horizontal-menu .skin-green-light.layout-top-nav .sidebar-menu > li.active > a {
    background: #22af47;
	color: #fff;
}
.skin-green-light .main-header .messages-menu .dropdown-toggle i::after, .skin-green-light .main-header .notifications-menu .dropdown-toggle i::after, .skin-green-light .main-header .tasks-menu .dropdown-toggle i::after {
    border-color: #22af47;
}

/*--- Skin: Red ---*/
/*--- Cores do NAVBAR Menu ---*/

.skin-red .main-header .navbar {
  background-color: #f83f37;
}
.skin-red .main-header .navbar-blue {
  background-color: #0000ff;
}
.skin-red .main-header .navbar-green {
  background-color: #008000;
}
.skin-red .main-header .navbar-yellow {
  background-color: #ffff00;  
}

.skin-red .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-red .main-header .navbar .nav-black > li > a {
  color: #000000;
}

.skin-red .main-header .navbar .nav > li > a:hover,
.skin-red .main-header .navbar .nav > li > a:active,
.skin-red .main-header .navbar .nav > li > a:focus,
.skin-red .main-header .navbar .nav .open > a,
.skin-red .main-header .navbar .nav .open > a:hover,
.skin-red .main-header .navbar .nav .open > a:focus,
.skin-red .main-header .navbar .nav > .active > a,
.skin-red.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover{
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-red .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-red .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-red .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-red .main-header .navbar .sidebar-toggle:hover {
  background-color: transparent;
}
@media (max-width: 767px) {
  .skin-red .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-red .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-red .main-header .navbar .dropdown-menu li a:hover {
    background: #dc2d27;
  }
}
.skin-red .main-header .logo {
  background-color: #dc2d27;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-red .main-header .logo:hover {
  background-color: #f83f37;
}
.skin-red .main-header li.user-header {
  background-color: #fff;
}
.skin-red .content-header {
  background: #f2f6f8;
}
.skin-red .content {
  background: #f2f6f8;
}
.skin-red .wrapper,
.skin-red .main-sidebar,
.skin-red .left-side {
  background-color: #242a33;
  box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
}
.skin-red .user-panel > .info,
.skin-red .user-panel > .info > a {
  color: #fff;
}

.skin-red .sidebar-menu > li.header {
  color: #333;
  background: #fff;
}
.skin-red .sidebar-menu > li > a {
  border-left:none;
}
.skin-red .sidebar-menu > li:hover > a{
  color: #ffffff;
  background: rgba(0,0,0,0.1);
}
.skin-red .sidebar-menu > li.active > a,
.skin-red .sidebar-menu > li.menu-open > a {
  color: #ffffff;
}
.skin-red .sidebar-menu > li.active > a {
  border-left-color: #f83f37;
}
.skin-red .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #242a33;
}
.skin-red .sidebar a {
  color: #79818e;
}
.skin-red .sidebar a:hover {
  text-decoration: none;
}
.skin-red .sidebar-menu .treeview-menu > li > a {
  color: #79818e;
}
.skin-red .sidebar-menu .treeview-menu > li.active > a,
.skin-red .sidebar-menu .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-red .sidebar-form {
  border-radius: 3px;
  border: 1px solid #898989;
}
.skin-red .sidebar-form input[type="text"],
.skin-red .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
}
.skin-red .sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-red .sidebar-form input[type="text"]:focus,
.skin-red .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  color: #fff;
}
.skin-red .sidebar-form .btn {
  color: #f7f7f7;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-red.layout-top-nav .main-header > .logo {
  background-color: #dc2d27;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-red.layout-top-nav .main-header > .logo:hover {
  background-color: #f83f37;
}
.skin-red .btn-blue{
	background-color: #f83f37;
	color: #fff;
	border: 1px solid #f83f37;
}
.skin-red .btn-blue:hover{
	background-color: #fff;
	color: #f83f37;	
}
.horizontal-menu .skin-red.layout-top-nav .sidebar-menu > li.active > a {
    background: #f83f37;
	color: #fff;
}
.skin-red .main-header .messages-menu .dropdown-toggle i::after, .skin-red .main-header .notifications-menu .dropdown-toggle i::after, .skin-red .main-header .tasks-menu .dropdown-toggle i::after {
    border-color: #f83f37;	
    background-color: #22af47;
}

/*---Skin: Red light---*/
/*---light sidebar---*/

.skin-red-light .main-header .navbar {
  background-color: #f83f37;
}
.skin-red-light .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-red-light .main-header .navbar .nav > li > a:hover,
.skin-red-light .main-header .navbar .nav > li > a:active,
.skin-red-light .main-header .navbar .nav > li > a:focus,
.skin-red-light .main-header .navbar .nav .open > a,
.skin-red-light .main-header .navbar .nav .open > a:hover,
.skin-red-light .main-header .navbar .nav .open > a:focus,
.skin-red-light .main-header .navbar .nav > .active > a,
.skin-red-light.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover{
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-red-light .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-red-light .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-red-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-red-light .main-header .navbar .sidebar-toggle:hover {
  background-color: transparent;
}
@media (max-width: 767px) {
  .skin-red-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-red-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-red-light .main-header .navbar .dropdown-menu li a:hover {
    background: #dc2d27;
  }
}
.skin-red-light .main-header .logo {
  background-color: #dc2d27;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-red-light .main-header .logo:hover {
  background-color: #f83f37;
}
.skin-red-light .main-header li.user-header {
  background-color: #fff;
}
.skin-red-light .content-header {
  background: #f2f6f8;
}
.skin-red-light .content {
  background: #f2f6f8;
}
.skin-red-light .wrapper,
.skin-red-light .main-sidebar,
.skin-red-light .left-side {
  background-color: #ffffff;
  box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
}
.skin-red-light .user-panel > .info,
.skin-red-light .user-panel > .info > a {
  color: #fff;
}

.skin-red-light .sidebar-menu > li.header {
  color: #333;
  background: #fff;
}
.skin-red-light .sidebar-menu > li > a {
  border-left:none;
}
.skin-red-light .sidebar-menu > li:hover > a{
  color: #f83f37;
  background: rgba(0,0,0,0.1);
}
.skin-red-light .sidebar-menu > li.active > a,
.skin-red-light .sidebar-menu > li.menu-open > a {
  color: #f83f37;
}
.skin-red-light .sidebar-menu > li.active > a {
  border-left-color: #f83f37;
}
.skin-red-light .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #f0f4f6;
}
.skin-red-light .sidebar a {
  color: #79818e;
}
.skin-red-light .sidebar a:hover {
  text-decoration: none;
}
.skin-red-light .sidebar-menu .treeview-menu > li > a {
  color: #79818e;
}
.skin-red-light .sidebar-menu .treeview-menu > li.active > a,
.skin-red-light .sidebar-menu .treeview-menu > li > a:hover {
  color: #f83f37;
}
.skin-red-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #898989;
}
.skin-red-light .sidebar-form input[type="text"],
.skin-red-light .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
}
.skin-red-light .sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-red-light .sidebar-form input[type="text"]:focus,
.skin-red-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  color: #fff;
}
.skin-red-light .sidebar-form .btn {
  color: #f7f7f7;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-red-light.layout-top-nav .main-header > .logo {
  background-color: #dc2d27;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-red-light.layout-top-nav .main-header > .logo:hover {
  background-color: #f83f37;
}
.skin-red-light .btn-blue{
	background-color: #f83f37;
	color: #fff;
	border: 1px solid #f83f37;
}
.skin-red-light .btn-blue:hover{
	background-color: #fff;
	color: #f83f37;	
}
.horizontal-menu .skin-red-light.layout-top-nav .sidebar-menu > li.active > a {
    background: #f83f37;
	color: #fff;
}

.skin-red-light .main-header .messages-menu .dropdown-toggle i::after, .skin-red-light .main-header .notifications-menu .dropdown-toggle i::after, .skin-red-light .main-header .tasks-menu .dropdown-toggle i::after {
    border-color: #f83f37;	
    background-color: #22af47;
}


/*---Skin: orange---*/

.skin-orange .main-header .navbar {
  background-color: #ff6028;
}
.skin-orange .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-orange .main-header .navbar .nav > li > a:hover,
.skin-orange .main-header .navbar .nav > li > a:active,
.skin-orange .main-header .navbar .nav > li > a:focus,
.skin-orange .main-header .navbar .nav .open > a,
.skin-orange .main-header .navbar .nav .open > a:hover,
.skin-orange .main-header .navbar .nav .open > a:focus,
.skin-orange .main-header .navbar .nav > .active > a,
.skin-orange.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover{
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-orange .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-orange .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-orange .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-orange .main-header .navbar .sidebar-toggle:hover {
  background-color: transparent;
}
@media (max-width: 767px) {
  .skin-orange .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-orange .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-orange .main-header .navbar .dropdown-menu li a:hover {
    background: #de4f1e;
  }
}
.skin-orange .main-header .logo {
  background-color: #de4f1e;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-orange .main-header .logo:hover {
  background-color: #ff6028;
}
.skin-orange .main-header li.user-header {
  background-color: #fff;
}
.skin-orange .content-header {
  background: #f2f6f8;
}
.skin-orange .content {
  background: #f2f6f8;
}
.skin-orange .wrapper,
.skin-orange .main-sidebar,
.skin-orange .left-side {
  background-color: #242a33;
  box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
}
.skin-orange .user-panel > .info,
.skin-orange .user-panel > .info > a {
  color: #fff;
}

.skin-orange .sidebar-menu > li.header {
  color: #333;
  background: #fff;
}
.skin-orange .sidebar-menu > li > a {
  border-left:none;
}
.skin-orange .sidebar-menu > li:hover > a{
  color: #ffffff;
  background: rgba(0,0,0,0.1);
}
.skin-orange .sidebar-menu > li.active > a,
.skin-orange .sidebar-menu > li.menu-open > a {
  color: #ffffff;
}
.skin-orange .sidebar-menu > li.active > a {
  border-left-color: #ff6028;
}
.skin-orange .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #242a33;
}
.skin-orange .sidebar a {
  color: #79818e;
}
.skin-orange .sidebar a:hover {
  text-decoration: none;
}
.skin-orange .sidebar-menu .treeview-menu > li > a {
  color: #79818e;
}
.skin-orange .sidebar-menu .treeview-menu > li.active > a,
.skin-orange .sidebar-menu .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-orange .sidebar-form {
  border-radius: 3px;
  border: 1px solid #898989;
}
.skin-orange .sidebar-form input[type="text"],
.skin-orange .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
}
.skin-orange .sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-orange .sidebar-form input[type="text"]:focus,
.skin-orange .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  color: #fff;
}
.skin-orange .sidebar-form .btn {
  color: #f7f7f7;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-orange.layout-top-nav .main-header > .logo {
  background-color: #de4f1e;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-orange.layout-top-nav .main-header > .logo:hover {
  background-color: #ff6028;
}
.skin-orange .btn-blue{
	background-color: #ff6028;
	color: #fff;
	border: 1px solid #ff6028;
}
.skin-orange .btn-blue:hover{
	background-color: #fff;
	color: #ff6028;	
}
.horizontal-menu .skin-orange.layout-top-nav .sidebar-menu > li.active > a {
    background: #ff6028;
	color: #fff;
}
.skin-orange .main-header .messages-menu .dropdown-toggle i::after, .skin-orange .main-header .notifications-menu .dropdown-toggle i::after, .skin-orange .main-header .tasks-menu .dropdown-toggle i::after {
    border-color: #ffffff;	
}

/*---Skin: orange light---*/
/*---light sidebar---*/
.skin-orange-light .main-header .navbar {
  background-color: #ff6028;
}
.skin-orange-light .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-orange-light .main-header .navbar .nav > li > a:hover,
.skin-orange-light .main-header .navbar .nav > li > a:active,
.skin-orange-light .main-header .navbar .nav > li > a:focus,
.skin-orange-light .main-header .navbar .nav .open > a,
.skin-orange-light .main-header .navbar .nav .open > a:hover,
.skin-orange-light .main-header .navbar .nav .open > a:focus,
.skin-orange-light .main-header .navbar .nav > .active > a,
.skin-orange-light.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover{
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-orange-light .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-orange-light .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-orange-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-orange-light .main-header .navbar .sidebar-toggle:hover {
  background-color: transparent;
}
@media (max-width: 767px) {
  .skin-orange-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-orange-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-orange-light .main-header .navbar .dropdown-menu li a:hover {
    background: #de4f1e;
  }
}
.skin-orange-light .main-header .logo {
  background-color: #de4f1e;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-orange-light .main-header .logo:hover {
  background-color: #ff6028;
}
.skin-orange-light .main-header li.user-header {
  background-color: #fff;
}
.skin-orange-light .content-header {
  background: #f2f6f8;
}
.skin-orange-light .content {
  background: #f2f6f8;
}
.skin-orange-light .wrapper,
.skin-orange-light .main-sidebar,
.skin-orange-light .left-side {
  background-color: #ffffff;
  box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
}
.skin-orange-light .user-panel > .info,
.skin-orange-light .user-panel > .info > a {
  color: #fff;
}

.skin-orange-light .sidebar-menu > li.header {
  color: #333;
  background: #fff;
}
.skin-orange-light .sidebar-menu > li > a {
  border-left:none;
}
.skin-orange-light .sidebar-menu > li:hover > a{
  color: #ff6028;
  background: rgba(0,0,0,0.1);
}
.skin-orange-light .sidebar-menu > li.active > a,
.skin-orange-light .sidebar-menu > li.menu-open > a {
  color: #ff6028;
}
.skin-orange-light .sidebar-menu > li.active > a {
  border-left-color: #ff6028;
}
.skin-orange-light .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #f2f6f8;
}
.skin-orange-light .sidebar a {
  color: #79818e;
}
.skin-orange-light .sidebar a:hover {
  text-decoration: none;
}
.skin-orange-light .sidebar-menu .treeview-menu > li > a {
  color: #79818e;
}
.skin-orange-light .sidebar-menu .treeview-menu > li.active > a,
.skin-orange-light .sidebar-menu .treeview-menu > li > a:hover {
  color: #ff6028;
}
.skin-orange-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #898989;
}
.skin-orange-light .sidebar-form input[type="text"],
.skin-orange-light .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
}
.skin-orange-light .sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-orange-light .sidebar-form input[type="text"]:focus,
.skin-orange-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  color: #fff;
}
.skin-orange-light .sidebar-form .btn {
  color: #f7f7f7;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-orange-light.layout-top-nav .main-header > .logo {
  background-color: #de4f1e;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-orange-light.layout-top-nav .main-header > .logo:hover {
  background-color: #ff6028;
}
.skin-orange-light .btn-blue{
	background-color: #ff6028;
	color: #fff;
	border: 1px solid #ff6028;
}
.skin-orange-light .btn-blue:hover{
	background-color: #fff;
	color: #ff6028;	
}
.horizontal-menu .skin-orange-light.layout-top-nav .sidebar-menu > li.active > a {
    background: #ff6028;
	color: #fff;
}
.skin-orange-light .main-header .messages-menu .dropdown-toggle i::after, .skin-orange-light .main-header .notifications-menu .dropdown-toggle i::after, .skin-orange-light .main-header .tasks-menu .dropdown-toggle i::after {
    border-color: #ffffff;	
}

/*---Skin: Yellow---*/

.skin-yellow .main-header .navbar {
  background-color: #ffbf36;
}
.skin-yellow .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-yellow .main-header .navbar .nav > li > a:hover,
.skin-yellow .main-header .navbar .nav > li > a:active,
.skin-yellow .main-header .navbar .nav > li > a:focus,
.skin-yellow .main-header .navbar .nav .open > a,
.skin-yellow .main-header .navbar .nav .open > a:hover,
.skin-yellow .main-header .navbar .nav .open > a:focus,
.skin-yellow .main-header .navbar .nav > .active > a,
.skin-yellow.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover{
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-yellow .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-yellow .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-yellow .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-yellow .main-header .navbar .sidebar-toggle:hover {
  background-color: transparent;
}
@media (max-width: 767px) {
  .skin-yellow .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-yellow .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-yellow .main-header .navbar .dropdown-menu li a:hover {
    background: #e4a827;
  }
}
.skin-yellow .main-header .logo {
  background-color: #e4a827;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-yellow .main-header .logo:hover {
  background-color: #ffbf36;
}
.skin-yellow .main-header li.user-header {
  background-color: #fff;
}
.skin-yellow .content-header {
  background: #f2f6f8;
}
.skin-yellow .content {
  background: #f2f6f8;
}
.skin-yellow .wrapper,
.skin-yellow .main-sidebar,
.skin-yellow .left-side {
  background-color: #242a33;
  box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
}
.skin-yellow .user-panel > .info,
.skin-yellow .user-panel > .info > a {
  color: #fff;
}

.skin-yellow .sidebar-menu > li.header {
  color: #333;
  background: #fff;
}
.skin-yellow .sidebar-menu > li > a {
  border-left:none;
}
.skin-yellow .sidebar-menu > li:hover > a{
  color: #ffffff;
  background: rgba(0,0,0,0.1);
}
.skin-yellow .sidebar-menu > li.active > a,
.skin-yellow .sidebar-menu > li.menu-open > a {
  color: #ffffff;
}
.skin-yellow .sidebar-menu > li.active > a {
  border-left-color: #ffbf36;
}
.skin-yellow .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #242a33;
}
.skin-yellow .sidebar a {
  color: #79818e;
}
.skin-yellow .sidebar a:hover {
  text-decoration: none;
}
.skin-yellow .sidebar-menu .treeview-menu > li > a {
  color: #79818e;
}
.skin-yellow .sidebar-menu .treeview-menu > li.active > a,
.skin-yellow .sidebar-menu .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-yellow .sidebar-form {
  border-radius: 3px;
  border: 1px solid #898989;
}
.skin-yellow .sidebar-form input[type="text"],
.skin-yellow .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
}
.skin-yellow .sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-yellow .sidebar-form input[type="text"]:focus,
.skin-yellow .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  color: #fff;
}
.skin-yellow .sidebar-form .btn {
  color: #f7f7f7;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-yellow.layout-top-nav .main-header > .logo {
  background-color: #e4a827;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-yellow.layout-top-nav .main-header > .logo:hover {
  background-color: #ffbf36;
}
.skin-yellow .btn-blue{
	background-color: #ffbf36;
	color: #fff;
	border: 1px solid #ffbf36;
}
.skin-yellow .btn-blue:hover{
	background-color: #fff;
	color: #ffbf36;	
}
.horizontal-menu .skin-yellow.layout-top-nav .sidebar-menu > li.active > a {
    background: #ffbf36;
	color: #fff;
}
.skin-yellow .main-header .messages-menu .dropdown-toggle i::after, .skin-yellow .main-header .notifications-menu .dropdown-toggle i::after, .skin-yellow .main-header .tasks-menu .dropdown-toggle i::after {
    border-color: #ffbf36;	
}

/*---Skin: Yellow light---*/
/*---light sidebar---*/

.skin-yellow-light .main-header .navbar {
  background-color: #ffbf36;
}
.skin-yellow-light .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-yellow-light .main-header .navbar .nav > li > a:hover,
.skin-yellow-light .main-header .navbar .nav > li > a:active,
.skin-yellow-light .main-header .navbar .nav > li > a:focus,
.skin-yellow-light .main-header .navbar .nav .open > a,
.skin-yellow-light .main-header .navbar .nav .open > a:hover,
.skin-yellow-light .main-header .navbar .nav .open > a:focus,
.skin-yellow-light .main-header .navbar .nav > .active > a,
.skin-yellow-light.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover{
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-yellow-light .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-yellow-light .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-yellow-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-yellow-light .main-header .navbar .sidebar-toggle:hover {
  background-color: transparent;
}
@media (max-width: 767px) {
  .skin-yellow-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-yellow-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-yellow-light .main-header .navbar .dropdown-menu li a:hover {
    background: #e4a827;
  }
}
.skin-yellow-light .main-header .logo {
  background-color: #e4a827;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-yellow-light .main-header .logo:hover {
  background-color: #ffbf36;
}
.skin-yellow-light .main-header li.user-header {
  background-color: #fff;
}
.skin-yellow-light .content-header {
  background: #f2f6f8;
}
.skin-yellow-light .content {
  background: #f2f6f8;
}
.skin-yellow-light .wrapper,
.skin-yellow-light .main-sidebar,
.skin-yellow-light .left-side {
  background-color: #ffffff;
  box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
}
.skin-yellow-light .user-panel > .info,
.skin-yellow-light .user-panel > .info > a {
  color: #fff;
}

.skin-yellow-light .sidebar-menu > li.header {
  color: #333;
  background: #fff;
}
.skin-yellow-light .sidebar-menu > li > a {
  border-left:none;
}
.skin-yellow-light .sidebar-menu > li:hover > a{
  color: #ffbf36;
  background: rgba(0,0,0,0.1);
}
.skin-yellow-light .sidebar-menu > li.active > a,
.skin-yellow-light .sidebar-menu > li.menu-open > a {
  color: #ffbf36;
}
.skin-yellow-light .sidebar-menu > li.active > a {
  border-left-color: #ffbf36;
}
.skin-yellow-light .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #f0f4f6;
}
.skin-yellow-light .sidebar a {
  color: #79818e;
}
.skin-yellow-light .sidebar a:hover {
  text-decoration: none;
}
.skin-yellow-light .sidebar-menu .treeview-menu > li > a {
  color: #79818e;
}
.skin-yellow-light .sidebar-menu .treeview-menu > li.active > a,
.skin-yellow-light .sidebar-menu .treeview-menu > li > a:hover {
  color: #ffbf36;
}
.skin-yellow-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #898989;
}
.skin-yellow-light .sidebar-form input[type="text"],
.skin-yellow-light .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
}
.skin-yellow-light .sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-yellow-light .sidebar-form input[type="text"]:focus,
.skin-yellow-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  color: #fff;
}
.skin-yellow-light .sidebar-form .btn {
  color: #f7f7f7;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-yellow-light.layout-top-nav .main-header > .logo {
  background-color: #e4a827;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-yellow-light.layout-top-nav .main-header > .logo:hover {
  background-color: #ffbf36;
}
.skin-yellow-light .btn-blue{
	background-color: #ffbf36;
	color: #fff;
	border: 1px solid #ffbf36;
}
.skin-yellow-light .btn-blue:hover{
	background-color: #fff;
	color: #ffbf36;	
}
.horizontal-menu .skin-yellow-light.layout-top-nav .sidebar-menu > li.active > a {
    background: #ffbf36;
	color: #fff;
}
.skin-yellow-light .main-header .messages-menu .dropdown-toggle i::after, .skin-yellow-light .main-header .notifications-menu .dropdown-toggle i::after, .skin-yellow-light .main-header .tasks-menu .dropdown-toggle i::after {
    border-color: #ffbf36;	
}