<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Aviva Rematricula" />
    <meta name="author" content="Intera" />
    <link rel="icon" href="images/favicon.ico" />

    <title>AVIVA</title>
  
	<!-- Bootstrap 4.1.3-->
	<link rel="stylesheet" href="assets_new/vendor_components/bootstrap/css/bootstrap.css" />
	
	<!-- Bootstrap-extend-->
	<link rel="stylesheet" href="css/bootstrap-extend.css" />

	<!-- Font Awesome -->
	<link rel="stylesheet" href="assets_new/vendor_components/font-awesome/css/font-awesome.min.css" />

	<!-- Ionicons -->
	<link rel="stylesheet" href="assets_new/vendor_components/Ionicons/css/ionicons.min.css" />

	<!--alerts CSS -->
    <link href="assets_new/vendor_components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
    
	<!-- Theme style -->
	<link rel="stylesheet" href="css/master_style.css" />

	<!-- Minimal-art Admin Skins. Choose a skin from the css/skins
	   folder instead of downloading all of them to reduce the load. -->
	<link rel="stylesheet" href="css/skins/_all-skins.css" />	

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" />

</h:head>


<h:body class="hold-transition skin-blue sidebar-mini">

<!-- Site wrapper -->
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
     <span class="logo-mini"><img src="img/logo.png" alt="" /></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>AVIVA</b></span>
    </a>
    <!-- Header Navbar-->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
		  <!-- User Account-->
          <li class="dropdown user user-menu">
            <a href="home.xhtml"><i class="ion ion-person"></i> Home</a>
          </li>
        </ul>
        <ul class="nav navbar-nav">
		  <!-- User Account-->
          <li class="dropdown user user-menu">
            <a href="index.xhtml"><i class="ion ion-person"></i> Sair</a>
          </li>
        </ul>
      </div>
      
    </nav>
  </header>

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="image float-left">
          <img src="img/logo.png" class="rounded-circle11111" alt="User Image" />
        </div>
        <div class="info float-left">
          <p>#{sessionScope.usuario}</p>          
        </div>
		  
      </div>
      
      <!-- sidebar menu -->
      <ul class="sidebar-menu" data-widget="tree">
        
        <li class="treeview  active">
          <a href="#">
            <i class="fa fa-clipboard"></i>
            <span>Rematrícula</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="contrato.xhtml"><span class="fa-stack"><span class="fa fa-circle-o fa-stack-2x"></span><span class="fa-stack-1x">1</span></span>&#160;Dados Contratante</a></li>
            <li><a href="contrato2.xhtml"><span class="fa-stack"><span class="fa fa-circle-o fa-stack-2x"></span><span class="fa-stack-1x">2</span></span>&#160;Dados Aluno</a></li>
            <li class="active"><a href="contrato3.xhtml"><span class="fa-stack"><span class="fa fa-circle-o fa-stack-2x"></span><span class="fa-stack-1x">3</span></span>&#160;Dados Contratação</a></li>
            <li><a href="#"><span class="fa-stack"><span class="fa fa-circle-o fa-stack-2x"></span><span class="fa-stack-1x">4</span></span>&#160;Dados Matrícula</a></li>
            <li><a href="#"><span class="fa-stack"><span class="fa fa-circle-o fa-stack-2x"></span><span class="fa-stack-1x">5</span></span>&#160;Dados Material</a></li>
            <li><a href="#"><span class="fa-stack"><span class="fa fa-circle-o fa-stack-2x"></span><span class="fa-stack-1x">6</span></span>&#160;Dados Atividades</a></li>
            <li><a href="#"><span class="fa-stack"><span class="fa fa-circle-o fa-stack-2x"></span><span class="fa-stack-1x">7</span></span>&#160;Contrato</a></li>
            <li><a href="#"><span class="fa-stack"><span class="fa fa-circle-o fa-stack-2x"></span><span class="fa-stack-1x">8</span></span>&#160;Confirmação</a></li>
          </ul>
        </li>
        
      </ul>
    </section>
    <!-- /.sidebar -->
    
  </aside>

  <!-- =============================================== -->

  <div id="conteudo">
		<ui:insert name="conteudo">Conteudo</ui:insert>
  </div>
	
  <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
      <b>Version</b> 1.1
    </div>Copyright 2018 <a href="https://www.multipurposethemes.com/">Avivadi</a>. Todos os direitos reservados.
  </footer>
  
 
</div>
<!-- ./wrapper -->


	<!-- jQuery 3 -->
	<script src="assets_new/vendor_components/jquery-3.3.1/jquery-3.3.1.js"></script>
	
	<!-- popper -->
	<script src="assets_new/vendor_components/popper/dist/popper.min.js"></script>
	
	<!-- Bootstrap 4.1.3-->
	<script src="assets_new/vendor_components/bootstrap/js/bootstrap.min.js"></script>
	
	<!-- SlimScroll -->
	<script src="assets_new/vendor_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	
	<!-- FastClick -->
	<script src="assets_new/vendor_components/fastclick/lib/fastclick.js"></script>
	
	<!-- Minimal-art Admin App -->
	<script src="js/template.js"></script>
	
	<!-- Minimal-art Admin for demo purposes -->
	<!-- <script src="js/demo.js"></script> -->
	
	<!-- steps  -->
	<script src="assets_new/vendor_components/jquery-steps-master/build/jquery.steps.js"></script>
   
   <!-- validate  -->
    <script src="assets_new/vendor_components/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>
	
	<!-- Sweet-Alert  -->
    <script src="assets_new/vendor_components/sweetalert/sweetalert.min.js"></script>
	
	<!-- wizard  -->
    <script src="js/pages/steps.js"></script>
	

	
</h:body>
</html>