<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml " 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pl="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:define name="conteudo" >

<h:form id="form">
<h:inputHidden value="#{clienteBean.cliente.id}" />
	
	<!-- Content Wrapper. Contains page content -->
    
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Cliente
            <small>Histórico do cliente</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Aviva</a></li>
            <li class="active">Histórico do Cliente</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          
          <!-- Your Page Content Here -->
          <div class="row">
            <!-- left column -->
	            <div class="col-md-12">
	            <!-- general form elements -->
	              
	            <div class="box box-primary">
	            
	                <div class="box-header with-border">
	                  <h3 class="box-title">Histórico de Cliente</h3>
	                </div><!-- /.box-header -->

	               <div class="box-body">
                  	    
                  	    <p:messages id="messages" />
                  	    
                  	    <div class="form-group col-md-3">
	                      <label for="exampleInputNome">Cliente: </label>
	                      <mark><h:outputText value="Mauricio" /></mark>
	                    </div>
	                    <div class="form-group col-md-3">
	                      <label for="InputCnpj">CPF: </label>
	                      <mark><h:outputText value="222.333.444-55" /></mark>
	                    </div>
	                    <div class="form-group col-md-3">
	                      <label for="InputCnpj">Nascimento: </label>
	                      <mark><h:outputText value="26/07/1974 - 44 anos" /></mark>
	                    </div>
                    	<div class="form-group col-md-3">
	                      <label for="InputCnpj">Telefone: </label>
	                      <mark><h:outputText value="(11) 91234-5678" /></mark>
	                    </div>
                    	
                    	<div class="form-group col-md-3">
	                      <label for="exampleInputNome">Endereço: </label>
	                      <mark><h:outputText value="Rua João Artoni, 170" /></mark>
	                    </div>
	                    <div class="form-group col-md-3">
	                      <label for="InputCnpj">Cidade: </label>
	                      <mark><h:outputText value="Guarulhos" /></mark>
	                    </div>
	                    <div class="form-group col-md-3">
	                      <label for="InputCnpj">Convênio: </label>
	                      <mark><h:outputText value="Bradesco" /></mark>
	                    </div>
                    	<div class="form-group col-md-3">
	                      <label for="InputCnpj">Celular: </label>
	                      <mark><h:outputText value="(11) 91234-5678" /></mark>
	                    </div>
	                    
	                    <div class="form-group col-md-3">
	                      <label for="exampleInputNome">Bairro: </label>
	                      <mark><h:outputText value="Jd.Testae" /></mark>
	                    </div>
	                    <div class="form-group col-md-3">
	                      <label for="InputCnpj">Estado: </label>
	                      <mark><h:outputText value="SP" /></mark>
	                    </div>
	                    <div class="form-group col-md-3">
	                      <label for="InputCnpj">CEP: </label>
	                      <mark><h:outputText value="07130-510" /></mark>
	                    </div>
                    	<div class="form-group col-md-3">
	                      <label for="InputCnpj">Email: </label>
	                      <mark><h:outputText value="email@email.com.br" /></mark>
	                    </div>
                    	
	                    
                  	</div><!-- /.box-body -->
	                
	            </div>  <!-- /.box -->
	            
	          </div>  <!-- /.div left column -->
	          
	          <div class="col-md-6">  <!-- /div rigth column -->
	            <!-- general form elements -->
	              
	            <div class="box box-primary">
	            
	                <div class="box-header with-border">
	                  <h3 class="box-title">Internações</h3>
	                </div><!-- /.box-header -->
	                
	            	<div class="box-body">
	            
	                    <h:dataTable id="lista_internacao" var="dados" value="#{clienteBean.clientes}" styleClass="table table-bordered">
		                    	
		                        <h:column>
									<f:facet name="header">Data</f:facet> 
									<h:outputText value="10/10/2017" />
								</h:column>
								<h:column>
									<f:facet name="header">Status</f:facet> 
								  	<span class="badge bg-green"><h:outputText value="Realizada" ></h:outputText></span>	
								</h:column>
								<h:column>
									<f:facet name="header">Diagnóstico</f:facet> 
								  	<h:outputText value="Colecistite Crônica" />
								</h:column>
								<h:column styleClass="width: 10px">
									<f:facet name="header">Médico</f:facet> 
								  	<span class="badge bg-blue"><h:outputText value="Paulino" ></h:outputText></span>								  	
								</h:column>
								
		                  </h:dataTable>
		            
		                  
                	</div><!-- /.box-body -->
                
              	</div><!-- /.box -->    
                
	          </div>  <!-- /.div rigth column -->
	          
	          <div class="col-md-6">  <!-- /div rigth column -->
	            <!-- general form elements -->
	              
	            <div class="box box-primary">
	            
	                <div class="box-header with-border">
	                  <h3 class="box-title">Cirurgias</h3>
	                </div><!-- /.box-header -->
	                
	            	<div class="box-body">
	            
	                     <h:dataTable id="lista_cirurgia" var="dados" value="#{clienteBean.clientes}" styleClass="table table-bordered">
		                    	
		                        <h:column>
									<f:facet name="header">Data</f:facet> 
									<h:outputText value="10/10/2017 16:00" />
								</h:column>
								<h:column>
									<f:facet name="header">Status</f:facet> 
								  	<span class="badge bg-green"><h:outputText value="Realizada" ></h:outputText></span>	
								</h:column>
								<h:column>
									<f:facet name="header">Diagnóstico</f:facet> 
								  	<h:outputText value="Colecistite Crônica" />
								</h:column>
								<h:column styleClass="width: 10px">
									<f:facet name="header">Médico</f:facet> 
								  	<span class="badge bg-blue"><h:outputText value="Paulino" ></h:outputText></span>								  	
								</h:column>
								
		                  </h:dataTable>
		            
		                  
                	</div><!-- /.box-body -->
                
              	</div><!-- /.box -->    
                
	          </div>  <!-- /.div rigth column -->
	          
           </div> <!-- /.div row -->
          
        </section><!-- /.content -->
        
      </div><!-- /.content-wrapper -->

<script>
	
function show_confirm() {
		return confirm("Confirma a exclusão do cliente ?");
}
			
</script>

<script type="text/javascript">
            $(function () {
                $('.datetimepicker4').datetimepicker({
                	format: 'DD/MM/YYYY'                	
                });
            });
</script>
		
</h:form>

</ui:define>
	
</ui:composition>
