<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/template_passo6.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
	
<ui:define name="conteudo" >
  
<h:form id="form" prependId="false">
<h:inputHidden value="#{contratoBean.contrato.id}" />

<script>
$(document).ready(
	    function() {
	        $("#checkboxhorariomisto").click(function() {
	            $("#box_horario_misto").toggle();
	        });
	    });
</script>

<style type="text/css">
#box_horario_misto {
    display: none;
}
</style>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Rematrícula
      </h1>
      <h3>Nome Aluno: #{contratoBean.contrato.nome_aluno}</h3>
      
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Rematrícula</a></li>
        <li class="breadcrumb-item active">Dados Atividade Extra-Curricular</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="card-title">Dados Atividade Extra-Curricular</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        
        <div class="box-body">
            
				<section>
					
					<h4>O(A) aluno(a) irá realizar atividade extra-curricular de Balé?</h4>
					
					<hr></hr>
					
					<div class="row">
					
					<div class="col-md-4">
						<div class="col-md-12 form-group">
							<input type="radio" jsf:id="item1" pt:name="atividadebale" value="S1" >
		                    	<f:passThroughAttribute name="checked" value="#{contratoBean.contrato.atividade_bale_1parcela eq true ? 'checked' : null}" />
		                    	<f:viewParam name="atividadebale" value="#{contratoBean.atividadebaleID}" />
		                    </input>
		                    <h:outputLabel for="item1" value="SIM em 1 Parcela" />
		                </div>
		                <div class="col-md-12">
							<div class="form-group">
								<h6 class="direct-chat-timestamp-top-blue pull-left">Opção Parcela Única com vencimento em Fevereiro/2019</h6>	
							</div>
					    </div>
					    <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorBale">Valor</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.atividade_bale_1parcela_valor}" id="inputValorBale" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>									
							</div>
					    </div>
					    <div class="col-md-12 col-12">
					    	<hr></hr>
					    </div>
		            </div>
		            
		            <div class="col-md-4">
		                <div class="col-md-12 form-group">    
		                    <input type="radio" jsf:id="item2" pt:name="atividadebale" value="S10" >
		                    	<f:passThroughAttribute name="checked" value="#{contratoBean.contrato.atividade_bale_10parcelas eq true ? 'checked' : null}" />
		                    	<f:viewParam name="atividadebale" value="#{contratoBean.atividadebaleID}" />
		                    </input>
		                    <h:outputLabel for="item2" value="SIM em 10 Parcelas" />
		                </div>
		                <div class="col-md-12">
							<div class="form-group">
								<h6 class="direct-chat-timestamp-top-blue pull-left">Emissão junto com as mensalidades de fevereiro a junho e agosto a dezembro</h6>
							</div>
					    </div>
					    <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorBaleParcelas">Valor</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.atividade_bale_10parcelas_valor}" id="inputValorBaleParcelas" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    <div class="col-md-12 col-12">
					    	<hr></hr>
					    </div>
		             </div>   
		             
		             <div class="col-md-4">   
		                <div class="col-md-12 form-group">    
		                    <input type="radio" jsf:id="item3" pt:name="atividadebale" value="N" >
		                    	<f:passThroughAttribute name="checked" value="#{contratoBean.contrato.atividade_bale eq false ? 'checked' : null}" />
		                    	<f:viewParam name="atividadebale" value="#{contratoBean.atividadebaleID}" />
		                    </input>
		                    <h:outputLabel for="item3" value="NÂO" />
		                </div>
		               	<div class="col-md-12">
							<div class="form-group">
								<h6 class="direct-chat-timestamp-top-blue pull-left"></h6>
							</div>
					    </div>
					     <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorBaleParcelas"></label>								
							</div>
					    </div>	
					 </div>   
					    				   
					</div>
				
					
				</section>
				
        </div>
        
        <hr></hr>
        
        <h:panelGroup rendered="#{contratoBean.contrato.grupo gt '2'}">
        <div class="box-body">
            
				<section>
					
					<h4>O(A) aluno(a) irá realizar atividade extra-curricular de Judô?</h4>
					
					<hr></hr>
					
					<div class="row">
					
					<div class="col-md-4">    
					    <div class="col-md-12 form-group">
							<input type="radio" jsf:id="item4" pt:name="atividadejudo" value="S1" >
		                    	<f:passThroughAttribute name="checked" value="#{contratoBean.contrato.atividade_judo_1parcela eq true ? 'checked' : null}" />
		                    	<f:viewParam name="atividadejudo" value="#{contratoBean.atividadejudoID}" />
		                    </input>
		                    <h:outputLabel for="item4" value="SIM em 1 Parcela" />
		                </div>
		                <div class="col-md-12">
							<div class="form-group">
								<h6 class="direct-chat-timestamp-top-blue pull-left">Opção Parcela Única com vencimento em Fevereiro/2019</h6>	
							</div>
					    </div>
		                <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorJudo">Valor</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.atividade_judo_1parcela_valor}" id="inputValorJudo" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>									
							</div>
					    </div>
					    <div class="col-md-12 col-12">
					    	<hr></hr>
					    </div>
		             </div>
		             
		             <div class="col-md-4">
		                <div class="col-md-12 form-group">
							<input type="radio" jsf:id="item5" pt:name="atividadejudo" value="S10" >
		                    	<f:passThroughAttribute name="checked" value="#{contratoBean.contrato.atividade_judo_10parcelas eq true ? 'checked' : null}" />
		                    	<f:viewParam name="atividadejudo" value="#{contratoBean.atividadejudoID}" />
		                    </input>
		                    <h:outputLabel for="item5" value="SIM em 10 Parcelas" />
		                </div>
		                <div class="col-md-12">
							<div class="form-group">
								<h6 class="direct-chat-timestamp-top-blue pull-left">Emissão junto com as mensalidades de fevereiro a junho e agosto a dezembro</h6>
							</div>
					    </div>
		                <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorJudoParcelas">Valor</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.atividade_judo_10parcelas_valor}" id="inputValorJudoParcelas" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    <div class="col-md-12 col-12">
					    	<hr></hr>
					    </div>
					 </div>
					 
					 <div class="col-md-4">
		                <div class="col-md-12 form-group">    
		                    <input type="radio" jsf:id="item6" pt:name="atividadejudo" value="N" >
		                    	<f:passThroughAttribute name="checked" value="#{contratoBean.contrato.atividade_judo eq false ? 'checked' : null}" />
		                    	<f:viewParam name="atividadejudo" value="#{contratoBean.atividadejudoID}" />
		                    </input>
		                    <h:outputLabel for="item6" value="NÂO" />
		                </div>
					   	<div class="col-md-12">
							<div class="form-group">
								<h6 class="direct-chat-timestamp-top-blue pull-left"></h6>
							</div>
					    </div>		
					    <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorJudoParcelas"></label>								
							</div>
					    </div>
					 </div>   				   
					</div>
					
					
				</section>
				
        </div>
        </h:panelGroup>
        
        <!-- /.box-body  -->
        <div class="box-footer">
          <p:messages id="messages" />
          <div class="btn-group">
	         	<p:commandButton value="Salvar e Continuar" type="submit" id="gravar" update="@form" actionListener="#{contratoBean.adiciona_passo6}" styleClass="btn btn-warning" />
	      </div>
        </div>
        <!-- /.box-footer-->
        
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

</h:form>

</ui:define>
	
</ui:composition>
