<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/template_passo2.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:define name="conteudo" >
  
<h:form id="form" prependId="false">
<h:inputHidden value="#{contratoBean.contrato.id}" />

<script>

$(document).ready(function () {
    
    $("#checkboxhorarioalterado").click(function() {
        $("#box_horario_alterado").toggle();
        $("#checkboxhorarioalterado").hide();
        $("#gravar").hide();
        $("#gravar2").toggle();
    });

});
</script>

<style type="text/css">
#box_horario_alterado {
    display: none;
}
#gravar2 {
    display: none;
}
@media only screen and (min-width: 800px) {
    .desktop-hide{ display: none !important; }
    }
</style>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Rematrícula
      </h1>
      <h3>Nome Aluno: #{contratoBean.contrato.nome_aluno}</h3>
      
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Rematrícula</a></li>
        <li class="breadcrumb-item active">Dados Aluno</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="card-title">Dados Aluno</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        
        <div class="box-body">
            
				<section>
				    
					<div class="row">
					    <div class="col-md-8">
							<div class="form-group">
								<label for="inputNomeAluno">Nome</label>
								<h:inputText type="text" class="form-control" disabled="#{contratoBean.disabled}" required="true" value="#{contratoBean.contrato.nome_aluno}" id="inputNomeAluno" requiredMessage="Informe o nome" />
							</div>
					    </div>
					    <div class="col-md-4">
							<div class="form-group">
								<label for="inputDataNascimento">Data Nascimento</label>
								<p:inputMask type="text" mask="99/99/9999" class="form-control" disabled="#{contratoBean.disabled}" required="true" value="#{contratoBean.contrato.data_nascimento}" id="inputDataNascimento" requiredMessage="Informe a data de nascimento" />
							</div>
						</div>
					</div>
					<div class="row">
						
						<div class="col-md-3">
							<div class="form-group">
								<label for="inputTurma">Grupo</label>
								<h:inputText type="text" class="form-control" disabled="#{contratoBean.disabled}" value="G#{contratoBean.contrato.grupo}" id="inputTurma" />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="inputPeriodo">Período</label>
					            <h:selectOneMenu class="form-control periodo" disabled="true" id="inputPeriodo" value="#{contratoBean.contrato.periodo}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o período" /> 
										<f:selectItem itemLabel="Manhã - 4 horas" itemValue="M4" />
										<f:selectItem itemLabel="Tarde - 4 horas" itemValue="T4" />
										<f:selectItem itemLabel="Semi-Integral - 6 horas" itemValue="SI6" />
										<f:selectItem itemLabel="Semi-Integral - 8 horas" itemValue="SI8" />
										<f:selectItem itemLabel="Integral - 10 horas" itemValue="I10" />
										<f:selectItem itemLabel="Integral - 12 horas" itemValue="I12" />
										<f:selectItem itemLabel="Misto" itemValue="MISTO" />															       
						  		</h:selectOneMenu>  
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="inputHorarioEntrada">Horário Entrada</label>
					            <h:selectOneMenu class="form-control" id="inputHorarioEntrada" disabled="true" value="#{contratoBean.contrato.hora_entrada}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o horario entrada" /> 
										<f:selectItem itemLabel="07:00" itemValue="07:00" />
										<f:selectItem itemLabel="07:30" itemValue="07:30" />
										<f:selectItem itemLabel="08:00" itemValue="08:00" />
										<f:selectItem itemLabel="08:30" itemValue="08:30" />
										<f:selectItem itemLabel="09:00" itemValue="09:00" />
										<f:selectItem itemLabel="09:30" itemValue="09:30" />
										<f:selectItem itemLabel="10:00" itemValue="10:00" />
										<f:selectItem itemLabel="10:30" itemValue="10:30" />
										<f:selectItem itemLabel="11:00" itemValue="11:00" />
										<f:selectItem itemLabel="11:30" itemValue="11:30" />
										<f:selectItem itemLabel="12:00" itemValue="12:00" />
										<f:selectItem itemLabel="12:30" itemValue="12:30" />
										<f:selectItem itemLabel="13:00" itemValue="13:00" />
										<f:selectItem itemLabel="13:30" itemValue="13:30" />
										<f:selectItem itemLabel="14:00" itemValue="14:00" />
										<f:selectItem itemLabel="14:30" itemValue="14:30" />
										<f:selectItem itemLabel="15:00" itemValue="15:00" />
										<f:selectItem itemLabel="15:30" itemValue="15:30" />
										<f:selectItem itemLabel="16:00" itemValue="16:00" />
										<f:selectItem itemLabel="16:30" itemValue="16:30" />
										<f:selectItem itemLabel="17:00" itemValue="17:00" />
										<f:selectItem itemLabel="17:30" itemValue="17:30" />
										<f:selectItem itemLabel="18:00" itemValue="18:00" />
										<f:selectItem itemLabel="18:30" itemValue="18:30" />
										<f:selectItem itemLabel="19:00" itemValue="19:00" />
										<f:selectItem itemLabel="19:30" itemValue="19:30" />
										<f:selectItem itemLabel="20:00" itemValue="20:00" />
										<f:selectItem itemLabel="20:30" itemValue="20:30" />
										<f:selectItem itemLabel="21:00" itemValue="21:00" />
										<f:selectItem itemLabel="Misto" itemValue="MISTO" />											       
						  		</h:selectOneMenu>  
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="inputHorarioSaida">Horário Saída</label>
					            <h:selectOneMenu class="form-control" id="inputHorarioSaida" disabled="true" value="#{contratoBean.contrato.hora_saida}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o horario saída" /> 
										<f:selectItem itemLabel="07:00" itemValue="07:00" />
										<f:selectItem itemLabel="07:30" itemValue="07:30" />
										<f:selectItem itemLabel="08:00" itemValue="08:00" />
										<f:selectItem itemLabel="08:30" itemValue="08:30" />
										<f:selectItem itemLabel="09:00" itemValue="09:00" />
										<f:selectItem itemLabel="09:30" itemValue="09:30" />
										<f:selectItem itemLabel="10:00" itemValue="10:00" />
										<f:selectItem itemLabel="10:30" itemValue="10:30" />
										<f:selectItem itemLabel="11:00" itemValue="11:00" />
										<f:selectItem itemLabel="11:30" itemValue="11:30" />
										<f:selectItem itemLabel="12:00" itemValue="12:00" />
										<f:selectItem itemLabel="12:30" itemValue="12:30" />
										<f:selectItem itemLabel="13:00" itemValue="13:00" />
										<f:selectItem itemLabel="13:30" itemValue="13:30" />
										<f:selectItem itemLabel="14:00" itemValue="14:00" />
										<f:selectItem itemLabel="14:30" itemValue="14:30" />
										<f:selectItem itemLabel="15:00" itemValue="15:00" />
										<f:selectItem itemLabel="15:30" itemValue="15:30" />
										<f:selectItem itemLabel="16:00" itemValue="16:00" />
										<f:selectItem itemLabel="16:30" itemValue="16:30" />
										<f:selectItem itemLabel="17:00" itemValue="17:00" />
										<f:selectItem itemLabel="17:30" itemValue="17:30" />
										<f:selectItem itemLabel="18:00" itemValue="18:00" />
										<f:selectItem itemLabel="18:30" itemValue="18:30" />
										<f:selectItem itemLabel="19:00" itemValue="19:00" />
										<f:selectItem itemLabel="19:30" itemValue="19:30" />
										<f:selectItem itemLabel="20:00" itemValue="20:00" />
										<f:selectItem itemLabel="20:30" itemValue="20:30" />
										<f:selectItem itemLabel="21:00" itemValue="21:00" />
										<f:selectItem itemLabel="Misto" itemValue="MISTO" />											       
						  		</h:selectOneMenu>  
							</div>
						</div>
						
				</div>
				<div class="row">
						<div class="col-md-4">
								<div class="form-group">
									<label for="inputQtdLanche">Lanche</label>
									<h:selectOneMenu class="form-control" id="inputQtdLanche" disabled="true" value="#{contratoBean.contrato.lanche}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o lanche" /> 
										<f:selectItem itemLabel="MANHÃ" itemValue="M" />
										<f:selectItem itemLabel="TARDE" itemValue="T" />
										<f:selectItem itemLabel="MANHÃ + TARDE" itemValue="MT" />
										<f:selectItem itemLabel="NENHUM" itemValue="N" />
						  			</h:selectOneMenu>  
								</div>
						</div>
						<div class="col-md-4">
								<div class="form-group">
									<label for="inputQtdRefeicao">Refeição</label>
									<h:selectOneMenu class="form-control" id="inputQtdRefeicao" disabled="true" value="#{contratoBean.contrato.refeicao}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe a refeição" /> 
										<f:selectItem itemLabel="ALMOÇO" itemValue="A" />
										<f:selectItem itemLabel="JANTAR" itemValue="J" />
										<f:selectItem itemLabel="ALMOÇO + JANTAR" itemValue="AJ" />
										<f:selectItem itemLabel="NENHUM" itemValue="N" />
						  			</h:selectOneMenu>
								</div>
						</div>
				</div>
				
				</section>
		
		<h:panelGroup rendered="#{contratoBean.contrato.periodo eq 'MISTO'}">	
		<div class="box box-info">
        
	        <div class="box-header">
	          <h3 class="card-title">Dados Horário Misto</h3>
	        </div>
        
        	<div class="box-body">
            
					<div class="row">
					    <div class="col-md-2 col-12">
							<div class="form-group">
								<br></br>
								<label>SEG</label>
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<label for="inputhorariomistoentrada_segunda">Entrada</label>
								<h:inputText type="text" id="inputhorariomistoentrada_segunda" class="form-control" disabled="true" value="#{contratoBean.contrato.horario_misto_entrada_seg}" />
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<label for="inputhorariomistosaida_segunda">Saída</label>
								<h:inputText type="text" id="inputhorariomistosaida_segunda" class="form-control" disabled="true" value="#{contratoBean.contrato.horario_misto_saida_seg}" />
							</div>
					    </div>
					    <div class="col-md-2 col-12">
							<div class="form-group">
								<label for="inputhorariomistoperiodo_segunda">Período</label>
								<h:inputText type="text" class="form-control" id="inputhorariomistoperiodo_segunda" disabled="true" value="#{contratoBean.contrato.periodo_seg}" />
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<label for="inputQtdLancheseg">Lanche</label>
								<h:selectOneMenu class="form-control" id="inputQtdLancheseg" disabled="true" value="#{contratoBean.contrato.lanche_misto_seg}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o lanche" /> 
										<f:selectItem itemLabel="MANHÃ" itemValue="M" />
										<f:selectItem itemLabel="TARDE" itemValue="T" />
										<f:selectItem itemLabel="MANHÃ + TARDE" itemValue="MT" />
										<f:selectItem itemLabel="NENHUM" itemValue="N" />
						  		</h:selectOneMenu>  
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<label for="inputQtdRefeicaoseg">Refeição</label>
								<h:selectOneMenu class="form-control" id="inputQtdRefeicaoseg" disabled="true" value="#{contratoBean.contrato.refeicao_misto_seg}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe a refeição" /> 
										<f:selectItem itemLabel="ALMOÇO" itemValue="A" />
										<f:selectItem itemLabel="JANTAR" itemValue="J" />
										<f:selectItem itemLabel="ALMOÇO + JANTAR" itemValue="AJ" />
										<f:selectItem itemLabel="NENHUM" itemValue="N" />
						  		</h:selectOneMenu>
							</div>
					    </div>
					   
					</div>
					
					<div class="row">
					    <div class="col-md-2 col-12">
							<div class="form-group">
								<label>TER</label>
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputhorariomistoentrada_terca">Entrada</label></div>
								<h:inputText type="text" class="form-control" id="inputhorariomistoentrada_terca" disabled="true" value="#{contratoBean.contrato.horario_misto_entrada_ter}" />
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputhorariomistosaida_terca">Saída</label></div>
								<h:inputText type="text" class="form-control" id="inputhorariomistosaida_terca" disabled="true" value="#{contratoBean.contrato.horario_misto_saida_ter}" />
							</div>
					    </div>
					    <div class="col-md-2 col-12">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputhorariomistoperiodo_terca">Período</label></div>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.periodo_ter}" />
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputQtdLancheter">Lanche</label></div>
								<h:selectOneMenu class="form-control" id="inputQtdLancheter" disabled="true" value="#{contratoBean.contrato.lanche_misto_ter}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o lanche" /> 
										<f:selectItem itemLabel="MANHÃ" itemValue="M" />
										<f:selectItem itemLabel="TARDE" itemValue="T" />
										<f:selectItem itemLabel="MANHÃ + TARDE" itemValue="MT" />
										<f:selectItem itemLabel="NENHUM" itemValue="N" />
						  		</h:selectOneMenu>
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputQtdRefeicaoter">Refeição</label></div>
								<h:selectOneMenu class="form-control" id="inputQtdRefeicaoter" disabled="true" value="#{contratoBean.contrato.refeicao_misto_ter}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe a refeição" /> 
										<f:selectItem itemLabel="ALMOÇO" itemValue="A" />
										<f:selectItem itemLabel="JANTAR" itemValue="J" />
										<f:selectItem itemLabel="ALMOÇO + JANTAR" itemValue="AJ" />
										<f:selectItem itemLabel="NENHUM" itemValue="N" />
						  		</h:selectOneMenu>
							</div>
					    </div>
					   
					</div>
					
					<div class="row">
					    <div class="col-md-2 col-12">
							<div class="form-group">
								<label>QUA</label>
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputhorariomistoentrada_quarta">Entrada</label></div>
								<h:inputText type="text" class="form-control" id="inputhorariomistoentrada_quarta" disabled="true" value="#{contratoBean.contrato.horario_misto_entrada_qua}" />
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputhorariomistosaida_quarta">Saída</label></div>
								<h:inputText type="text" class="form-control" id="inputhorariomistosaida_quarta" disabled="true" value="#{contratoBean.contrato.horario_misto_saida_qua}" />
							</div>
					    </div>
					    <div class="col-md-2 col-12">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputhorariomistoperiodo_quarta">Período</label></div>
								<h:inputText type="text" class="form-control" id="inputhorariomistoperiodo_quarta" disabled="true" value="#{contratoBean.contrato.periodo_qua}" />
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputQtdLanchequa">Lanche</label></div>
								<h:selectOneMenu class="form-control" id="inputQtdLanchequa" disabled="true" value="#{contratoBean.contrato.lanche_misto_qua}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o lanche" /> 
										<f:selectItem itemLabel="MANHÃ" itemValue="M" />
										<f:selectItem itemLabel="TARDE" itemValue="T" />
										<f:selectItem itemLabel="MANHÃ + TARDE" itemValue="MT" />
										<f:selectItem itemLabel="NENHUM" itemValue="N" />
						  		</h:selectOneMenu>
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputQtdRefeicaoqua">Refeição</label></div>
								<h:selectOneMenu class="form-control" id="inputQtdRefeicaoqua" disabled="true" value="#{contratoBean.contrato.refeicao_misto_qua}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe a refeição" /> 
										<f:selectItem itemLabel="ALMOÇO" itemValue="A" />
										<f:selectItem itemLabel="JANTAR" itemValue="J" />
										<f:selectItem itemLabel="ALMOÇO + JANTAR" itemValue="AJ" />
										<f:selectItem itemLabel="NENHUM" itemValue="N" />
						  		</h:selectOneMenu>
							</div>
					    </div>
					   
					</div>
					
					<div class="row">
					    <div class="col-md-2 col-12">
							<div class="form-group">
								<br></br>
								<label>QUI</label>
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputhorariomistoentrada_qui">Entrada</label></div>
								<h:inputText type="text" class="form-control" id="inputhorariomistoentrada_qui" disabled="true" value="#{contratoBean.contrato.horario_misto_entrada_qui}" />
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputhorariomistosaida_qui">Saída</label></div>
								<h:inputText type="text" class="form-control" id="inputhorariomistosaida_qui" disabled="true" value="#{contratoBean.contrato.horario_misto_saida_qui}" />
							</div>
					    </div>
					    <div class="col-md-2 col-12">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputhorariomistoperiodo_qui">Período</label></div>
								<h:inputText type="text" class="form-control" id="inputhorariomistoperiodo_qui" disabled="true" value="#{contratoBean.contrato.periodo_qui}" />
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputQtdLanchequi">Lanche</label></div>
								<h:selectOneMenu class="form-control" id="inputQtdLanchequi" disabled="true" value="#{contratoBean.contrato.lanche_misto_qui}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o lanche" /> 
										<f:selectItem itemLabel="MANHÃ" itemValue="M" />
										<f:selectItem itemLabel="TARDE" itemValue="T" />
										<f:selectItem itemLabel="MANHÃ + TARDE" itemValue="MT" />
										<f:selectItem itemLabel="NENHUM" itemValue="N" />
						  		</h:selectOneMenu>
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputQtdRefeicaoqui">Refeição</label></div>
								<h:selectOneMenu class="form-control" id="inputQtdRefeicaoqui" disabled="true" value="#{contratoBean.contrato.refeicao_misto_qui}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe a refeição" /> 
										<f:selectItem itemLabel="ALMOÇO" itemValue="A" />
										<f:selectItem itemLabel="JANTAR" itemValue="J" />
										<f:selectItem itemLabel="ALMOÇO + JANTAR" itemValue="AJ" />
										<f:selectItem itemLabel="NENHUM" itemValue="N" />
						  		</h:selectOneMenu>
							</div>
					    </div>
					   
					</div>
					
					<div class="row">
					    <div class="col-md-2 col-12">
							<div class="form-group">
								<br></br>
								<label>SEX</label>
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputhorariomistoentrada-sex">Entrada</label></div>
								<h:inputText type="text" class="form-control" id="inputhorariomistoentrada-sex" disabled="true" value="#{contratoBean.contrato.horario_misto_entrada_sex}" />
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputhorariomistosaida-sex">Saída</label></div>
								<h:inputText type="text" class="form-control" id="inputhorariomistosaida-sex" disabled="true" value="#{contratoBean.contrato.horario_misto_saida_sex}" />
							</div>
					    </div>
					    <div class="col-md-2 col-12">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputhorariomistoperiodo-sex">Período</label></div>
								<h:inputText type="text" class="form-control" id="inputhorariomistoperiodo-sex" disabled="true" value="#{contratoBean.contrato.periodo_sex}" />
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputQtdLanchesex">Lanche</label></div>
								<h:selectOneMenu class="form-control" id="inputQtdLanchesex" disabled="true" value="#{contratoBean.contrato.lanche_misto_sex}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o lanche" /> 
										<f:selectItem itemLabel="MANHÃ" itemValue="M" />
										<f:selectItem itemLabel="TARDE" itemValue="T" />
										<f:selectItem itemLabel="MANHÃ + TARDE" itemValue="MT" />
										<f:selectItem itemLabel="NENHUM" itemValue="N" />
						  		</h:selectOneMenu>
							</div>
					    </div>
					    <div class="col-md-2 col-6">
							<div class="form-group">
								<div class="desktop-hide"><label for="inputQtdRefeicaosex">Refeição</label></div>
								<h:selectOneMenu class="form-control" id="inputQtdRefeicaosex" disabled="true" value="#{contratoBean.contrato.refeicao_misto_sex}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe a refeição" /> 
										<f:selectItem itemLabel="ALMOÇO" itemValue="A" />
										<f:selectItem itemLabel="JANTAR" itemValue="J" />
										<f:selectItem itemLabel="ALMOÇO + JANTAR" itemValue="AJ" />
										<f:selectItem itemLabel="NENHUM" itemValue="N" />
						  		</h:selectOneMenu>
							</div>
					    </div>
					   
					</div>
        	</div>
        
      </div>
      <!-- /.box -->
      </h:panelGroup>	
	  
	  <div class="box box-info" id="box_horario_alterado">
        
	     	<div class="box-body">
            
					<div class="row">
					    
					    <div class="col-md-2">
							<div class="form-group">
								<label>Informe o novo horário/período desejado</label>
							</div>
					    </div>
					    <div class="col-md-10">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.texto_periodo_alterado}" />
							</div>
					    </div>
					    
					</div>
        	</div>
        
      </div>
      <!-- /.box -->
      		
        </div>
        
        <!-- /.box-body  -->
        <div class="box-footer">
        	<div class="row">
			          	<div class="form-group col-md-12">
			          		<p:messages id="messages" />
			          	</div>
		    </div>
          <div class="btn-group">
          	 <p:commandButton value="Prosseguir" type="submit" id="gravar" update="@form" actionListener="#{contratoBean.adiciona_passo2}" styleClass="btn btn-warning btn-space10" />
          	 <p:commandButton value="Prosseguir e Enviar solicitação de mudança de horário" type="submit" id="gravar2" update="@form" actionListener="#{contratoBean.adiciona_passo2_comhorario}" styleClass="btn btn-warning btn-space10" />
          	 <h:panelGrid rendered="#{contratoBean.contrato.status_contrato eq 'P'}">
          	 	<button type="button" id="checkboxhorarioalterado" class="btn btn-warning">Solicitar Alteração Horário</button>
          	 </h:panelGrid>
          	 
	      </div>
        </div>
        <!-- /.box-footer-->
        
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

</h:form>

</ui:define>
	
</ui:composition>
