<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/template_admin.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:define name="conteudo" >
  
<h:form id="form" prependId="false">
<h:inputHidden value="#{contratoBean.contrato.id}" />


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Rematrícula
      </h1>
      <h3>Nome Aluno: #{contratoBean.contrato.nome_aluno}</h3>
      
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home_admin.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Rematrícula</a></li>
        <li class="breadcrumb-item active">Dados Aluno</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="card-title">Dados Contratação</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        
        <div class="box-body">
            
				<section>
				    <div class="row">
					    <div class="col-md-6">
							<div class="form-group">
								<label for="inputNomeAluno">Nome</label>
								<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.nome_aluno}" id="inputNomeAluno" requiredMessage="Informe o nome" />
							</div>
					    </div>
					    <div class="col-md-3">
							<div class="form-group">
								<label for="inputTurma">Grupo</label>
								<h:inputText type="text" class="form-control" required="true" disabled="true" value="G#{contratoBean.contrato.grupo}" id="inputTurma" />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="inputStatusContrato"><strong>Status Contrato</strong></label>
					            <h:selectOneMenu class="form-control" id="inputStatusContrato" required="true" disabled="true" value="#{contratoBean.contrato.status_contrato}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o status" /> 
										<f:selectItem itemLabel="PENDENTE" itemValue="P" />
										<f:selectItem itemLabel="SOLICITAÇÃO HORÁRIO" itemValue="F" />
										<f:selectItem itemLabel="LIBERADO NOVO HORÁRIO" itemValue="L" />
										<f:selectItem itemLabel="APROVADO" itemValue="A" />       
						  		</h:selectOneMenu>  
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<strong>Valor Total do Contrato:</strong>
								<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.valor_contrato}" id="inputValorContrato" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>							
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 form-group">
						
							<h4>Valor das Condições de Contratação</h4>
							
							<h:panelGrid rendered="#{contratoBean.contrato.mensalidade == true}" >
								
									<label for="inputValorMensalidadeTotal">VT do contrato Mensal</label>
									<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.mensalidade_valor_total}" id="inputValorMensalidadeTotal" >
										<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
									</h:inputText>
									<label for="inputValorMatricula">Valor Matrícula - Mensal</label>
									<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.mensalidade_matricula}" id="inputValorMatricula" >
											<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
									</h:inputText>
									<label for="inputValorParcela">Valor da Mensalidade</label>
									<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.mensalidade_valor_parcela}" id="inputValorParcela" >
											<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
									</h:inputText>
								
						    </h:panelGrid>
						    <h:panelGrid rendered="#{contratoBean.contrato.semestralidade == true}">
						    
									<label for="inputValorSemestralidadeTotal">VT do contrato Semestral</label>
									<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.semestralidade_valor_total}" id="inputValorSemestralidadeTotal" >
										<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
									</h:inputText>
									<label for="inputValorSemestralidadeMatricula">Valor Matrícula - Semestral</label>
									<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.semestralidade_matricula}" id="inputValorSemestralidadeMatricula" >
											<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
									</h:inputText>
									<label for="inputValorSemestralidadeParcela">Valor da Parcela Semestral</label>
									<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.semestralidade_valor_parcela}" id="inputValorSemestralidadeParcela" >
											<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
									</h:inputText>
								
						    </h:panelGrid>
						    <h:panelGrid rendered="#{contratoBean.contrato.anuidade8 == true}"> 
						    		<label for="inputValorAnuidade8Total">VT do contrato Anual com 8%</label>
									<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.anuidade8_valor_total}" id="inputValorAnuidade8Total" >
										<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
									</h:inputText>
									<label for="inputValorAnuidade8Matricula">Valor Matrícula - Anual com 8%</label>
									<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.anuidade8_matricula}" id="inputValorAnuidade8Matricula" >
											<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
									</h:inputText>
									<label for="inputValorAnuidade8Parcela">Valor da Parcela Anual</label>
									<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.anuidade8_valor_parcela}" id="inputValorAnuidade8Parcela" >
											<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
									</h:inputText>
							</h:panelGrid>
						    <h:panelGrid rendered="#{contratoBean.contrato.anuidade10 == true}">
						    		<label for="inputValorAnuidade10Total">VT contrato Anual com 10%</label>
									<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.anuidade10_valor_total}" id="inputValorAnuidade10Total" >
										<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
									</h:inputText>
									<label for="inputValorAnuidade10Matricula">Valor Matrícula - Anual com 10%</label>
										<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.anuidade10_matricula}" id="inputValorAnuidade10Matricula" >
											<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
									</h:inputText>
									<label for="inputValorAnuidade10Parcela">Valor da Parcela Anual</label>
									<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.anuidade10_valor_parcela}" id="inputValorAnuidade10Parcela" >
											<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
									</h:inputText>
							</h:panelGrid>
						</div>
						<div class="col-md-6 form-group">
							
					    	<h4>Valor das Parcelas de Matrícula</h4>
					    	
					   		<h:panelGrid rendered="#{contratoBean.contrato.matricula_avista10 == true}">
					    		<label for="inputValorMatriculaTotal">Valor a Vista com 10%</label>
								<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.matricula_avista10_valor}" id="inputValorMatriculaTotal" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>									
							</h:panelGrid>
					    
					    	<h:panelGrid rendered="#{contratoBean.contrato.matricula_avista6 == true}">
						   		<label for="inputValorMatricula2Total">Valor a Vista com 6%</label>
								<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.matricula_avista6_valor}" id="inputValorMatricula2Total" >
										<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</h:panelGrid>
					    
					    	<h:panelGrid rendered="#{contratoBean.contrato.matricula_3parcelas == true}">
						    	<label for="inputValorMatriculaParcela">Valor Parcelado em 3x</label>
								<h:inputText type="text" class="form-control" disabled="true" required="true" value="#{contratoBean.contrato.matricula_3parcelas_valor}" id="inputValorMatriculaParcela" >
										<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</h:panelGrid>
							
							<br></br>
							<label for="inputBoleto"><strong>Emissão do Boleto</strong></label>
							<h:selectOneMenu class="form-control" id="inputBoleto" disabled="false" value="#{contratoBean.contrato.flag_boleto_emitido}" >
								<f:selectItem selected="true" itemLabel="Selecione..." itemValue="" pt:placeholder="Informe se emitiu o boleto" />
								<f:selectItem itemLabel="SIM" itemValue="true" />
								<f:selectItem itemLabel="NÃO" itemValue="false" />
							</h:selectOneMenu>  
							
							<br></br>
							<p:messages id="messages" />
					        <div class="btn-group">
					          	 <p:commandButton value="Salvar" type="submit" id="gravar" update="@form" actionListener="#{contratoBean.adiciona_passo2_admin}" styleClass="btn btn-warning btn-space10" />
					          	 <a href="#" onclick="window.history.go(-1); return false;" class="btn btn-default">Retornar</a>         	 
						    </div>
	      
						</div>
					</div>
				
				</section>
		     
		      </div>
            		
        </div>
  
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

</h:form>

</ui:define>
	
</ui:composition>
