<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
	
<ui:define name="conteudo" >

<h:form id="form" prependId="false">
<h:inputHidden value="#{contratoBean.contrato.id}" />


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">

    <!-- Default box -->
    <div class="box box-default">
       
    <div class="box-body">
            
	<section id="contrato">
				
<div id="contrato_impressao">     	
	 
      <div class="row">
	      <div class="col-md-4">
	      	<span class="logo-mini"><img src="img/logo.png" alt="" /></span>
	      </div>
	      <div class="col-md-6">
	      	<label><strong>CONTRATO DE PRESTAÇÃO DE SERVIÇO DE ENSINO</strong></label><br></br>
	      	<label><strong>QUADRO RESUMO MATRÍCULA 2019</strong></label>
	      </div>
	      <div class="col-md-2">
	      	<label><strong>início 2019</strong></label><br></br>
	      </div>
      </div>
      <hr></hr>
      <span class="fonte-green">Contratada:</span>
      <h:outputText rendered="#{contratoBean.contrato.unidade eq 'Boninas'}" value="&#160;&#160;NUCLEO EDUCACIONAL SER FELIZ LTDA - EPP, pessoa jurídica de direito privado, com sede na Alameda das Boninas, n.232, CEP 04049-060, São Paulo/SP, CNPJ/MF n. 58.371.477/0001-63."></h:outputText>
      <h:outputText rendered="#{contratoBean.contrato.unidade eq 'Brooklin'}" value="&#160;&#160;Centro de Educação Infantil Eireli - EPP, pessoa jurídica de direito privado, com sede na Rua Indiana, 1096 – Brooklin Paulista – CEP 04562-002, São Paulo/SP, CNPJ/MF n. 26.599.925/0001-94."></h:outputText>
      <h:outputText rendered="#{contratoBean.contrato.unidade eq 'Moema'}" value="&#160;&#160;Escola de Desenvolvimento Infantil Eireli, pessoa jurídica de direito privado, com sede na Avenida Açoce, 407 – Indianópolis – CEP 04075-020, São Paulo/SP, CNPJ/MF n. 18.532.802/0001-08."></h:outputText>
      <hr></hr>
      <span class="fonte-green">Contratante:</span>
      <div class="row">
	      <div class="col-md-4">
	      	<label><strong>Nome:&#160;&#160;</strong></label><span class="fonte-blue">#{contratoBean.contrato.nome_contratante}</span>
	      </div>
	      <div class="col-md-4">
	      	<label><strong>CPF:&#160;&#160;</strong></label><span class="fonte-blue">#{contratoBean.contrato.cpf}</span>
	      </div>
	      <div class="col-md-4">
	      	<label><strong>Telefone:&#160;&#160;</strong></label><span class="fonte-blue">#{contratoBean.contrato.celular}</span>
	      </div>
      </div>
      <div class="row">
	      <div class="col-md-12">
	      	<label><strong>Email:&#160;&#160;</strong></label><span class="fonte-blue">#{contratoBean.contrato.email}</span>
	      </div>
	      <div class="col-md-12">
	      	<label><strong>Endereço:&#160;&#160;</strong></label><span class="fonte-blue">#{contratoBean.contrato.endereco}</span>
	      </div>
      </div>
      <div class="row">
	      <div class="col-md-4">
	      	<label><strong>Bairro:&#160;&#160;</strong></label><span class="fonte-blue">#{contratoBean.contrato.bairro}</span>
	      </div>
	      <div class="col-md-4">
	      	<label><strong>CEP:&#160;&#160;</strong></label><span class="fonte-blue">#{contratoBean.contrato.cep}</span>
	      </div>
	      <div class="col-md-4">
	      	<label><strong>Cidade:&#160;&#160;</strong></label><span class="fonte-blue">#{contratoBean.contrato.cidade}</span>
	      </div>
      </div>
      
      <hr></hr>
      <span class="fonte-green">Dados Escolares</span>
      <div class="row">
	      <div class="col-md-6">
	      	<label><strong>Nome aluno:&#160;&#160;</strong></label><span class="fonte-blue">#{contratoBean.contrato.nome_aluno}</span>
	      </div>
	      <div class="col-md-6">
	      	<label><strong>Grupo: &#160;&#160;</strong></label><span class="fonte-blue">G#{contratoBean.contrato.grupo}</span>
	      </div>
	      <div class="col-md-12">
	      	<label><strong>Nasc.:&#160;&#160;</strong></label>
	      	<span class="fonte-blue">
		      	<h:outputText value="#{contratoBean.contrato.data_nascimento}">
		      		<f:convertNumber pattern="##/##/####" />
		      	</h:outputText>
	      	</span>
	      </div>
	      <div class="col-md-6">
	      	<label><strong>Período:&#160;&#160;</strong></label><span class="fonte-blue">#{contratoBean.contrato.total_horas} horas</span>
	      </div>
	      <div class="col-md-6">
	      	<label><strong>Alimentação:&#160;&#160;</strong></label>
	      </div>
	      <div class="col-md-6">
	      	<label><strong>Horário Entrada:&#160;&#160;</strong></label><span class="fonte-blue">#{contratoBean.contrato.hora_entrada}</span>
	      </div>
	      <div class="col-md-6">
	      	<label><strong>Lanche:&#160;&#160;</strong></label>
	      	<span class="fonte-blue">
	      	<h:outputText value="MANHÃ + TARDE" rendered="#{contratoBean.contrato.lanche eq 'MT'}"></h:outputText>
	      	<h:outputText value="TARDE" rendered="#{contratoBean.contrato.lanche eq 'T'}"></h:outputText>
	      	<h:outputText value="MANHÃ" rendered="#{contratoBean.contrato.lanche eq 'M'}"></h:outputText>
	      	</span>
	      	&#160;&#160;&#160;&#160;&#160;&#160;
	      	<label><strong>Refeição:&#160;&#160;</strong></label>
	      	<span class="fonte-blue">
	      	<h:outputText value="ALMOÇO + JANTAR" rendered="#{contratoBean.contrato.refeicao eq 'AJ'}"></h:outputText>
	      	<h:outputText value="ALMOÇO" rendered="#{contratoBean.contrato.refeicao eq 'A'}"></h:outputText>
	      	<h:outputText value="JANTAR" rendered="#{contratoBean.contrato.refeicao eq 'J'}"></h:outputText>
	      	</span>
	      </div>
	      <div class="col-md-12">
	      	<label><strong>Horário Saída:&#160;&#160;</strong></label><span class="fonte-blue">&#160;&#160;&#160;&#160;&#160;&#160;#{contratoBean.contrato.hora_saida}</span>
	      </div>
      </div>
      
      <h:panelGroup rendered="#{contratoBean.contrato.periodo eq 'MISTO'}">
      <hr></hr>
      <span class="fonte-green">Dados Horário Misto</span>
      <div class="row">
      
	      <div class="col-md-3">
	      	<label><strong><span class="fonte-blue">HORARIO ENTRADA</span></strong></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong><span class="fonte-blue">HORARIO SAÍDA</span></strong></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong><span class="fonte-blue">LANCHE</span></strong></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong><span class="fonte-blue">REFEIÇÃO</span></strong></label>
	      </div>
	      
	      <div class="col-md-3">
	      	<label><strong>SEG&#160;&#160;</strong><span>#{contratoBean.contrato.horario_misto_entrada_seg}</span></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>SEG&#160;&#160;</strong><span>#{contratoBean.contrato.horario_misto_saida_seg}</span></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>SEG&#160;&#160;</strong><span>
	      	<h:outputText value="MANHÃ + TARDE" rendered="#{contratoBean.contrato.lanche_misto_seg eq 'MT'}"></h:outputText>
	      	<h:outputText value="MANHÃ" rendered="#{contratoBean.contrato.lanche_misto_seg eq 'M'}"></h:outputText>
	      	<h:outputText value="TARDE" rendered="#{contratoBean.contrato.lanche_misto_seg eq 'T'}"></h:outputText>
	      	</span></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>SEG&#160;&#160;</strong><span>
	      	<h:outputText value="ALMOÇO + JANTAR" rendered="#{contratoBean.contrato.refeicao_misto_seg eq 'AJ'}"></h:outputText>
	      	<h:outputText value="ALMOÇO" rendered="#{contratoBean.contrato.refeicao_misto_seg eq 'A'}"></h:outputText>
	      	<h:outputText value="JANTAR" rendered="#{contratoBean.contrato.refeicao_misto_seg eq 'J'}"></h:outputText>
	      	</span></label>
	      </div>
	      
	      <div class="col-md-3">
	      	<label><strong>TER&#160;&#160;</strong><span>#{contratoBean.contrato.horario_misto_entrada_ter}</span></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>TER&#160;&#160;</strong><span>#{contratoBean.contrato.horario_misto_saida_ter}</span></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>TER&#160;&#160;</strong><span>
	      	<h:outputText value="MANHÃ + TARDE" rendered="#{contratoBean.contrato.lanche_misto_ter eq 'MT'}"></h:outputText>
	      	<h:outputText value="MANHÃ" rendered="#{contratoBean.contrato.lanche_misto_ter eq 'M'}"></h:outputText>
	      	<h:outputText value="TARDE" rendered="#{contratoBean.contrato.lanche_misto_ter eq 'T'}"></h:outputText>
	      	</span></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>TER&#160;&#160;</strong><span>
	      	<h:outputText value="ALMOÇO + JANTAR" rendered="#{contratoBean.contrato.refeicao_misto_ter eq 'AJ'}"></h:outputText>
	      	<h:outputText value="ALMOÇO" rendered="#{contratoBean.contrato.refeicao_misto_ter eq 'A'}"></h:outputText>
	      	<h:outputText value="JANTAR" rendered="#{contratoBean.contrato.refeicao_misto_ter eq 'J'}"></h:outputText>
	      	</span></label>
	      </div>
	      
	      <div class="col-md-3">
	      	<label><strong>QUA&#160;&#160;</strong><span>#{contratoBean.contrato.horario_misto_entrada_qua}</span></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>QUA&#160;&#160;</strong><span>#{contratoBean.contrato.horario_misto_saida_qua}</span></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>QUA&#160;&#160;</strong><span>
	      	<h:outputText value="MANHÃ + TARDE" rendered="#{contratoBean.contrato.lanche_misto_qua eq 'MT'}"></h:outputText>
	      	<h:outputText value="MANHÃ" rendered="#{contratoBean.contrato.lanche_misto_qua eq 'M'}"></h:outputText>
	      	<h:outputText value="TARDE" rendered="#{contratoBean.contrato.lanche_misto_qua eq 'T'}"></h:outputText>
	      	</span></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>QUA&#160;&#160;</strong><span>
	      	<h:outputText value="ALMOÇO + JANTAR" rendered="#{contratoBean.contrato.refeicao_misto_qua eq 'AJ'}"></h:outputText>
	      	<h:outputText value="ALMOÇO" rendered="#{contratoBean.contrato.refeicao_misto_qua eq 'A'}"></h:outputText>
	      	<h:outputText value="JANTAR" rendered="#{contratoBean.contrato.refeicao_misto_qua eq 'J'}"></h:outputText>
	      	</span></label>
	      </div>
	      
	      <div class="col-md-3">
	      	<label><strong>QUI&#160;&#160;</strong><span>#{contratoBean.contrato.horario_misto_entrada_qui}</span></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>QUI&#160;&#160;</strong><span>#{contratoBean.contrato.horario_misto_saida_qui}</span></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>QUI&#160;&#160;</strong><span>
	      	<h:outputText value="MANHÃ + TARDE" rendered="#{contratoBean.contrato.lanche_misto_qui eq 'MT'}"></h:outputText>
	      	<h:outputText value="MANHÃ" rendered="#{contratoBean.contrato.lanche_misto_qui eq 'M'}"></h:outputText>
	      	<h:outputText value="TARDE" rendered="#{contratoBean.contrato.lanche_misto_qui eq 'T'}"></h:outputText>
	      	</span></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>QUI&#160;&#160;</strong><span>
	      	<h:outputText value="ALMOÇO + JANTAR" rendered="#{contratoBean.contrato.refeicao_misto_qui eq 'AJ'}"></h:outputText>
	      	<h:outputText value="ALMOÇO" rendered="#{contratoBean.contrato.refeicao_misto_qui eq 'A'}"></h:outputText>
	      	<h:outputText value="JANTAR" rendered="#{contratoBean.contrato.refeicao_misto_qui eq 'J'}"></h:outputText>
	      	</span></label>
	      </div>
	      
	      <div class="col-md-3">
	      	<label><strong>SEX&#160;&#160;</strong><span>#{contratoBean.contrato.horario_misto_entrada_sex}</span></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>SEX&#160;&#160;</strong><span>#{contratoBean.contrato.horario_misto_saida_sex}</span></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>SEX&#160;&#160;</strong><span>
	      	<h:outputText value="MANHÃ + TARDE" rendered="#{contratoBean.contrato.lanche_misto_sex eq 'MT'}"></h:outputText>
	      	<h:outputText value="MANHÃ" rendered="#{contratoBean.contrato.lanche_misto_sex eq 'M'}"></h:outputText>
	      	<h:outputText value="TARDE" rendered="#{contratoBean.contrato.lanche_misto_sex eq 'T'}"></h:outputText>
	      	</span></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>SEX&#160;&#160;</strong><span>
	      	<h:outputText value="ALMOÇO + JANTAR" rendered="#{contratoBean.contrato.refeicao_misto_sex eq 'AJ'}"></h:outputText>
	      	<h:outputText value="ALMOÇO" rendered="#{contratoBean.contrato.refeicao_misto_sex eq 'A'}"></h:outputText>
	      	<h:outputText value="JANTAR" rendered="#{contratoBean.contrato.refeicao_misto_sex eq 'J'}"></h:outputText>
	      	</span></label>
	      </div>
	      
	  </div>
	  </h:panelGroup>
	  
      <hr></hr>
      <span class="fonte-green">Contratação</span>
      <div class="row">
          <div class="col-md-12">
	      	<label><strong>Valor bruto anual:&#160;&#160;</strong></label><span class="fonte-blue">
	      	<h:outputText value="#{contratoBean.contrato.valor_contrato}">
	      		<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
	      	</h:outputText></span>
	      </div>
	      <div class="col-md-12">
	      	<label><strong>Plano de Pagamento Anuidade</strong></label>
	      </div>
	     
	      <div class="col-md-3">
	      	<label class="fonte-red"><strong>ANUIDADE 10% <input type="radio" jsf:id="itema10" pt:name="pagamento" disabled="true"><f:passThroughAttribute name="checked" value="#{contratoBean.contrato.anuidade10 eq true ? 'checked' : null}" /></input></strong></label>
	      </div>
	      <div class="col-md-3">
	      	<label class="fonte-red"><strong>ANUIDADE 8%<input type="radio" jsf:id="itema8" pt:name="pagamento" disabled="true"><f:passThroughAttribute name="checked" value="#{contratoBean.contrato.anuidade8 eq true ? 'checked' : null}" /></input></strong></label>
	      </div>
	      <div class="col-md-3">
	      	<label class="fonte-red"><strong>SEMESTRALIDADE <input type="radio" jsf:id="itemsem" pt:name="pagamento" disabled="true"><f:passThroughAttribute name="checked" value="#{contratoBean.contrato.semestralidade eq true ? 'checked' : null}" /></input></strong></label>
	      </div>
	      <div class="col-md-3">
	      	<label class="fonte-red"><strong>MENSALIDADE <input type="radio" jsf:id="itemmens" pt:name="pagamento" disabled="true"><f:passThroughAttribute name="checked" value="#{contratoBean.contrato.mensalidade eq true ? 'checked' : null}" /></input></strong></label> 
	      </div>
	      
	      <div class="col-md-3">
	      	<label><strong><small>2 parcelas = Matrícula + 1 parcela (outubro)</small></strong></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong><small>2 parcelas = Matrícula + 1 parcela (janeiro)</small></strong></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong><small>3 parcelas = Matrícula + 2 parcelas (janeiro e julho)</small></strong></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong><small>13 parcelas = Matrícula + 12 parcelas mensais (janeiro a dezembro)</small></strong></label>
	      </div>
	      
	      
	      <div class="col-md-1">
	      	<label><strong>Valor matrícula</strong></label>
	      </div>
	      <div class="col-md-2">
	      	<span class="fonte-blue">
	      	<h:outputText value="#{contratoBean.contrato.anuidade10_matricula}">
	      		<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
	      	</h:outputText></span>
	      </div>
	      <div class="col-md-1">
	      	<label><strong>Valor matrícula</strong></label>
	      </div>
	      <div class="col-md-2">
	      	<span class="fonte-blue">
	      	<h:outputText value="#{contratoBean.contrato.anuidade8_matricula}">
	      		<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
	      	</h:outputText></span>
	      </div>
	      <div class="col-md-1">
	      	<label><strong>Valor matrícula</strong></label>
	      </div>
	      <div class="col-md-2">
	      	<span class="fonte-blue">
	      	<h:outputText value="#{contratoBean.contrato.semestralidade_matricula}">
	      		<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
	      	</h:outputText></span>
	      </div>
	      <div class="col-md-1">
	      	<label><strong>Valor matrícula</strong></label>
	      </div>
	      <div class="col-md-2">
	      	<span class="fonte-blue">
	      	<h:outputText value="#{contratoBean.contrato.mensalidade_matricula}">
	      		<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
	      	</h:outputText></span>
	      </div>
	      
	      <div class="col-md-1">
	      	<label><strong>Valor parcela</strong></label>
	      </div>
	      <div class="col-md-2">
	      	<span class="fonte-blue">
	      	<h:outputText value="#{contratoBean.contrato.anuidade10_valor_parcela}">
	      		<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
	      	</h:outputText></span>
	      </div>
	      <div class="col-md-1">
	      	<label><strong>Valor parcela</strong></label>
	      </div>
	      <div class="col-md-2">
	      	<span class="fonte-blue">
	      	<h:outputText value="#{contratoBean.contrato.anuidade8_valor_parcela}">
	      		<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
	      	</h:outputText></span>
	      </div>
	      <div class="col-md-1">
	      	<label><strong>Valor parcela</strong></label>
	      </div>
	      <div class="col-md-2">
	      	<span class="fonte-blue">
	      	<h:outputText value="#{contratoBean.contrato.semestralidade_valor_parcela}">
	      		<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
	      	</h:outputText></span>
	      </div>
	      <div class="col-md-1">
	      	<label><strong>Valor parcela&#160;<small>até jan/19</small></strong></label>
	      </div>
	      <div class="col-md-2">
	      	<span class="fonte-blue">
	      	<h:outputText value="#{contratoBean.contrato.mensalidade_valor_parcela}">
	      		<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
	      	</h:outputText></span>
	      </div>	      
	  </div>
	  <hr></hr>
	  <span class="fonte-green">Opções de Pagamento da Matrícula</span>
      <div class="row">
	      <div class="col-md-4">
	      	<label class="fonte-red"><strong>Opção 1 <input type="radio" jsf:id="item4" pt:name="pagamentomatricula" disabled="true"><f:passThroughAttribute name="checked" value="#{contratoBean.contrato.matricula_3parcelas eq true ? 'checked' : null}" /></input></strong></label>
	      </div>
	      <div class="col-md-4">
	      	<label class="fonte-red"><strong>Opção 2 <input type="radio" jsf:id="item5" pt:name="pagamentomatricula" disabled="true"><f:passThroughAttribute name="checked" value="#{contratoBean.contrato.matricula_avista10 eq true ? 'checked' : null}" /></input></strong></label>
	      </div>
	      <div class="col-md-4">
	      	<label class="fonte-red"><strong>Opção 3 <input type="radio" jsf:id="item51" pt:name="pagamentomatricula" disabled="true"><f:passThroughAttribute name="checked" value="#{contratoBean.contrato.matricula_avista6 eq true ? 'checked' : null}" /></input></strong></label>
	      </div>
	      
	      <div class="col-md-2">
	      	<label><strong>3 Parcelas</strong></label>
	      </div>
	      <div class="col-md-2">
	      	<label><strong></strong></label>
	      </div>
	      <div class="col-md-2">
	      	<label><strong>À vista 10%</strong></label>
	      </div>
	      <div class="col-md-2">
	      	<label><strong></strong></label>
	      </div>
	      <div class="col-md-2">
	      	<label><strong>À vista 6%</strong></label>
	      </div>
	      <div class="col-md-2">
	      	<label><strong></strong></label>
	      </div>
	      
	      
	      <div class="col-md-1">
	      	<label><strong>Valor:&#160;</strong></label>
	      </div>
	      <div class="col-md-3">
	      	<span class="fonte-blue">
	      	<h:outputText value="#{contratoBean.contrato.matricula_3parcelas_valor}">
	      		<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
	      	</h:outputText></span>
	      </div>
	      <div class="col-md-1">
	      	<label><strong>Valor:&#160;</strong></label>
	      </div>
	      <div class="col-md-3">
	      	<span class="fonte-blue">
	      	<h:outputText value="#{contratoBean.contrato.matricula_avista10_valor}">
	      		<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
	      	</h:outputText></span>
	      </div>
	      <div class="col-md-1">
	      	<label><strong>Valor:&#160;</strong></label>
	      </div>
	      <div class="col-md-3">
	      	<span class="fonte-blue">
	      	<h:outputText value="#{contratoBean.contrato.matricula_avista6_valor}">
	      		<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
	      	</h:outputText></span>
	      </div>
	      
	      
	      <div class="col-md-1">
	      	<label><strong>Venctos:</strong></label>
	      </div>
	      <div class="col-md-3">
	      	<span class="fonte-blue">vencimento boleto: Out/2018&#160;&#160;Nov/2018&#160;&#160;Dez/2018</span>
	      </div>
	      <div class="col-md-1">
	      	<label><strong>Venctos:</strong></label>
	      </div>
	      <div class="col-md-3">
	      	<span class="fonte-blue">10% de desconto: contratos devolvidos até 22/10/18</span>	      	
	      </div>
	      <div class="col-md-1">
	      	<label><strong>Venctos:</strong></label>
	      </div>
	      <div class="col-md-3">
	      	<span class="fonte-blue">6% de desconto: contratos devolvidos até 20/11/18</span>
	      </div>
	      
	  </div>
	  <hr></hr>
      <span class="fonte-green">Opções de Pagamento do Material</span>
      <div class="row">
	      <div class="col-md-6">
	      	<label class="fonte-red"><strong>Opção 1 <input type="radio" jsf:id="item6" pt:name="pagamentomaterial" disabled="true"><f:passThroughAttribute name="checked" value="#{contratoBean.contrato.material_3parcelas eq true ? 'checked' : null}" /></input></strong></label>
	      </div>
	      <div class="col-md-6">
	      	<label class="fonte-red"><strong>Opção 2 <input type="radio" jsf:id="item7" pt:name="pagamentomaterial" disabled="true"><f:passThroughAttribute name="checked" value="#{contratoBean.contrato.material_1parcela eq true ? 'checked' : null}" /></input></strong></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>3 Parcelas</strong></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong></strong></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong>1 Parcela</strong></label>
	      </div>
	      <div class="col-md-3">
	      	<label><strong></strong></label>
	      </div>
	      <div class="col-md-2">
	      	<label><strong>Valor:&#160;&#160;</strong></label>
	      </div>
	      <div class="col-md-4">
	      	<span class="fonte-blue">
	      	<h:outputText value="#{contratoBean.contrato.material_3parcelas_valor}">
	      		<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
	      	</h:outputText></span>
	      </div>
	      <div class="col-md-2">
	      	<label><strong>Valor:&#160;&#160;</strong></label>
	      </div>
	      <div class="col-md-4">
	      	<span class="fonte-blue">
	      	<h:outputText value="#{contratoBean.contrato.material_1parcela_valor}">
	      		<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
	      	</h:outputText></span>
	      </div>
	       <div class="col-md-2">
	      	<label><strong>Venctos:&#160;&#160;</strong></label>
	      </div>
	      <div class="col-md-4">
	      	<span class="fonte-blue">vencimento boleto: Fev/2019&#160;&#160;Mar/2019&#160;&#160;Abr/2019</span>
	      </div>
	      <div class="col-md-2">
	      	<label><strong>Venctos:&#160;&#160;</strong></label>
	      </div>
	      <div class="col-md-4">
	      	<span class="fonte-blue">vencimento boleto: Fev/2019</span>
	      </div>	
	  </div>
	  <hr></hr>
	  <div class="row">
	      <div class="col-md-3">
	      	<br></br>
	      	<label><strong>AUTORIZAÇÃO DO USO DA IMAGEM:</strong></label>
	      </div>
	      <div class="col-md-4">
	      	<br></br>
	      	<label><strong><input type="radio" jsf:id="item8" pt:name="usoimagem" disabled="true"><f:passThroughAttribute name="checked" value="#{contratoBean.contrato.uso_imagem eq true ? 'checked' : null}" /></input>SIM&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<input type="radio" jsf:id="item9" pt:name="usoimagem" disabled="true"><f:passThroughAttribute name="checked" value="#{contratoBean.contrato.uso_imagem eq false ? 'checked' : null}" /></input>NÃO</strong></label>
	      </div>
	      <br></br><br></br>
	      <div class="col-md-12">
	      	<h4><small>O(A) <strong>CONTRATANTE</strong>&#160; DECLARA TER LIDO E ACEITO PREVIAMENTE O CONTRATO QUE É PARTE INTEGRANTE DO PRESENTE QUADRO RESUMO. COM AS CLAÚSULAS NELE CONSTANTES, COM MODELO TAMBÉM AFIXADO EM LUGAR VÍSIVEL AO PÚBLICO, BEM COMO TER RECEBIDO UMA CÓPIA DELE DEVIDAMENTE ASSINADA.</small></h4>
	      </div>
	      <div class="col-md-12">
	      	<label></label>
	      </div>
	      <div class="col-md-6">
	      	<label><strong>São Paulo,
	      	<h:outputLabel value="#{contratoBean.contrato.data_contratacao}">
	      		<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"/>
	      	</h:outputLabel></strong></label>
	      </div>
	      <div class="col-md-6">
	      	<label><small>Contratação efetuada através do IP do Cliente:&#160;#{contratoBean.contrato.endereco_ip}</small></label>
	      </div>
	  </div>
</div>
<br></br>
<button id="btn_impressao">Imprimir o Quadro Resumo</button>&#160;&#160;&#160;<a href="#" onclick="window.history.go(-1); return false;" class="btn btn-default">Retornar</a>
						
		</section>
				
        </div>
        
      </div>
      <!-- /.box -->
		
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
 <!--<script>
        document.getElementById('btn_impressao').onclick = function() {
            var conteudo = document.getElementById('contrato_impressao').innerHTML,
            tela_impressao = window.open('about:blank');
            tela_impressao.document.write(conteudo);
            tela_impressao.window.print();
            tela_impressao.window.close();
        };
        
</script>-->

<script type="text/javascript">
		document.getElementById('btn_impressao').onclick = function() {
	        window.print();
        }
</script>
        
</h:form>

</ui:define>

</ui:composition>
