<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/template_passo1.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:define name="conteudo" >

<h:form id="form">
<h:inputHidden value="#{contratoBean.contrato.id}" />
	
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Rematrícula
      </h1>
      <h3>Nome Aluno: #{contratoBean.contrato.nome_aluno}</h3>
      
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Rematrícula</a></li>
        <li class="breadcrumb-item active">Dados Contratante</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="card-title">Dados Contratante</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        
        <!-- /.box-body -->
        <div class="box-body wizard-content">
          <div class="row">
          	<div class="form-group col-md-12">
          		<p:messages id="messages" />
          	</div>
          </div>
          <div class="row">
              <div class="form-group col-md-8">
		         <label for="exampleInputNome">Nome</label>
		         <h:inputText type="text" class="form-control" required="true" disabled="#{contratoBean.disabled}" value="#{contratoBean.contrato.nome_contratante}" id="exampleInputNome" requiredMessage="Informe o nome" />	                      
		      </div>
		      <div class="form-group col-md-4">
		         <label for="InputCnpj">CPF</label>
		         <p:inputMask type="text" class="form-control" required="true" disabled="#{contratoBean.disabled}" value="#{contratoBean.contrato.cpf}" id="InputCnpj" mask="999.999.999-99" requiredMessage="Informe o cpf" onblur="validarCpf();"/>
		         <p:remoteCommand name="validarCpf" process="@this InputCnpj" actionListener="#{contratoBean.validarCpf}" update="messages"/>		                               
		      </div>
	       </div>
	       <div class="row">
		       <div class="form-group col-md-4">
		          <label for="exampleInputEmailContato">Email</label>
		          <div class="controls">
		          	<h:inputText type="email" class="form-control" required="true" disabled="#{contratoBean.disabled}" value="#{contratoBean.contrato.email}" id="exampleInputEmailContato" requiredMessage="Informe o email" validatorMessage="Endereço de email inválido" >
		          		<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
					</h:inputText>
					<p:message styleClass="alert-danger" for="exampleInputEmailContato" closable="true" />
		       	  </div>
		       </div>
		       <div class="form-group col-md-4">
		          <label for="exampleInputCelular">Celular</label>
		          <h:inputText type="text" disabled="#{contratoBean.disabled}" class="form-control" required="true" value="#{contratoBean.contrato.celular}" id="exampleInputCelular" requiredMessage="Informe o telefone celular"/>	                      
		       </div>
		       <div class="form-group col-md-4">
		          <label for="exampleInputCep">Cep</label>
		          <p:inputMask type="text" mask="99999-999" disabled="#{contratoBean.disabled}" class="form-control" required="true" value="#{contratoBean.contrato.cep}" requiredMessage="Informe o Cep" id="exampleInputCep" onblur="verificarCep();" />
		          <p:remoteCommand name="verificarCep" process="@this exampleInputCep" actionListener="#{contratoBean.verificarCep}" update="exampleInputEndereco exampleInputBairro exampleInputCidade exampleInputEstado"/>	                      
		       </div>
	       </div>
	       <div class="row">
		       <div class="form-group col-md-12">
		          <label for="exampleInputEndereco">Endereço</label>
		          <h:inputText type="text" class="form-control" disabled="#{contratoBean.disabled}" required="true" value="#{contratoBean.contrato.endereco}" id="exampleInputEndereco" requiredMessage="Informe o endereço"/>	                      
		       </div>
		   </div>
		   <div class="row">
		       <div class="form-group col-md-4">
		          <label for="exampleInputBairro">Bairro</label>
		          <h:inputText type="text" class="form-control" disabled="#{contratoBean.disabled}" required="true" value="#{contratoBean.contrato.bairro}" id="exampleInputBairro" requiredMessage="Informe o bairro" />	                      
		       </div>
		       <div class="form-group col-md-4">
		          <label for="exampleInputCidade">Cidade</label>
		          <h:inputText type="text" class="form-control" disabled="#{contratoBean.disabled}" required="true" value="#{contratoBean.contrato.cidade}" id="exampleInputCidade" requiredMessage="Informe a cidade" />	                      
		       </div>
		       <div class="form-group col-md-4">
		          <label for="exampleInputEstado">Estado</label>
		          <h:inputText type="text" class="form-control" disabled="#{contratoBean.disabled}" required="true" value="#{contratoBean.contrato.uf}" id="exampleInputEstado" requiredMessage="Informe o estado" />	                      
		       </div>
	       </div>
           	       
	    </div>  
	    
	    <div class="box-footer">
	       <div class="btn-group">
	            <h:commandButton value="Editar" actionListener="#{contratoBean.changeButton}" styleClass="btn btn-warning btn-space10" />
	         	<p:commandButton value="Salvar e Continuar" type="submit" id="gravar" update="@form" actionListener="#{contratoBean.adiciona}" styleClass="btn btn-warning" />
	       </div>
	       
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

</h:form>

</ui:define>
	
</ui:composition>
