<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/template_passo4.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
	
<ui:define name="conteudo" >
  
<h:form id="form" prependId="false">
<h:inputHidden value="#{contratoBean.contrato.id}" />

<script>
$(document).ready(
	    function() {
	        $("#checkboxhorariomisto").click(function() {
	            $("#box_horario_misto").toggle();
	        });
	    });
</script>

<style type="text/css">
#box_horario_misto {
    display: none;
}
</style>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Rematrícula
      </h1>
      <h3>Nome Aluno: #{contratoBean.contrato.nome_aluno}</h3>
      
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Rematrícula</a></li>
        <li class="breadcrumb-item active">Dados Matrícula</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="card-title">Dados Matrícula</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        
        <div class="box-body">
            
				<section>
					
					<h4>Opções de Pagamento - Matrícula</h4>
					<hr></hr>
					
					<div class="row">
					
						<div class="col-md-4 col-12">
							<div class="col-md-12 form-group">
								<input type="radio" jsf:id="item1" pt:name="matricula" value="AV10" >
			                    	<f:passThroughAttribute name="checked" value="#{contratoBean.contrato.matricula_avista10 eq true ? 'checked' : null}" />
			                    	<f:viewParam name="matricula" value="#{contratoBean.matriculaID}" />
			                    </input>
			                    <h:outputLabel for="item1" value="À VISTA - 10%" />
			                </div>
			                <div class="col-md-12">
								<div class="form-group">
									<h6 class="direct-chat-timestamp-top-blue">1 Parcela - 10% de desconto para matrículas confirmadas até dia 19/10</h6>
								</div>
						    </div>
						    <div class="col-md-12">
								<div class="form-group">
									<label for="inputValorMatriculaTotal">Valor</label>
									<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.matricula_avista10_valor}" id="inputValorMatriculaTotal" >
										<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
									</h:inputText>									
								</div>
						    </div>
						    <div class="col-md-12">
								<div class="form-group">
									<label for="inputBoletoVencimentoAvista">Vencimento Boleto</label>
									<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.matricula_avista10_vencimento_boleto}" id="inputBoletoVencimentoAvista" />
								</div>
						    </div>
						    <div class="col-md-12">
						    	<hr></hr>
						    </div>
					    </div>
					    
					   
					    
					    <div class="col-md-4 col-12">
			                <div class="col-md-12 form-group">    
			                    <input type="radio" jsf:id="item2" pt:name="matricula" value="AV6" >
			                    	<f:passThroughAttribute name="checked" value="#{contratoBean.contrato.matricula_avista6 eq true ? 'checked' : null}" />
			                    	<f:viewParam name="matricula" value="#{contratoBean.matriculaID}" />
			                    </input>
			                    <h:outputLabel for="item2" value="À VISTA - 6%" />
			                </div>
			                 <div class="col-md-12">
								<div class="form-group">
									<h6 class="direct-chat-timestamp-top-blue">1 Parcela - 6% de desconto para matrículas confirmadas entre os dias 20/10 até 14/11</h6>
								</div>
						    </div>
			                 <div class="col-md-12">
								<div class="form-group">
									<label for="inputValorMatricula2Total">Valor</label>
									<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.matricula_avista6_valor}" id="inputValorMatricula2Total" >
										<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
									</h:inputText>
								</div>
						    </div>
						    <div class="col-md-12">
								<div class="form-group">
									<label for="inputBoletoVencimentoAvista2">Vencimento Boleto</label>
									<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.matricula_avista6_vencimento_boleto}" id="inputBoletoVencimentoAvista2" />
								</div>
						    </div>
						    <div class="col-md-12">
						    	<hr></hr>
						    </div>
					    </div>
					    
		            
		                
		                <div class="col-md-4 col-12">
			                <div class="col-md-12 form-group">    
			                    <input type="radio" jsf:id="item3" pt:name="matricula" value="3P" >
			                    	<f:passThroughAttribute name="checked" value="#{contratoBean.contrato.matricula_3parcelas eq true ? 'checked' : null}" />
			                    	<f:viewParam name="matricula" value="#{contratoBean.matriculaID}" />
			                    </input>
			                    <h:outputLabel for="item3" value="PARCELADO - 3X" />
			                </div>
			               	<div class="col-md-12">
								<div class="form-group">
									<h6 class="direct-chat-timestamp-top-blue"></h6>
								</div>
						    </div>
						     <div class="col-md-12">
								<div class="form-group">
									<label for="inputValorMatriculaParcela">Valor</label>
									<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.matricula_3parcelas_valor}" id="inputValorMatriculaParcela" >
										<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
									</h:inputText>
								</div>
						    </div>
						     <div class="col-md-12">
								<div class="form-group">
									<label for="inputValorAnuidade8Matricula">Vencimento Boleto das Parcelas</label>
									<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.matricula_3parcelas_vencimento_boleto1}, #{contratoBean.contrato.matricula_3parcelas_vencimento_boleto2} e #{contratoBean.contrato.matricula_3parcelas_vencimento_boleto3}" id="inputValorAnuidade8Matricula" />
								</div>
						    </div>
					    </div>
					    				   
					</div>
				
					
				</section>
				
        </div>
        
        <!-- /.box-body  -->
        <div class="box-footer">
          <p:messages id="messages" />
          <div class="btn-group">
	         	<p:commandButton value="Salvar e Continuar" type="submit" id="gravar" update="@form" actionListener="#{contratoBean.adiciona_passo4}" styleClass="btn btn-warning" />
	      </div>
        </div>
        <!-- /.box-footer-->
        
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

</h:form>

</ui:define>
	
</ui:composition>
