<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/template_passo3.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
	
<ui:define name="conteudo" >
  
<h:form id="form" prependId="false">
<h:inputHidden value="#{contratoBean.contrato.id}" />

<script>
$(document).ready(
	    function() {
	        $("#checkboxhorariomisto").click(function() {
	            $("#box_horario_misto").toggle();
	        });
	    });
</script>

<style type="text/css">
#box_horario_misto {
    display: none;
}
</style>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Rematrícula
      </h1>
      <h3>Nome Aluno: #{contratoBean.contrato.nome_aluno}</h3>
      
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Rematrícula</a></li>
        <li class="breadcrumb-item active">Dados Aluno</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="card-title">Dados Contratação</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        
        <div class="box-body">
            
				<section>
					<div class="row">
					    <div class="col-md-6">
							<div class="form-group">
								<label for="inputDataInicio">Data Inicio</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.data_inicio}" id="inputDataInicio"/>									
							</div>
					    </div>
					    <div class="col-md-6">
							<div class="form-group">
								<label for="inputValorContrato">Valor Total do Contrato</label>
								<h:outputText type="text" class="form-control bg-gray" disabled="true" value="#{contratoBean.contrato.valor_contrato}" id="inputValorContrato" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:outputText>
							</div>
						</div>
					</div>
					
					<h4>Opções de Pagamento</h4>
					<hr></hr>
					
					<div class="row">
					
					<div class="col-md-3 col-12">
						<div class="col-md-12 form-group">
							<input type="radio" jsf:id="item1" pt:name="pagamento" value="M" >
		                    	<f:passThroughAttribute name="checked" value="#{contratoBean.contrato.mensalidade eq true ? 'checked' : null}" />
		                    	<f:viewParam name="pagamento" value="#{contratoBean.pagamentoID}" />
		                    </input>
		                    <h:outputLabel for="item1" value="MENSALIDADE" />
		                </div>
					    <div class="col-md-12 form-group">
							<h6 class="direct-chat-timestamp-top-blue pull-left">13 parcelas: Matrícula + 12 mensalidades de janeiro/2019 a dezembro/2019</h6>	
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="inputValorMensalidadeTotal">Valor Total do contrato</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.mensalidade_valor_total}" id="inputValorMensalidadeTotal" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>									
							</div>
					    </div>
					    <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorMatricula">Valor Matrícula</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.mensalidade_matricula}" id="inputValorMatricula" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>									
							</div>
					    </div>
					    <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorParcela">Valor da Mensalidade</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.mensalidade_valor_parcela}" id="inputValorParcela" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>									
							</div>
					    </div>
					</div>	
					    
					<div class="col-md-3 col-12">    
					    <div class="col-md-12 form-group">    
		                    <input type="radio" jsf:id="item2" pt:name="pagamento" value="S" >
		                    	<f:passThroughAttribute name="checked" value="#{contratoBean.contrato.semestralidade eq true ? 'checked' : null}" />
		                    	<f:viewParam name="pagamento" value="#{contratoBean.pagamentoID}" />
		                    </input>
		                    <h:outputLabel for="item2" value="SEMESTRALIDADE - 4% DESC" />
		                </div>
					    <div class="col-md-12 form-group">
							<h6 class="direct-chat-timestamp-top-blue pull-left">3 parcelas: Matrícula + 2 parcelas semestrais, com vencimento em janeiro/2019 e julho/2019</h6>
					    </div>
					    <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorSemestralidadeTotal">Valor Total do contrato após desconto</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.semestralidade_valor_total}" id="inputValorSemestralidadeTotal" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorSemestralidadeMatricula">Valor Matrícula</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.semestralidade_matricula}" id="inputValorSemestralidadeMatricula" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorSemestralidadeParcela">Valor da Parcela Semestral</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.semestralidade_valor_parcela}" id="inputValorSemestralidadeParcela" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					</div>
					
					<div class="col-md-3 col-12">
					    <div class="col-md-12 form-group">    
		                    <input type="radio" jsf:id="item3" pt:name="pagamento" value="A8" >
		                    	<f:passThroughAttribute name="checked" value="#{contratoBean.contrato.anuidade8 eq true ? 'checked' : null}" />
		                    	<f:viewParam name="pagamento" value="#{contratoBean.pagamentoID}" />
		                    </input>
		                    <h:outputLabel for="item3" value="ANUIDADE - 8% DESC" />
		                </div>
					    <div class="col-md-12 form-group">
							<h6 class="direct-chat-timestamp-top-blue pull-left">2 parcelas: Matrícula + 1 parcela anual, com vencimento em 07 de janeiro/2019</h6>
					    </div>
					    <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorAnuidade8Total">Valor Total do contrato após desconto</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.anuidade8_valor_total}" id="inputValorAnuidade8Total" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorAnuidade8Matricula">Valor Matrícula</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.anuidade8_matricula}" id="inputValorAnuidade8Matricula" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorAnuidade8Parcela">Valor da Parcela Anual</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.anuidade8_valor_parcela}" id="inputValorAnuidade8Parcela" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					</div>
					
					<div class="col-md-3 col-12">
					    <div class="col-md-12 form-group">    
		                    <input type="radio" jsf:id="item4" pt:name="pagamento" value="A10" >
		                    	<f:passThroughAttribute name="checked" value="#{contratoBean.contrato.anuidade10 eq true ? 'checked' : null}" />
		                    	<f:viewParam name="pagamento" value="#{contratoBean.pagamentoID}" />
		                    </input>
		                    <h:outputLabel for="item4" value="ANUIDADE - 10% DESC" />
		                </div>
					    <div class="col-md-12 form-group">
							<h6 class="direct-chat-timestamp-top-blue pull-left">2 parcelas: Matrícula + 1 parcela anual, com vencimento em 22 de outubro/2018</h6>
					    </div>
					   	 <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorAnuidade10Total">Valor Total do contrato após desconto</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.anuidade10_valor_total}" id="inputValorAnuidade10Total" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorAnuidade10Matricula">Valor Matrícula</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.anuidade10_matricula}" id="inputValorAnuidade10Matricula" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    <div class="col-md-12">
							<div class="form-group">
								<label for="inputValorAnuidade10Parcela">Valor da Parcela Anual</label>
								<h:inputText type="text" class="form-control" disabled="true" value="#{contratoBean.contrato.anuidade10_valor_parcela}" id="inputValorAnuidade10Parcela" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					</div>  
					 				   
				</div>
					
				
				</section>
				
        </div>
        
        <!-- /.box-body  -->
        <div class="box-footer">
          <p:messages id="messages" />
          <div class="btn-group">
	         	<p:commandButton value="Salvar e Continuar" type="submit" id="gravar" update="@form" actionListener="#{contratoBean.adiciona_passo3}" styleClass="btn btn-warning" />
	      </div>
        </div>
        <!-- /.box-footer-->
        
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

</h:form>

</ui:define>
	
</ui:composition>
