<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/template_admin.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:define name="conteudo" >
  
<h:form id="form" prependId="false">
<h:inputHidden value="#{contratoBean.contrato.id}" />


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Rematrícula
      </h1>
      <h3>Nome Aluno: #{contratoBean.contrato.nome_aluno}</h3>
      
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home_admin.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Rematrícula</a></li>
        <li class="breadcrumb-item active">Dados Aluno</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="card-title">Editar Dados Aluno</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        
        <div class="box-body">
            
				<section>
				    <div class="row">
					    <div class="col-md-8">
							<div class="form-group">
								<label for="inputNomeAluno">Nome</label>
								<h:inputText type="text" class="form-control" required="true" value="#{contratoBean.contrato.nome_aluno}" id="inputNomeAluno" requiredMessage="Informe o nome" />
							</div>
					    </div>
					    <div class="col-md-4">
							<div class="form-group">
								<label for="inputDataNascimento">Data Nascimento</label>
								<p:inputMask type="text" mask="99/99/9999" class="form-control" required="true" value="#{contratoBean.contrato.data_nascimento}" id="inputDataNascimento" requiredMessage="Informe a data de nascimento" />
							</div>
						</div>
					</div>
					<div class="row">
						
						<div class="col-md-3">
							<div class="form-group">
								<label for="inputTurma">Grupo</label>
								<h:inputText type="text" class="form-control" required="true" disabled="false" value="#{contratoBean.contrato.grupo}" id="inputTurma" />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="inputPeriodo">Período</label>
					            <h:selectOneMenu class="form-control periodo" required="true" disabled="false" id="inputPeriodo" value="#{contratoBean.contrato.periodo}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o período" /> 
										<f:selectItem itemLabel="Manhã - 4 horas" itemValue="M4" />
										<f:selectItem itemLabel="Tarde - 4 horas" itemValue="T4" />
										<f:selectItem itemLabel="Semi-Integral - 6 horas" itemValue="SI6" />
										<f:selectItem itemLabel="Semi-Integral - 8 horas" itemValue="SI8" />
										<f:selectItem itemLabel="Integral - 10 horas" itemValue="I10" />
										<f:selectItem itemLabel="Integral - 12 horas" itemValue="I12" />
										<f:selectItem itemLabel="Misto" itemValue="MISTO" />												       
						  		</h:selectOneMenu>  
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="inputHorarioEntrada">Horário Entrada</label>
					            <h:selectOneMenu class="form-control" id="inputHorarioEntrada" required="true" disabled="false" value="#{contratoBean.contrato.hora_entrada}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o horario entrada" /> 
										<f:selectItem itemLabel="07:00" itemValue="07:00" />
										<f:selectItem itemLabel="07:30" itemValue="07:30" />
										<f:selectItem itemLabel="08:00" itemValue="08:00" />
										<f:selectItem itemLabel="08:30" itemValue="08:30" />
										<f:selectItem itemLabel="09:00" itemValue="09:00" />
										<f:selectItem itemLabel="09:30" itemValue="09:30" />
										<f:selectItem itemLabel="10:00" itemValue="10:00" />
										<f:selectItem itemLabel="10:30" itemValue="10:30" />
										<f:selectItem itemLabel="11:00" itemValue="11:00" />
										<f:selectItem itemLabel="11:30" itemValue="11:30" />
										<f:selectItem itemLabel="12:00" itemValue="12:00" />
										<f:selectItem itemLabel="12:30" itemValue="12:30" />
										<f:selectItem itemLabel="13:00" itemValue="13:00" />
										<f:selectItem itemLabel="13:30" itemValue="13:30" />
										<f:selectItem itemLabel="14:00" itemValue="14:00" />
										<f:selectItem itemLabel="14:30" itemValue="14:30" />
										<f:selectItem itemLabel="15:00" itemValue="15:00" />
										<f:selectItem itemLabel="15:30" itemValue="15:30" />
										<f:selectItem itemLabel="16:00" itemValue="16:00" />
										<f:selectItem itemLabel="16:30" itemValue="16:30" />
										<f:selectItem itemLabel="17:00" itemValue="17:00" />
										<f:selectItem itemLabel="17:30" itemValue="17:30" />
										<f:selectItem itemLabel="18:00" itemValue="18:00" />
										<f:selectItem itemLabel="18:30" itemValue="18:30" />
										<f:selectItem itemLabel="19:00" itemValue="19:00" />
										<f:selectItem itemLabel="19:30" itemValue="19:30" />
										<f:selectItem itemLabel="20:00" itemValue="20:00" />
										<f:selectItem itemLabel="20:30" itemValue="20:30" />
										<f:selectItem itemLabel="21:00" itemValue="21:00" />		
										<f:selectItem itemLabel="Misto" itemValue="MISTO" />											       
						  		</h:selectOneMenu>  
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="inputHorarioSaida">Horário Saída</label>
					            <h:selectOneMenu class="form-control" id="inputHorarioSaida" required="true" disabled="false" value="#{contratoBean.contrato.hora_saida}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o horario saída" /> 
										<f:selectItem itemLabel="07:00" itemValue="07:00" />
										<f:selectItem itemLabel="07:30" itemValue="07:30" />
										<f:selectItem itemLabel="08:00" itemValue="08:00" />
										<f:selectItem itemLabel="08:30" itemValue="08:30" />
										<f:selectItem itemLabel="09:00" itemValue="09:00" />
										<f:selectItem itemLabel="09:30" itemValue="09:30" />
										<f:selectItem itemLabel="10:00" itemValue="10:00" />
										<f:selectItem itemLabel="10:30" itemValue="10:30" />
										<f:selectItem itemLabel="11:00" itemValue="11:00" />
										<f:selectItem itemLabel="11:30" itemValue="11:30" />
										<f:selectItem itemLabel="12:00" itemValue="12:00" />
										<f:selectItem itemLabel="12:30" itemValue="12:30" />
										<f:selectItem itemLabel="13:00" itemValue="13:00" />
										<f:selectItem itemLabel="13:30" itemValue="13:30" />
										<f:selectItem itemLabel="14:00" itemValue="14:00" />
										<f:selectItem itemLabel="14:30" itemValue="14:30" />
										<f:selectItem itemLabel="15:00" itemValue="15:00" />
										<f:selectItem itemLabel="15:30" itemValue="15:30" />
										<f:selectItem itemLabel="16:00" itemValue="16:00" />
										<f:selectItem itemLabel="16:30" itemValue="16:30" />
										<f:selectItem itemLabel="17:00" itemValue="17:00" />
										<f:selectItem itemLabel="17:30" itemValue="17:30" />
										<f:selectItem itemLabel="18:00" itemValue="18:00" />
										<f:selectItem itemLabel="18:30" itemValue="18:30" />
										<f:selectItem itemLabel="19:00" itemValue="19:00" />
										<f:selectItem itemLabel="19:30" itemValue="19:30" />
										<f:selectItem itemLabel="20:00" itemValue="20:00" />
										<f:selectItem itemLabel="20:30" itemValue="20:30" />
										<f:selectItem itemLabel="21:00" itemValue="21:00" />	
										<f:selectItem itemLabel="Misto" itemValue="MISTO" />												       
						  		</h:selectOneMenu>  
							</div>
						</div>
						
				</div>
				<div class="row">
						<div class="col-md-3">
								<div class="form-group">
									<label for="inputQtdLanche">Lanche</label>
									<h:selectOneMenu class="form-control" id="inputQtdLanche" required="true" disabled="false" value="#{contratoBean.contrato.lanche}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o lanche" /> 
										<f:selectItem itemLabel="MANHÃ" itemValue="M" />
										<f:selectItem itemLabel="TARDE" itemValue="T" />
										<f:selectItem itemLabel="MANHÃ + TARDE" itemValue="MT" />
										<f:selectItem itemLabel="NENHUM" itemValue="N" />
						  			</h:selectOneMenu>  
								</div>
						</div>
						<div class="col-md-3">
								<div class="form-group">
									<label for="inputQtdRefeicao">Refeição</label>
									<h:selectOneMenu class="form-control" id="inputQtdRefeicao" required="true" disabled="false" value="#{contratoBean.contrato.refeicao}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe a refeição" /> 
										<f:selectItem itemLabel="ALMOÇO" itemValue="A" />
										<f:selectItem itemLabel="JANTAR" itemValue="J" />
										<f:selectItem itemLabel="ALMOÇO + JANTAR" itemValue="AJ" />
										<f:selectItem itemLabel="NENHUM" itemValue="N" />
						  			</h:selectOneMenu>
								</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="inputStatusContrato"><strong>Status Contrato</strong></label>
					            <h:selectOneMenu class="form-control" id="inputStatusContrato" required="true" value="#{contratoBean.contrato.status_contrato}" >
										<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o status" /> 
										<f:selectItem itemLabel="PENDENTE" itemValue="P" />
										<f:selectItem itemLabel="SOLICITAÇÃO HORÁRIO" itemValue="F" />
										<f:selectItem itemLabel="LIBERADO NOVO HORÁRIO" itemValue="L" />
										<f:selectItem itemLabel="APROVADO" itemValue="A" />       
						  		</h:selectOneMenu>  
							</div>
						</div>
						
						<div class="form-group col-md-3">
							<label for="inputInadimplencia"><strong>Controle Inadimplência</strong></label>
							<h:selectOneMenu class="form-control" id="inputInadimplencia" disabled="false" value="#{contratoBean.contrato.flag_inadimplente}" >
								<f:selectItem itemLabel="SIM" itemValue="true" />
								<f:selectItem itemLabel="NÃO" itemValue="false" />
							</h:selectOneMenu>  
						</div>	
				</div>
				
				</section>
				
		<div class="box box-info" id="box_horario_misto">
        
	        <div class="box-header">
	          <h3 class="card-title">Dados Horário Misto</h3>
	        </div>
        
        	<div class="box-body">
            
					<div class="row">
					    <div class="col-md-2">
							<div class="form-group">
								<label>#</label>
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<label>Entrada</label>
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<label>Saída</label>
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<label>Período</label>
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<label>Lanche</label>
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<label>Refeição</label>
							</div>
					    </div>
					   
					</div>
					
					<div class="row">
					    <div class="col-md-2">
							<div class="form-group">
								<label for="inputNomeAluno">SEG</label>
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.horario_misto_entrada_seg}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.horario_misto_saida_seg}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.periodo_seg}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.lanche_misto_seg}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.refeicao_misto_seg}" />
							</div>
					    </div>
					   
					</div>
					
					<div class="row">
					    <div class="col-md-2">
							<div class="form-group">
								<label for="inputNomeAluno">TER</label>
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.horario_misto_entrada_ter}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.horario_misto_saida_ter}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.periodo_ter}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.lanche_misto_ter}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.refeicao_misto_ter}" />
							</div>
					    </div>
					   
					</div>
					
					<div class="row">
					    <div class="col-md-2">
							<div class="form-group">
								<label for="inputNomeAluno">QUA</label>
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.horario_misto_entrada_qua}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.horario_misto_saida_qua}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.periodo_qua}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.lanche_misto_qua}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.refeicao_misto_qua}" />
							</div>
					    </div>
					   
					</div>
					
					<div class="row">
					    <div class="col-md-2">
							<div class="form-group">
								<label for="inputNomeAluno">QUI</label>
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.horario_misto_entrada_qui}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.horario_misto_saida_qui}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.periodo_qui}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.lanche_misto_qui}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.refeicao_misto_qui}" />
							</div>
					    </div>
					   
					</div>
					
					<div class="row">
					    <div class="col-md-2">
							<div class="form-group">
								<label for="inputNomeAluno">SEX</label>
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.horario_misto_entrada_sex}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.horario_misto_saida_sex}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.periodo_sex}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.lanche_misto_sex}" />
							</div>
					    </div>
					    <div class="col-md-2">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.refeicao_misto_sex}" />
							</div>
					    </div>
					   
					</div>
        	</div>
        
      </div>
      <!-- /.box -->
	  
	  <div class="box box-info" id="box_horario_alterado">
        
	     	<div class="box-body">
            
					<div class="row">
					    
					    <div class="col-md-2">
							<div class="form-group">
								<label>Horário definido pelos pais ou responsável</label>
							</div>
					    </div>
					    <div class="col-md-10">
							<div class="form-group">
								<h:inputText type="text" class="form-control" value="#{contratoBean.contrato.texto_periodo_alterado}" />
							</div>
					    </div>
					    
					</div>
        	</div>
        
      </div>
      
      <div class="box box-info">
	      <div class="box-body">
	      
		      <div class="row">
		      
				      	<div class="col-md-6">
							<div class="form-group">
								<label for="inputValorContrato"><strong>Valor Total do Contrato</strong></label>
								<h:inputText type="text" class="form-control" required="true" value="#{contratoBean.contrato.valor_contrato}" id="inputValorContrato" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
								<label for="inputMesInicio"><strong>Mês Inicio</strong></label>
								<h:inputText type="text" class="form-control" required="false" value="#{contratoBean.contrato.mes_inicio}" id="inputMesInicio" />								
							</div>
						</div>
						
						<div class="col-md-12 form-group">
							<h4>Valores Anuidade</h4>
						</div>
						
						<div class="col-md-3">
							<div class="form-group">
								<label for="inputValorMensalidadeTotal">VT do contrato Mensal</label>
								<h:inputText type="text" class="form-control" disabled="false" required="true" value="#{contratoBean.contrato.mensalidade_valor_total}" id="inputValorMensalidadeTotal" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>									
							</div>
					    </div>
					    <div class="col-md-3">
							<div class="form-group">
								<label for="inputValorSemestralidadeTotal">VT do contrato Semestral</label>
								<h:inputText type="text" class="form-control" disabled="false" required="true" value="#{contratoBean.contrato.semestralidade_valor_total}" id="inputValorSemestralidadeTotal" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    <div class="col-md-3">
							<div class="form-group">
								<label for="inputValorAnuidade8Total">VT do contrato Anual com 8%</label>
								<h:inputText type="text" class="form-control" disabled="false" required="true" value="#{contratoBean.contrato.anuidade8_valor_total}" id="inputValorAnuidade8Total" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    <div class="col-md-3">
							<div class="form-group">
								<label for="inputValorAnuidade10Total">VT contrato Anual com 10%</label>
								<h:inputText type="text" class="form-control" disabled="false" required="true" value="#{contratoBean.contrato.anuidade10_valor_total}" id="inputValorAnuidade10Total" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    
					    <div class="col-md-12 form-group">
					    	<h4>Valores Matrícula</h4>
					    </div>
					    
						<div class="col-md-3">
							<div class="form-group">
								<label for="inputValorMatricula">Valor Matrícula - Mensal</label>
								<h:inputText type="text" class="form-control" disabled="false" required="true" value="#{contratoBean.contrato.mensalidade_matricula}" id="inputValorMatricula" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>									
							</div>
					    </div>
					    <div class="col-md-3">
							<div class="form-group">
								<label for="inputValorSemestralidadeMatricula">Valor Matrícula - Semestral</label>
								<h:inputText type="text" class="form-control" disabled="false" required="true" value="#{contratoBean.contrato.semestralidade_matricula}" id="inputValorSemestralidadeMatricula" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    <div class="col-md-3">
							<div class="form-group">
								<label for="inputValorAnuidade8Matricula">Valor Matrícula - Anual com 8%</label>
								<h:inputText type="text" class="form-control" disabled="false" required="true" value="#{contratoBean.contrato.anuidade8_matricula}" id="inputValorAnuidade8Matricula" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    <div class="col-md-3">
							<div class="form-group">
								<label for="inputValorAnuidade10Matricula">Valor Matrícula - Anual com 10%</label>
								<h:inputText type="text" class="form-control" disabled="false" required="true" value="#{contratoBean.contrato.anuidade10_matricula}" id="inputValorAnuidade10Matricula" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    
					    <div class="col-md-12 form-group">
					    	<h4>Valor das Parcelas</h4>
					    </div>
					    
					    <div class="col-md-3">
							<div class="form-group">
								<label for="inputValorParcela">Valor da Mensalidade</label>
								<h:inputText type="text" class="form-control" disabled="false" required="true" value="#{contratoBean.contrato.mensalidade_valor_parcela}" id="inputValorParcela" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>									
							</div>
					    </div>
					    <div class="col-md-3">
							<div class="form-group">
								<label for="inputValorSemestralidadeParcela">Valor da Parcela Semestral</label>
								<h:inputText type="text" class="form-control" disabled="false" required="true" value="#{contratoBean.contrato.semestralidade_valor_parcela}" id="inputValorSemestralidadeParcela" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    <div class="col-md-3">
							<div class="form-group">
								<label for="inputValorAnuidade8Parcela">Valor da Parcela Anual</label>
								<h:inputText type="text" class="form-control" disabled="false" required="true" value="#{contratoBean.contrato.anuidade8_valor_parcela}" id="inputValorAnuidade8Parcela" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    <div class="col-md-3">
							<div class="form-group">
								<label for="inputValorAnuidade10Parcela">Valor da Parcela Anual</label>
								<h:inputText type="text" class="form-control" disabled="false" required="true" value="#{contratoBean.contrato.anuidade10_valor_parcela}" id="inputValorAnuidade10Parcela" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>	
					    
					    <div class="col-md-12 form-group">
					    	<h4>Valor das Parcelas de Matrícula</h4>
					    </div>
					    
					    <div class="col-md-4">
							<div class="form-group">
								<label for="inputValorMatriculaTotal">Valor a Vista com 10%</label>
								<h:inputText type="text" class="form-control" disabled="false" required="true" value="#{contratoBean.contrato.matricula_avista10_valor}" id="inputValorMatriculaTotal" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>									
							</div>
					    </div>
					    <div class="col-md-4">
							<div class="form-group">
								<label for="inputValorMatricula2Total">Valor a Vista com 6%</label>
								<h:inputText type="text" class="form-control" disabled="false" required="true" value="#{contratoBean.contrato.matricula_avista6_valor}" id="inputValorMatricula2Total" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    <div class="col-md-4">
							<div class="form-group">
								<label for="inputValorMatriculaParcela">Valor Parcelado em 3x</label>
								<h:inputText type="text" class="form-control" disabled="false" required="true" value="#{contratoBean.contrato.matricula_3parcelas_valor}" id="inputValorMatriculaParcela" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>	
					    
					    <div class="col-md-12 form-group">
					    	<h4>Condições e Regras Internas</h4>
					    </div>
					    
					    <div class="col-md-4">
							<div class="form-group">
								<label for="inputDesconto">% Desconto</label>
								<h:inputText type="text" class="form-control" disabled="false" value="#{contratoBean.contrato.desconto}" id="inputDesconto" />																
							</div>
					    </div>
					    <div class="col-md-4">
							<div class="form-group">
								<label for="inputValorBase2019">Valor Base 2019</label>
								<h:inputText type="text" class="form-control" disabled="false" value="#{contratoBean.contrato.valor_base}" id="inputValorBase2019" >
									<f:convertNumber pattern="R$ ###,##0.00" locale="pt_BR" type="currency"/>
								</h:inputText>
							</div>
					    </div>
					    <div class="col-md-4">
							<div class="form-group">
								<label for="inputAnoEntrada">Ano Entrada</label>
								<h:inputText type="text" class="form-control" disabled="false" value="#{contratoBean.contrato.ano_entrada}" id="inputAnoEntrada" />									
							</div>
					    </div>	
					    
					    
		      </div>
	      </div>
	  </div>
      
      <!-- /.box -->
      		
        </div>
        
        <!-- /.box-body  -->
        <div class="box-footer">
          <p:messages id="messages" />
          <div class="btn-group">
          	 <p:commandButton value="Salvar" type="submit" id="gravar" update="@form" actionListener="#{contratoBean.adiciona_passo2_admin}" styleClass="btn btn-warning btn-space10" />          	 
	      </div>
        </div>
        <!-- /.box-footer-->
        
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

</h:form>

</ui:define>
	
</ui:composition>
