<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/template_passo7.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
	
<ui:define name="conteudo" >
  
<h:form id="form" prependId="false">
<h:inputHidden value="#{contratoBean.contrato.id}" />


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Rematrícula
      </h1>
      <h3>Nome Aluno: #{contratoBean.contrato.nome_aluno}</h3>
      
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Rematrícula</a></li>
        <li class="breadcrumb-item active">Contrato</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="card-title">Contrato</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        
<div id="textarea_contrato" class="box-body">
            
<p>I. CONTRATO DE PRESTAÇÃO DE SERVIÇOS DE ENSINO.</p>

<p>As partes acima nomeadas e qualificadas têm, entre si, justo e acertado o que se regerá pelas seguintes cláusulas, com base nos artigos 1º, inciso IV, 5º, inciso II, 173, inciso IV, 206 incisos II e III e 209, todos da Constituição Federal; artigos 389, 476 e 597 do Código Civil Brasileiro; da Lei nº 8.069/90 (Estatuto da Criança e do Adolescente); da Lei 8.078/90 (Código do Consumidor), Lei 9.870/99 e elaborado conforme calendário escolar aprovado pela Diretoria Regional de Ensino do Município de São Paulo - DRE para o ano letivo anteriormente descrito, que obedecerão ao Plano Escolar elaborado em conformidade com a Legislação em vigor.</p>

<br></br>
<p>II. DO OBJETO E SUAS CONDIÇÕES.</p>

1.	O objeto do presente contrato é a prestação de serviços educacionais, exclusivamente para o ano letivo e cível descrito no quadro resumo do processo de matrícula online, correspondente ao grupo ministrados pela CONTRATADA ao(a) aluno(a) constante do quadro resumo online, em conformidade com o previsto na legislação de ensino vigente e em obediência ao calendário escolar do ano vigente. 
<br></br>2.	Como serviços educacionais mencionados anteriormente entendem-se os obrigatoriamente prestados a toda a turma, coletivamente, em consonância com o programa de estudos destinados ao grupo na qual o(a) aluno(a) se matricular, não incluídos os facultativos, de caráter opcional ou de grupo específico.
<br></br>3.	As aulas serão ministradas nas salas ou em locais em que a CONTRATADA indicar, tendo em vista a natureza do conteúdo e da técnica pedagógica que se fizerem adequadas, sendo de sua inteira e exclusiva responsabilidade a orientação técnica sobre a prestação dos serviços de ensino, fixação de cargas horárias, indicação de professores, orientação didático-pedagógica, além de outras providências que as atividades docentes exigirem.
<br></br>4.	As aulas terão duração de 220 dias letivos, conforme homologado pela Secretaria Municipal de Educação, sendo que a carga horária será distribuída de fevereiro a junho e de agosto a dezembro, do ano letivo descrito no título do contrato, que não se confunde com a forma de pagamento a ser definida no momento da matrícula, conforme previsto no item III, 1 (DO PREÇO, DO PAGAMENTO E DAS CONDIÇÕES). Sem prejuízo do quanto aqui estipulado, eventuais alterações poderão ser realizadas e computadas a contar do mês subsequente a alteração.
<br></br>5.	Nos recessos letivos de janeiro e julho poderão ser contratados cursos de férias ou extracurriculares, que terão frequência diária ou semanal, cobrados de forma independente e por meio de boleto bancário emitido em decorrência do quanto contratado. 
<br></br>6.	A CONTRATADA se compromete a cumprir o contrato em razão da disponibilidade dos serviços de ensino em favor do (a) aluno(a), independentemente do seu comparecimento. 
<br></br>7.	O Calendário Escolar poderá, a critério da CONTRATADA, ser alterado, bem como poderá a mesma também a sua necessidade promover a extinção de turmas, agrupamento de classe, alteração de horário e outras medidas que sejam pertinentes por razões de ordem administrativa e/ou pedagógica, respeitadas as exigências legais de Carga Horária e número mínimo de dias letivos.
<br></br>8.	Com exceção da alimentação fornecida pela escola e descrita no quadro resumo e fornecida conforme o horário de frequência contratado, não estão incluídos neste contrato e na anuidade escolar o PERÍODO AVULSO de permanência do(a) aluno(a) na escola após o período contratado, bem como aquele que exceda 40 (quarenta) minutos de tolerância quando da saída ao término do horário normal e outros serviços especiais como transporte escolar, material pedagógico, (ficando vedado o uso de fotocópias conforme Lei 9610/98), uniforme, excursões, aulas extras e externas; que será objeto de ajuste à parte.
<br></br>

<br></br>
<p>III. DO PREÇO, DO PAGAMENTO E DAS CONDIÇÕES.</p>

<br></br>1.	Como contraprestação pelos serviços ora contratados o(a) CONTRATANTE pagará o valor correspondente a uma das opções informadas no quadro resumo, sendo que os valores das mensalidades serão definidos em função do ano letivo, incidindo os reajustes para o próximo ano letivo independente do mês ou período de início da contratação.
<br></br>2.	A parcela paga no ato da matrícula constitui arras, sinal e princípio de pagamento, condição para concretização e celebração do Contrato de Prestação de Serviços Escolares, destinada a cobertura de custos administrativos e organização, razão pela qual a CONTRATADA se reserva ao direito de retenção do necessário a cobertura de eventuais valores despendidos pela contratação, com o qual concorda o(a) CONTRATANTE. 
<br></br>3.	A concretização do contrato e a efetivação da matrícula dependem do pagamento em dia da 1ª (primeira) parcela com vencimento em janeiro do ano letivo vigente pelo(a) CONTRATANTE. 
<br></br>4.	O(a) CONTRATANTE declara ter ciência de que até o vencimento os boletos bancários estarão disponíveis por meio da internet e disponíveis na agenda eletrônica, no site da CONTRATADA, devendo acessar a tela da agenda online para regular impressão e pagamento. 
<br></br>5.	No caso de impossibilidade de impressão por qualquer problema técnico, por falha ou falta dos serviços, o(a) CONTRATANTE compromete-se em manter a pontualidade, de modo que informará imediatamente o fato a CONTRATADA, tudo para que seja disponibilizado boleto para retirada na secretaria, antes que transcorrido o vencimento.
<br></br>6.	O pagamento de uma determinada parcela, não implica no reconhecimento de que débitos anteriores foram quitados. A quitação de qualquer parcela será sempre reconhecida, através do correspondente recibo de pagamento autenticado. 
<br></br>7.	Neste ato, a CONTRATADA fica autorizada pelo CONTRATANTE a emitir DUPLICATA de prestação de serviços educacionais no valor total devido pelo CONTRATANTE, correspondente aos serviços prestados pela CONTRATADA e não pagos nas datas fixadas; não endossável e circulável, para representação das obrigações (principal e acessória), como a incidência de multa de 2% (dois por cento) ao mês, juros de mora de 1% (um por cento) ao mês e atualização monetária que melhor represente a perda inflacionária, cuja liquidação deverá ser efetivada à vista, se representar obrigações já vencidas e será cobrada pelos meios admitidos pela legislação aplicável.
<br></br>8.	A CONTRATADA não recebe mensalidade por serviço prestado ou medido, mas anuidade por todo o serviço correspondente a um período letivo ou grupo, ministrado em consonância com a legislação de ensino complementar, dividido o seu valor conforme quadro resumo.
<br></br>9.	Caso ocorra pedido de afastamento médico de até três meses a CONTRATADA se compromete a manter a vaga do aluno, sem prejuízo da concessão de um desconto de 70% (setenta por cento) no valor da mensalidade, durante o período de afastamento, podendo o(a) CONTRATANTE cancelar o contrato e abrir mão da vaga a qualquer momento. Uma vez cancelado o contrato, fica o(a) CONTRATANTE sujeito a disponibilidade de vaga. Períodos de afastamento médico superiores a três meses acarretam o cancelamento do contrato, com liberação da vaga do aluno.
<br></br>10. Os pedidos de transferência, cancelamento ou desistência da matrícula deverão ser requeridos por escrito pelo(a) CONTRATANTE, por intermédio de instrumento próprio. Contudo, na hipótese de inadimplência do(a) CONTRATANTE, este obriga-se a pagar ou negociar o débito a cada três meses do não pagamento, com a assinatura, nesta última hipótese, de um instrumento particular de confissão de dívida e com a prestação das garantias necessárias. 
<br></br>11. Em caso de cancelamento ou trancamento nas modalidades de pagamento antecipado semestral ou anual, o valor antecipado será reembolsado de maneira proporcional ao período em que ainda não tiver sido prestado serviço, em até trinta dias contados do mês subsequente a data em que realizado o aviso pelo CONTRATANTE, que se declara ciente e autoriza a compensação dos descontos de 10% (dez por cento) antecipado se realizado até outubro/2018, 8% (oito por cento) para pagamento até janeiro de 2019 e 4% (quatro por cento) para os planos semestrais, vinculados as modalidades definidas pelas partes, que serão abatidos dos valores a serem restituídos no prazo aqui fixado.
<br></br>

<br></br>
<p>IV. DA PRESTAÇÃO DO SERVIÇO.</p>

<br></br>1.	As aulas serão ministradas no próprio estabelecimento da CONTRATADA.
<br></br>2.	A ausência do aluno às aulas não desobriga o(a) CONTRATANTE do pagamento das parcelas vincendas até o final deste contrato. 
<br></br>3.	O(a)  CONTRATANTE ficará  isento da obrigação de efetuar  o(s)  pagamento(s)  da(s)  parcela(s) prevista(s) no contrato, somente após requerer o trancamento ou cancelamento de matrícula junto à Secretaria, por escrito, respeitadas as cláusulas anteriores.
<br></br>4.	Na ausência do professor regente da disciplina, a contratada proporcionará aula substitutiva, para que não haja prejuízo ao aprendizado do aluno.
<br></br>5.	Caso  haja  impedimento  legal  ou  administrativo  para  o  funcionamento  de  alguma  turma,  a CONTRATADA devolverá integralmente as quantias pagas.
<br></br>

<br></br>
<p>V. DAS DISPOSIÇÕES FINAIS.</p>

<br></br>1.	O vínculo de matrícula do(a) CONTRATANTE com a CONTRATADA deixa de existir se ela não for renovada até o último dia fixado para a sua renovação. 
<br></br>2.	O atraso no pagamento de quaisquer parcelas da anuidade, superior a 10 (dez) dias de seu vencimento, assim como outros valores mencionados no quadro resumo que faz parte integrante do contrato, nos termos que dispõe o artigo 389 do Código Civil, combinado com o artigo 43, § 2º do Código de Defesa do Consumidor, dará direito à CONTRATADA, que fica desde já autorizada a:
<br></br>(a) Encaminhar ao(a) CONTRATANTE aviso por meio de mensagens eletrônicas, de correspondências e de ligações telefônicas, informando o débito respectivo; 
<br></br>(b) Promover a negativação do(a) CONTRATANTE em cadastro ou serviços legalmente constituídos e destinados à proteção de crédito, após prévia notificação e vencido o prazo de negociação prévia, contados de três meses do primeiro valor que se encontrar em aberto; 
<br></br>(c) Promover o protesto da dívida mediante duplicata de serviços, letras de câmbio ou outro tipo de crédito permitido por norma legal; 
<br></br>(d) Promover a cobrança por meio de advogados ou de empresas especializadas, após a dívida ser encaminhada para cobrança, o(a) CONTRATANTE pagará além dos acréscimos legais, os honorários advocatícios mesmo que ainda não se tenha iniciado o procedimento da cobrança; 
<br></br>(e) Promover a cobrança através de ação monitória, ação de cobrança, de execução, ou outra prevista na legislação brasileira;
<br></br>(f) Comunicar todos os representantes legais com relação ao débito em aberto, bem como os prejuízos que poderão decorrer do rompimento do contrato em prejuízo do aluno; e 
<br></br>(g) Recusar a renovação da matrícula para o período letivo seguinte, caso exista qualquer valor em aberto junto a CONTRATADA.
<br></br>3.	Os valores previstos no quadro resumo que faz parte integrante do contrato, poderão sofrer alterações no caso de majorações dos encargos e dos custos ora existentes, na forma do Art. 476 do Código Civil, se decorrentes de fatores independentes da CONTRATADA ou mudança na legislação em vigor e, caso o Governo estabeleça leis que venham trazer ônus não previstos no planejamento econômico da CONTRATADA. 
<br></br>4.	Havendo desligamento do aluno antes do encerramento do ano letivo, a parcela será devida até o último dia do mês do referido desligamento. 
<br></br>5.	Conforme definido no quadro resumo o(a) CONTRATANTE e o(a) aluno(a) devidamente representado no presente instrumento, desde já manifestam sua vontade quanto ao uso da imagem e fala do(a) aluno(a) pela CONTRATADA para fins específicos como: anuário, agenda, jornal da Escola, material promocional ou outros, visando sempre o estímulo, a ilustração didático-pedagógica, o agradecimento e a homenagem da Escola aos seus alunos, objetivando a divulgação do seu projeto pedagógico, das suas instalações ou de festividade por ela programadas, nas publicações internas, e nos meios de comunicação disponíveis.
<br></br>6.	Fica acertado que com a concordância do uso de imagem o(a) CONTRATANTE e o(a) aluno(a) abrem mão de qualquer direito reivindicatório que poderá decorrer do contido no item anterior. 
<br></br>7.	Em suas dependências a CONTRATADA não se responsabiliza por dinheiro, joias, bens de valor sentimental ou outros objetos de significativo valor, que por ventura sejam entregues ao aluno e que não sejam informados e depositados formalmente para guarda junto à direção da escola.
<br></br>8.	O(a) CONTRATANTE fica ciente, ainda que a CONTRATADA não presta quaisquer tipos de serviços em relação a estacionamento, vigilância ou guarda de veículos automotores de quaisquer natureza, não assumindo, portanto para si, a responsabilidade de indenizações por danos, furtos, incêndios, atropelamentos, colisões, etc, que venham ocorrer nas áreas circunvizinhas de seu prédio, cuja responsabilidade será exclusivamente de seu condutor e/ou proprietário.
<br></br>9.	Com a assinatura do presente, o(a) CONTRATANTE declara ter ciência de que a existência de débito de períodos anteriores negociado com a CONTRATADA e não pago, torna sem validade a matrícula a este CONTRATO, podendo a CONTRATADA lançar mão de valores eventualmente pagos pelo(a) CONTRATANTE para fins de abatimento do débito apurado, sem prejuízo de ressarcimento devido pelos serviços prestados até a data em que venha a ser considerado nulo o presente instrumento.
<br></br>10. A CONTRATADA possui CFTV- Sistema de Circuito Fechado de Televisão (câmeras de segurança). Todas as imagens são de caráter sigiloso/confidencial, os arquivos são restritos à CONTRATADA. O(a) CONTRATANTE declara ter conhecimento e estar de acordo com todo o teor e forma da presente cláusula, bem como, ter recebido todos os esclarecimentos necessários para o perfeito entendimento da mesma. 
<br></br>11. O(a) CONTRATANTE se obriga a comunicar à CONTRATADA qualquer alteração de endereço ou telefone, bem como alteração do estado civil e prestar declarações escritas com relação a autorização para retirada do aluno(a) ou situações decorrentes de processos de guarda e regime de visitas que impliquem na rotina da CONTRATADA, sob pena de serem consideradas válidas e devidamente recebidas quaisquer correspondências enviadas para o endereço constante neste contrato, inclusive para os efeitos de citação judicial, bem como os atos e posturas repetidamente adotadas, não se responsabilizando a CONTRATADA por quaisquer fatos que resultem da não observância da presente cláusula.
<br></br>12. O presente contrato tem vigência imediata e se extingue em 31 de dezembro de 2019, não gerando obrigações a CONTRATADA de sua renovação para períodos subsequentes. 
<br></br>13. Como acordado pelas partes no contrato e previsto no parágrafo primeiro do art. 6º da Lei no 9870/99 e por ninguém ser obrigado a contratar, manter ou renovar contrato com quem não quer, a CONTRATADA poderá não aceitar a matrícula para o ano ou período letivo seguinte do aluno que tiver débito relativo ao ano ou período letivo anterior ou no qual tenha deixado de efetuar em dia os pagamentos das parcelas da anuidade escolar, cientes as partes da existência de decisão do Supremo Tribunal Federal, em ação de inconstitucionalidade (ADIN 1081-6D/F), que reconhece ao estabelecimento de ensino este direito.
<br></br>14. Eventuais contratos paralelos firmados com a CONTRATADA relativos a atividades complementares facultativas (aulas extras), terão a sua continuidade condicionada à continuidade do presente contrato, desde já considerado principal, do qual os referidos contratos paralelos estarão conectados por vínculo de acessoriedade.
<br></br>15. As partes elegem o foro do local da prestação dos serviços para dirimir e solucionar quaisquer dúvidas oriundas do presente contrato. E por estarem assim acordadas, firmam as partes o presente, em duas vias de igual teor e forma, na presença das testemunhas abaixo.

		<hr></hr>				
		<div class="row">
				<div class="form-group col-md-12">
				    <label>Li, aceito e concordo com as informações deste quadro resumo, que fará parte integrante do contrato de rematrícula.</label>
				</div>
				<div class="col-md-12 form-group">
					<h:selectBooleanCheckbox value="#{contratoBean.concordoID}" />							
		        </div>
		</div>	
		<div class="row">
				<div class="form-group col-md-12">
				    <label>Autorizo o uso de imagem de meu(minha) filho(a).</label>
				</div>
				
				<div class="col-md-1 form-group">
							<input type="radio" jsf:id="item3" pt:name="autorizacao_imagem" value="true" >
		                    	<f:passThroughAttribute name="checked" value="#{contratoBean.contrato.uso_imagem eq true ? 'checked' : null}" />
		                    	<f:viewParam name="autorizacao_imagem" value="#{contratoBean.usoimagemID}" />
		                    </input>
		                    <h:outputLabel for="item3" value="SIM" />
		        </div>
		        <div class="col-md-2 form-group">    
		                    <input type="radio" jsf:id="item4" pt:name="autorizacao_imagem" value="false" >
		                    	<f:passThroughAttribute name="checked" value="#{contratoBean.contrato.uso_imagem eq false ? 'checked' : null}" />
		                    	<f:viewParam name="autorizacao_imagem" value="#{contratoBean.usoimagemID}" />
		                    </input>
		                    <h:outputLabel for="item4" value="NÃO" />
		        </div>
		</div>		
				
				<div class="box-footer">
		          <p:messages id="messages" />
		          <div class="btn-group">
			         	<p:commandButton value="Concluir a Matrícula e Finalizar" type="submit" id="gravar" update="@form" actionListener="#{contratoBean.adiciona_passo7}" styleClass="btn btn-success" />
			      </div>
		        </div>
		
          </div>
        </div>
        
        </section>
        <!-- /.box-body  -->
        
      </div>
      <!-- /.box -->

</h:form>

</ui:define>
	
</ui:composition>
