<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:define name="conteudo" >
  
<h:form id="form">
	
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Rematrícula
      </h1>
      <h3>Contratante: #{sessionScope.nomeusuario}</h3>
            
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Rematrícula</a></li>
        <li class="breadcrumb-item active">Contratos</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">AVIVA</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <h2>Período: 2019</h2>
          <h4>Aluno  : #{autenticadorBean.contrato.nome_aluno}</h4>
          <h4>Grupo  : G#{autenticadorBean.contrato.grupo}</h4>
          <!--<h5>Status : #{sessionScope.status}</h5>-->
        </div>
        
        <!-- /.box-body -->
        <div class="box-footer">
        
	        <div class="row">
	        <h:panelGroup rendered="#{!autenticadorBean.contrato.flag_inadimplente}">
	        
	       
		        <div class="col-md-4">
		          <h:column headerText="Ação" rendered="#{sessionScope.status eq 'P'}">	
					<f:ajax event="click" render="@form" listener="#{contratoBean.preparaAlteracao}">
					     <h:commandLink type="button" styleClass="btn btn-success btn-lg" >
					       <f:param name="id" value="#{autenticadorBean.contrato.id}" />
					       <H4>PROSSEGUIR</H4>
						 </h:commandLink>
					</f:ajax> 								  
				  </h:column>	
				</div>
				
				<div class="col-md-4">
		          <h:column headerText="Ação" rendered="#{sessionScope.status eq 'L'}">	
					<f:ajax event="click" render="@form" listener="#{contratoBean.preparaAlteracao}">
					     <h:commandLink type="button" styleClass="btn btn-success btn-lg" >
					       <f:param name="id" value="#{autenticadorBean.contrato.id}" />
					       <H4>PROSSEGUIR</H4>
						 </h:commandLink>
					</f:ajax> 								  
				  </h:column>	
				</div>
				
				<div class="col-md-4">
		          <h:column headerText="Ação" rendered="#{sessionScope.status eq 'F'}">	
					<H5><!--Seu contrato está em processo de análise.--></H5>												  
				  </h:column>	
				</div>
				
				<div class="col-md-4">
		          <h:column headerText="Ação" rendered="#{sessionScope.status eq 'A'}">	
					<a href="contrato_finalizado.xhtml" styleClass="btn btn-warning">Visualizar ou Imprimir seu Contrato</a>											  
				  </h:column>	
				</div>
					
			 </h:panelGroup>
		     </div>
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

</h:form>

</ui:define>
	
</ui:composition>
