<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/template_admin.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:define name="conteudo" >
  
<h:form id="form">
	
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Rematrícula
      </h1>
      <h3>Módulo de Gestão</h3>
            
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home_admin.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Rematrícula</a></li>
        <li class="breadcrumb-item active">Contratos</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">AVIVA</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <h2>Período: 2019</h2>
          <a href="lista_contratos_boninas.xhtml" styleClass="btn btn-warning">Lista de Contratos - Boninas</a>
          <br></br>	
          <a href="lista_contratos_moema.xhtml" styleClass="btn btn-warning">Lista de Contratos - Moema</a>
          <br></br>
          <a href="lista_contratos_brooklin.xhtml" styleClass="btn btn-warning">Lista de Contratos - Brooklin</a>
          
        </div>
        
        <!--<div class="box-body">
	        
	        <div class="row">
				<div class="col-md-4">
		        	<h4>Total de Contratos Visualizados</h4>
			        <h:dataTable id="lista_totais" var="dados" value="#{listaContratoBean.contratosVisualizados}" styleClass="table table-bordered">
				                  	
					    <h:column>
							<f:facet name="header">Unidade</f:facet> 
							<h:outputText value="#{dados[0]}" />
						</h:column>
						<h:column>
							<f:facet name="header">Total</f:facet> 
							<h:outputText value="#{dados[1]}" />
						</h:column>
										
				    </h:dataTable>
	        	</div>  
	        	
	        	<div class="col-md-4">
		        	<h4>Total de Contratos com Solicitação Horário</h4>
			        <h:dataTable id="lista_totais2" var="dados" value="#{listaContratoBean.contratosVisualizados}" styleClass="table table-bordered">
				                  	
					    <h:column>
							<f:facet name="header">Unidade</f:facet> 
							<h:outputText value="#{dados[0]}" />
						</h:column>
						<h:column>
							<f:facet name="header">Total</f:facet> 
							<h:outputText value="#{dados[1]}" />
						</h:column>
										
				    </h:dataTable>
	        	</div>   
	        	
	        	<div class="col-md-4">
		        	<h4>Total de Contratos Aprovados</h4>
			        <h:dataTable id="lista_totais3" var="dados" value="#{listaContratoBean.contratosVisualizados}" styleClass="table table-bordered">
				                  	
					    <h:column>
							<f:facet name="header">Unidade</f:facet> 
							<h:outputText value="#{dados[0]}" />
						</h:column>
						<h:column>
							<f:facet name="header">Total</f:facet> 
							<h:outputText value="#{dados[1]}" />
						</h:column>
										
				    </h:dataTable>
	        	</div>     
	       </div> 
	       
		            
		 </div> -->
        
        <!-- /.box-body -->
        
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

</h:form>

</ui:define>
	
</ui:composition>
