<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/template_admin.xhtml"
	xmlns="http://www.w3.org/1999/xhtml " 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pl="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:define name="conteudo" >

<h:form id="form">
<h:inputHidden value="#{listaContratoBean.contrato.id}" />
	
	<!-- Content Wrapper. Contains page content -->
    
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Contratos
            <small>Gestão dos contratos</small>
          </h1>
          <ol class="breadcrumb">
	        <li class="breadcrumb-item"><a href="home_admin.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
	        <li class="breadcrumb-item"><a href="#">Rematrícula</a></li>
	        <li class="breadcrumb-item active">Lista de Contratos</li>
	      </ol>
	      
        </section>

        <!-- Main content -->
        <section class="content">
          
          <!-- Your Page Content Here -->
          <div class="row">
            <!-- left column -->
	            
	          <div class="col-md-12">  <!-- /div rigth column -->
	            <!-- general form elements -->
	              
	            <div class="box box-primary">
	            
	                <div class="box-header with-border">
	                  <h3 class="box-title">Contratos - Todas Unidades</h3>
	                </div><!-- /.box-header -->
	                
	            	<div class="box-body">
	            
	                    <h:dataTable id="lista_clientes" var="dados" value="#{listaContratoBean.contratos}" styleClass="table table-bordered">
		                    	
		                        <h:column>
									<f:facet name="header">Unidade</f:facet> 
									<h:outputText value="#{dados.unidade}" />
								</h:column>
								<h:column>
									<f:facet name="header">Aluno</f:facet> 
									<h:outputText value="#{dados.nome_aluno}" />
								</h:column>
								<h:column>
									<f:facet name="header">Visualizado</f:facet>
									<span class="badge bg-green"><h:outputText rendered="#{dados.flag_primeiro_acesso eq true}" value="SIM" /></span>
									<span class="badge bg-red"><h:outputText rendered="#{dados.flag_primeiro_acesso eq false}" value="NÃO" /></span>
									<span class="badge bg-red"><h:outputText rendered="#{dados.flag_primeiro_acesso eq null}" value="NÃO" /></span>
								</h:column>
								<h:column>
									<f:facet name="header">Grupo</f:facet> 
									<h:outputText value="#{dados.grupo}" />
								</h:column>
								<h:column>
									<f:facet name="header">Status</f:facet> 
								  	<span class="badge bg-orange"><h:outputText rendered="#{dados.status_contrato eq 'P'}" value="PENDENTE" /></span>
								  	<span class="badge bg-blue"><h:outputText rendered="#{dados.status_contrato eq 'F'}" value="SOLICITAÇÃO HORÁRIO" /></span>
								  	<span class="badge bg-yellow"><h:outputText rendered="#{dados.status_contrato eq 'L'}" value="LIBERADO NOVO HORÁRIO" /></span>
								  	<span class="badge bg-green"><h:outputText rendered="#{dados.status_contrato eq 'A'}" value="APROVADO" /></span>
								</h:column>
								<h:column>
									<f:facet name="header">Detalhes</f:facet> 
									<div class="btn-group">
				                      <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">
				                        <i class="fa fa-calendar-o"></i>
				                        <span class="caret"></span>
				                        <span class="sr-only">Toggle Dropdown</span>
				                      </button>
				                      <ul class="dropdown-menu" role="menu">
				                         <div class="box-primary">
							                <div class="box-body">
							                  <p class="text-muted text-center"><b>Solicitação</b></p>
											  <p class="text-muted111 text-center">#{dados.texto_periodo_alterado}</p>
							                </div><!-- /.box-body -->
							              </div><!-- /.box -->				                        
				         	          </ul>
				                    </div>
								</h:column>
								<h:column headerText="Ação">
								  <f:facet name="header">Editar</f:facet> 
								  <f:ajax event="click" render="@form" listener="#{contratoBean.preparaAlteracao_admin}">
									<h:commandLink>
										<f:param name="id" value="#{dados.id}" />																
										<i class="fa fa-pencil-square-o"></i>
									</h:commandLink>
								  </f:ajax>				  
								</h:column>	
								<h:column headerText="Ação">
								  <f:facet name="header">Liberar</f:facet> 
								  <f:ajax event="click" render="@form" listener="#{listaContratoBean.preparaAprovacaoHorario}">
									<h:commandLink rendered="#{dados.flag_periodo_alterado eq true}">
										<f:param name="id" value="#{dados.id}" />																
										<i class="fa fa-check"></i>
									</h:commandLink>
								  </f:ajax>				  
								</h:column>	
								<h:column headerText="Ação">
								  <f:facet name="header">Aprovar</f:facet> 
								  <f:ajax event="click" render="@form" listener="#{listaContratoBean.preparaAprovacao}">
									<h:commandLink rendered="#{dados.status_contrato eq 'F'}">
										<f:param name="id" value="#{dados.id}" />																
										<i class="fa fa-check"></i>
									</h:commandLink>
								  </f:ajax>				  
								</h:column>	
								<h:column headerText="Boleto">
								  <f:facet name="header">Boleto</f:facet> 
								  <f:ajax event="click" render="@form" listener="#{listaContratoBean.confirmacaoBoleto}">
									<h:commandLink>
										<f:param name="id" value="#{dados.id}" />																
										<i class="fa fa-money"></i>
									</h:commandLink>
									<span class="badge bg-green"><h:outputText rendered="#{dados.flag_boleto_emitido eq true}" value="SIM"></h:outputText></span>
								  	<span class="badge bg-red"><h:outputText rendered="#{dados.flag_boleto_emitido eq false}" value="NÃO"></h:outputText></span>
								  </f:ajax>				  
								</h:column>	
		                  </h:dataTable>
		            
		                  
                	</div><!-- /.box-body -->
                
              	</div><!-- /.box -->    
                
	          </div>  <!-- /.div rigth column -->
	          
           </div> <!-- /.div row -->
          
        </section><!-- /.content -->
        
      </div><!-- /.content-wrapper -->
		
</h:form>

</ui:define>
	
</ui:composition>
