<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Aviva Rematricula" />
    <meta name="author" content="Intera" />
    <link rel="icon" href="images/favicon.ico" />

    <title>AVIVA</title>
  
	<!-- Bootstrap 4.1.3-->
	<link rel="stylesheet" href="assets_new/vendor_components/bootstrap/css/bootstrap.css" />
	
	<!-- Bootstrap-extend-->
	<link rel="stylesheet" href="css/bootstrap-extend.css" />

	<!-- Font Awesome -->
	<link rel="stylesheet" href="assets_new/vendor_components/font-awesome/css/font-awesome.min.css" />

	<!-- Ionicons -->
	<link rel="stylesheet" href="assets_new/vendor_components/Ionicons/css/ionicons.min.css" />

	<!-- Theme style -->
	<link rel="stylesheet" href="css/master_style.css" />

	<!-- Minimal-art Admin Skins. Choose a skin from the css/skins
	   folder instead of downloading all of them to reduce the load. -->
	<link rel="stylesheet" href="css/skins/_all-skins.css" />	

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" />

</h:head>

<h:body styleClass="hold-transition login-page">

<h:form id="form" styleClass="form-element">

<div class="login-box">
  <div class="login-logo">
    <img src="img/logotipo.png" />
    <a href="#"><b>Sistema Web</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    
      <div class="row">
        <!-- /.col -->
        <div class="col-12 text-center">
            <p class="bg-red">Os dados informados não foram identificados em nossos registros. Tente novamente.</p>
        </div>
        <!-- /.col -->
      </div>
      <div class="margin-top-30 text-center">
    	<span class="btn btn-orange btn-block btn-flat margin-top-10"><a href="recuperar_senha.xhtml" title="#">RECUPERAR SENHA</a></span>
      </div>
      
      <div class="margin-top-30 text-center">
    	<li class="btn btn-default btn-block btn-flat margin-top-10"><a href="index_web.xhtml" title="#">EFETUAR LOGIN</a></li>
      </div>
     
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
</h:form>

	<!-- jQuery 3 -->
	<script src="assets_new/vendor_components/jquery-3.3.1/jquery-3.3.1.js"></script>
	
	<!-- popper -->
	<script src="assets_new/vendor_components/popper/dist/popper.min.js"></script>
	
	<!-- Bootstrap 4.1.3-->
	<script src="assets_new/vendor_components/bootstrap/js/bootstrap.min.js"></script>

</h:body>
</html>
