<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/web/template_administrativo.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:define name="conteudo" >

<h:form id="form">

<h:inputHidden value="#{escolaBean.contrato.id}" />
	
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.xhtml"><i class="fa fa-arrow-right"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Administrativo</a></li>
        <li class="breadcrumb-item active">Escola</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
	
      <!-- Default box -->
      <div class="box box-default">
        <div class="box-header with-border">
        
	    <div class="col-md-12">
	    
	    	<div class="row">
		    	<div class="col-md-10">
		    		<h4>Lista de Escolas</h4>
		    	</div>
		    	<div class="col-md-2">
		    		<h:link value="+ Nova Escola" outcome="nova_escola" styleClass="btn btn-default" /> 
		    	</div>
	    	</div>
	    	
	    	<div class="box-body">
	            
	                    <h:dataTable id="lista_escolas" var="dados" value="#{listaContratoBean.contratos}" styleClass="table table-bordered">
		                    	
		                        <h:column>
									<f:facet name="header">CNPJ</f:facet> 
									<h:outputText value="12.234.456/0001-99" />
								</h:column>
								<h:column>
									<f:facet name="header">Razão Social</f:facet> 
									<h:outputText value="Centro Educacional Aviva" />
								</h:column>
								<h:column>
									<f:facet name="header">Ativa</f:facet>
									<span class="badge bg-green"><h:outputText rendered="#{dados.flag_primeiro_acesso eq true}" value="SIM" /></span>
									<span class="badge bg-red"><h:outputText rendered="#{dados.flag_primeiro_acesso eq false}" value="NÃO" /></span>
									<span class="badge bg-red"><h:outputText rendered="#{dados.flag_primeiro_acesso eq null}" value="NÃO" /></span>
								</h:column>
								<h:column>
									<f:facet name="header">Nome Contato</f:facet> 
									<h:outputText value="Larirssa" />
								</h:column>
								<h:column>
									<f:facet name="header">Telefone</f:facet> 
								  	<span class="badge bg-orange"><h:outputText rendered="#{dados.status_contrato eq 'P'}" value="(11) 91111-2222" /></span>
								  	<span class="badge bg-blue"><h:outputText rendered="#{dados.status_contrato eq 'F'}" value="(11) 91111-2222" /></span>
								  	<span class="badge bg-yellow"><h:outputText rendered="#{dados.status_contrato eq 'L'}" value="(11) 91111-2222" /></span>
								  	<span class="badge bg-green"><h:outputText rendered="#{dados.status_contrato eq 'A'}" value="(11) 91111-2222" /></span>
								</h:column>
								
								<h:column headerText="Ação">
								  <f:facet name="header">Editar</f:facet> 
								  <f:ajax event="click" render="@form" listener="#{escolaBean.preparaAlteracaoxxxx}">
									<h:commandLink>
										<f:param name="id" value="#{dados.id}" />																
										<i class="fa fa-pencil-square-o"></i>
									</h:commandLink>
								  </f:ajax>				  
								</h:column>	
								
								<h:column headerText="Ação">
								  <f:facet name="header">Excluir</f:facet> 
								     <f:ajax event="click" render="@form" listener="#{escolaBean.remove}">   
								        <p:commandLink onclick="return show_confirm()" >
								        	<f:param name="id" value="#{dados.id}" />
								        	<i class="fa fa-trash-o"></i>
								        </p:commandLink>
								     </f:ajax>   										
								</h:column>									
								
		                  </h:dataTable>
		            
		                  
                	</div><!-- /.box-body -->
	    	
	    </div>
	 </div>
	</div> 
	   

     
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
<script>
	
function show_confirm() {
   //return confirm ("Confirma a exclusão?");
   return dndod.confirm("Confirma a exclusão ?", function () {
   dndod.notice("Excluído!");   
   });
}

			
</script>


</h:form>

</ui:define>
	
</ui:composition>
