<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/web/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:define name="conteudo" >
  
<h:form id="form">
<!-- weather weather -->
<link rel="stylesheet" href="../assets_new/vendor_components/weather-icons/weather-icons.css" />
	
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item active"><a href="#">Dashboard</a></li>       
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        
        <div class="col-xl-3 col-md-6 col-12">
          <div class="info-box">
            <span class="info-box-icon push-bottom bg-red"><i class="ion ion-ios-pricetag-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Boninas</span>
              <span class="info-box-number">200 <small>alunos</small></span>

              <div class="progress">
                <div class="progress-bar bg-red" style="width: 100%"></div>
              </div>
              <span class="progress-description text-muted">
                    <small>100% do Total</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        
        <div class="col-xl-3 col-md-6 col-12">
          <div class="info-box">
            <span class="info-box-icon push-bottom bg-red"><i class="ion ion-ios-pricetag-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Moema</span>
              <span class="info-box-number">160 <small>alunos</small></span>

              <div class="progress">
                <div class="progress-bar bg-red" style="width: 60%"></div>
              </div>
              <span class="progress-description text-muted">
                    <small>60% do Total</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        
        <div class="col-xl-3 col-md-6 col-12">
          <div class="info-box">
            <span class="info-box-icon push-bottom bg-red"><i class="ion ion-ios-pricetag-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Brooklin</span>
              <span class="info-box-number">190 <small>alunos</small></span>

              <div class="progress">
                <div class="progress-bar bg-red" style="width: 90%"></div>
              </div>
              <span class="progress-description text-muted">
                    <small>90% do Total</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        
        <div class="col-xl-3 col-md-6 col-12">
          <div class="info-box">
            <span class="info-box-icon push-bottom bg-red"><i class="ion ion-ios-pricetag-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Novos Alunos</span>
              <span class="info-box-number">35 <small>alunos</small></span>

              <div class="progress">
                <div class="progress-bar bg-red" style="width: 50%"></div>
              </div>
              <span class="progress-description text-muted">
                    <small>50% do Total</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        
      </div>
      
      <div class="row">
      
      	 <div class="col-xl-4 connectedSortable">	
          <!-- EVENT LIST -->
			  <div class="box box-primary">
				<div class="box-header with-border">
				  <h3 class="box-title">Eventos Recentes</h3>

				  <div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				  </div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
				  <ul class="products-list product-list-in-box">
					<li class="item">
					  <div class="product-img">
						<img src="../images/gallery/landscape1.jpg" alt="Product Image" />
					  </div>
					  <div class="product-info">
						<a href="javascript:void(0)" class="product-title">Evento cultural
						  <span class="label bg-red pull-right">BONINAS</span></a>
						<span class="product-description">
							  10/Outubro - 10hs
							</span>
					  </div>
					</li>
					<!-- /.item -->
					<li class="item">
					  <div class="product-img">
						<img src="../images/gallery/landscape10.jpg" alt="Product Image" />
					  </div>
					  <div class="product-info">
						<a href="javascript:void(0)" class="product-title">Dia do Piquenique
						  <span class="label bg-red pull-right">MOEMA</span></a>
						<span class="product-description">
							  11/Outubro - 10hs
							</span>
					  </div>
					</li>
					<!-- /.item -->
					<li class="item">
					  <div class="product-img">
						<img src="../images/gallery/landscape11.jpg" alt="Product Image" />
					  </div>
					  <div class="product-info">
						<a href="javascript:void(0)" class="product-title">Festa Dia da Criança<span
							class="label bg-red pull-right">TODAS</span></a>
						<span class="product-description">
							  12/Outubro - Dia inteiro
							</span>
					  </div>
					</li>
				  </ul>
				</div>
				<!-- /.box-body -->
				<div class="box-footer text-center">
				  <a href="javascript:void(0)" class="uppercase">Visualizar todos eventos</a>
				</div>
				<!-- /.box-footer -->
			  </div>           
		 </div>  
      
      	<div class="col-lg-4">
		  <!-- Default box -->
		  <div class="box bg-blue text-center">			
			<div class="box-body">
			  <div class="p-5">
				  <h3 class="white">
					<span class="font-size-30">São Paulo, </span>BR
				  </h3>
				  <p class="weather-day-date mb-30">
					<span class="mr-5">SEG</span> Out 08, 2018
				  </p>
				  <div class="mb-30 weather-icon">
					<canvas class="mr-40 text-top" id="icon1" width="90" height="90"></canvas>
					<div class="inline-block">
					  <span class="font-size-50">29°
						<span class="font-size-40">C</span>
					  </span>
					  <p class="text-left">DIA CHUVOSO</p>
					</div>
				  </div>
				  <div class="row no-space">
					<div class="col-2">
					  <div>
						<div class="mb-10">TUE</div>
						<i class="wi-day-sunny font-size-30 mb-10"></i>
						<div>24°
						  <span class="font-size-12">C</span>
						</div>
					  </div>
					</div>
					<div class="col-2">
					  <div>
						<div class="mb-10">WED</div>
						<i class="wi-day-cloudy font-size-30 mb-10"></i>
						<div>21°
						  <span class="font-size-12">C</span>
						</div>
					  </div>
					</div>
					<div class="col-2">
					  <div>
						<div class="mb-10">THU</div>
						<i class="wi-day-sunny font-size-30 mb-10"></i>
						<div>25°
						  <span class="font-size-12">C</span>
						</div>
					  </div>
					</div>
					<div class="col-2">
					  <div>
						<div class="mb-10">FRI</div>
						<i class="wi-day-cloudy-gusts font-size-30 mb-10"></i>
						<div>20°
						  <span class="font-size-12">C</span>
						</div>
					  </div>
					</div>
					<div class="col-2">
					  <div>
						<div class="mb-10">SAT</div>
						<i class="wi-day-lightning font-size-30 mb-10"></i>
						<div>18°
						  <span class="font-size-12">C</span>
						</div>
					  </div>
					</div>
					<div class="col-2">
					  <div>
						<div class="mb-10">SUN</div>
						<i class="wi-day-storm-showers font-size-30 mb-10"></i>
						<div>14°
						  <span class="font-size-12">C</span>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			</div>
			<!-- /.box-body -->
		  </div>
      	<!-- /.box --> 
      	</div>      
      
      
      <div class="col-xl-4 col-lg-4 col-12">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-green">
              <div class="widget-user-image">
                <img class="rounded-circle" src="../images/user7-128x128.jpg" alt="User Avatar" />
              </div>
              <!-- /.widget-user-image -->
              <h3 class="widget-user-username">Gestao Diária </h3>
              <h6 class="widget-user-desc">08/Outubro/2018</h6>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav d-block nav-stacked">
                <li class="nav-item"><a href="#" class="nav-link">Lanche Manhã <span class="pull-right badge bg-green">90 -> 100</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Almoço <span class="pull-right badge bg-yellow">50 -> 120</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Lanche Tarde <span class="pull-right badge bg-red">0 -> 120</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Jantar <span class="pull-right badge bg-red">0 -> 50</span></a></li>
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
      
      
      
      
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
<!-- weather for demo purposes -->
<script src="../assets_new/vendor_plugins/weather-icons/WeatherIcon.js"></script>
	
<script type="text/javascript">
	
		WeatherIcon.add('icon1'	, WeatherIcon.SLEET , {stroke:false , shadow:false , animated:true } );
		WeatherIcon.add('icon2'	, WeatherIcon.SNOW , {stroke:false , shadow:false , animated:true } );
		WeatherIcon.add('icon3'	, WeatherIcon.LIGHTRAINTHUNDER , {stroke:false , shadow:false , animated:true } );

</script>
	
</h:form>

</ui:define>
	
</ui:composition>
