<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/web/template_mensagens.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:define name="conteudo" >
  
<h:form id="form">
	
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item active"><a href="#">Mensagens</a></li>       
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        
        <!-- /.col -->
        <div class="col-lg-12 col-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Recebidas</h3>

              <div class="box-tools pull-right">
              
              	<div class="input-group has-feedback">
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                  <input type="text" class="form-control input-sm" placeholder="Pesquisar"/>
                </div>
                
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-outline btn-sm checkbox-toggle"><i class="ion ion-android-checkbox-outline-blank"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-outline btn-sm"><i class="ion ion-reply"></i></button>
                  <button type="button" class="btn btn-default btn-outline btn-sm"><i class="ion ion-share"></i></button>
                </div>
                <!-- /.btn-group -->
                <button type="button" class="btn btn-default btn-outline btn-sm"><i class="fa fa-refresh"></i></button>
                <div class="pull-right">
                  1-50/200
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-outline btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-outline btn-sm"><i class="fa fa-chevron-right"></i></button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.pull-right -->
              </div>
              <div class="mailbox-messages">
				<div class="table-responsive">
					<table class="table table-hover table-striped">
					  <tbody>
					  <tr>
						<td><input type="checkbox"/></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
						<td class="mailbox-name">Hritik Roshan</td>
						<td class="mailbox-subject"><a href="read-mail.html"><b>Lorem Ipsum</b> - There are many variations of Ipsum available...</a>
						</td>
						<td class="mailbox-attachment"></td>
						<td class="mailbox-date">3 mins ago</td>
					  </tr>
					  <tr>
						<td><input type="checkbox"/></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
						<td class="mailbox-name">Genelia Roshan</td>
						<td class="mailbox-subject"><a href="read-mail.html"><b>Lorem Ipsum</b> - There are many variations of Ipsum available...</a>
						</td>
						<td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
						<td class="mailbox-date">14 mins ago</td>
					  </tr>
					  <tr>
						<td><input type="checkbox"/></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
						<td class="mailbox-name">Ritesh Deshmukh</td>
						<td class="mailbox-subject"><a href="read-mail.html"><b>Lorem Ipsum</b> - There are many variations of Ipsum available...</a>
						</td>
						<td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
						<td class="mailbox-date">15 hours ago</td>
					  </tr>
					  <tr>
						<td><input type="checkbox"/></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
						<td class="mailbox-name">Akshay Kumar</td>
						<td class="mailbox-subject"><a href="read-mail.html"><b>Lorem Ipsum</b> - There are many variations of Ipsum available...</a>
						</td>
						<td class="mailbox-attachment"></td>
						<td class="mailbox-date">25 hours ago</td>
					  </tr>
					 <tr>
						<td><input type="checkbox"/></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
						<td class="mailbox-name">Salman Dada</td>
						<td class="mailbox-subject"><a href="read-mail.html"><b>Lorem Ipsum</b> - There are many variations of Ipsum available...</a>
						</td>
						<td class="mailbox-attachment"></td>
						<td class="mailbox-date">3 mins ago</td>
					  </tr>
					  <tr>
						<td><input type="checkbox"/></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
						<td class="mailbox-name">Rucha Gandhi</td>
						<td class="mailbox-subject"><a href="read-mail.html"><b>Lorem Ipsum</b> - There are many variations of Ipsum available...</a>
						</td>
						<td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
						<td class="mailbox-date">14 mins ago</td>
					  </tr>
					  <tr>
						<td><input type="checkbox"/></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
						<td class="mailbox-name">Patil Bhw</td>
						<td class="mailbox-subject"><a href="read-mail.html"><b>Lorem Ipsum</b> - There are many variations of Ipsum available...</a>
						</td>
						<td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
						<td class="mailbox-date">15 hours ago</td>
					  </tr>
					  <tr>
						<td><input type="checkbox"/></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
						<td class="mailbox-name">Tapan Jio</td>
						<td class="mailbox-subject"><a href="read-mail.html"><b>Lorem Ipsum</b> - There are many variations of Ipsum available...</a>
						</td>
						<td class="mailbox-attachment"></td>
						<td class="mailbox-date">25 hours ago</td>
					  </tr>
					  <tr>
						<td><input type="checkbox"/></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
						<td class="mailbox-name">Milin Khan</td>
						<td class="mailbox-subject"><a href="read-mail.html"><b>Lorem Ipsum</b> - There are many variations of Ipsum available...</a>
						</td>
						<td class="mailbox-attachment"></td>
						<td class="mailbox-date">3 mins ago</td>
					  </tr>
					  <tr>
						<td><input type="checkbox"/></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
						<td class="mailbox-name">Kajal SEO</td>
						<td class="mailbox-subject"><a href="read-mail.html"><b>Lorem Ipsum</b> - There are many variations of Ipsum available...</a>
						</td>
						<td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
						<td class="mailbox-date">14 mins ago</td>
					  </tr>
					  <tr>
						<td><input type="checkbox"/></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
						<td class="mailbox-name">Ruchit Khhana</td>
						<td class="mailbox-subject"><a href="read-mail.html"><b>Lorem Ipsum</b> - There are many variations of Ipsum available...</a>
						</td>
						<td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
						<td class="mailbox-date">15 hours ago</td>
					  </tr>
					  <tr>
						<td><input type="checkbox"/></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
						<td class="mailbox-name">Manoj Kumar</td>
						<td class="mailbox-subject"><a href="read-mail.html"><b>Lorem Ipsum</b> - There are many variations of Ipsum available...</a>
						</td>
						<td class="mailbox-attachment"></td>
						<td class="mailbox-date">25 hours ago</td>
					  </tr>
					  <tr>
						<td><input type="checkbox"/></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
						<td class="mailbox-name">Akshar Gandhi</td>
						<td class="mailbox-subject"><a href="read-mail.html"><b>Lorem Ipsum</b> - There are many variations of Ipsum available...</a>
						</td>
						<td class="mailbox-attachment"></td>
						<td class="mailbox-date">3 mins ago</td>
					  </tr>
					  <tr>
						<td><input type="checkbox"/></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
						<td class="mailbox-name">vipul Patel</td>
						<td class="mailbox-subject"><a href="read-mail.html"><b>Lorem Ipsum</b> - There are many variations of Ipsum available...</a>
						</td>
						<td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
						<td class="mailbox-date">14 mins ago</td>
					  </tr>
					  <tr>
						<td><input type="checkbox"/></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
						<td class="mailbox-name">Amitabh Boss</td>
						<td class="mailbox-subject"><a href="read-mail.html"><b>Lorem Ipsum</b> - There are many variations of Ipsum available...</a>
						</td>
						<td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
						<td class="mailbox-date">15 hours ago</td>
					  </tr>
					  <tr>
						<td><input type="checkbox"/></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
						<td class="mailbox-name">Rajni Ana</td>
						<td class="mailbox-subject"><a href="read-mail.html"><b>Lorem Ipsum</b> - There are many variations of Ipsum available...</a>
						</td>
						<td class="mailbox-attachment"></td>
						<td class="mailbox-date">25 hours ago</td>
					  </tr>
					  </tbody>
						</table>
					<!-- /.table -->
				  </div>
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-outline btn-sm checkbox-toggle"><i class="ion ion-android-checkbox-outline-blank"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-outline btn-sm"><i class="ion ion-reply"></i></button>
                  <button type="button" class="btn btn-default btn-outline btn-sm"><i class="ion ion-share"></i></button>
                </div>
                <!-- /.btn-group -->
                <button type="button" class="btn btn-default btn-outline btn-sm"><i class="fa fa-refresh"></i></button>
                <div class="pull-right">
                  1-50/200
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-outline btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-outline btn-sm"><i class="fa fa-chevron-right"></i></button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.pull-right -->
              </div>
            </div>
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
 
      

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

</h:form>

</ui:define>
	
</ui:composition>
