<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/web/template_mensagens.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:define name="conteudo" >
  
<h:form id="form">
	
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item active"><a href="#">Mensagens</a></li>       
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        
        <div class="col-lg-12 col-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Nova Mensagem</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="form-group">
                <input class="form-control" placeholder="Para:"/>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Assunto:"/>
              </div>
              <div class="form-group">
                    <textarea id="compose-textarea" class="form-control" style="height: 200px">
                      <p>Sua nova mensagem aqui....</p>
                    </textarea>
              </div>
              <div class="form-group">
                <div class="btn btn-orange btn-file">
                  <i class="fa fa-paperclip"></i> Anexar
                  <input type="file" name="attachment"/>
                </div>
                <p class="help-block">Max. 32MB</p>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div class="pull-right">
                <button type="button" class="btn btn-orange"><i class="fa fa-pencil"></i> Rascunho</button>
                <button type="submit" class="btn btn-orange"><i class="fa fa-envelope-o"></i> Enviar</button>
              </div>
              <button type="reset" class="btn btn-orange"><i class="fa fa-times"></i> Descartar</button>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /. box -->
        </div>
        
        
      </div>
      <!-- /.row -->
 
      

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

</h:form>

</ui:define>
	
</ui:composition>
