<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/web/template_administrativo.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:define name="conteudo" >

<h:form id="form">

<h:inputHidden value="#{escolaBean.contrato.id}" />
	
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Administrativo</a></li>
        <li class="breadcrumb-item active">Escola</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
	
      <!-- Default box -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="card-title">Escola</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        
        <!-- /.box-body -->
        <div class="box-body col-md-12">
          
          <div class="row">
          	<div class="form-group col-md-12">
          		<p:messages id="messages" />
          	</div>
          </div>
          <div class="row">
              <div class="form-group col-md-8">
		         <label for="exampleInputCNPJ">CNPJ</label>
		         <h:inputText type="text" class="form-control" required="true" value="#{escolaBean.contrato.nome_contratante}" id="exampleInputCNPJ" requiredMessage="Informe o CNPJ" />	                      
		      </div>
		      <div class="form-group col-md-4">
		         <label for="exampleInputRazaoSocial">Razão Social</label>
		         <h:inputText type="text" class="form-control" required="true" value="#{escolaBeann.contrato.nome_contratante}" id="exampleInputRazaoSocial" requiredMessage="Informe a Razão Social" />	                      
		      </div>		      
	       </div>
	       <div class="row">
	       	   <div class="form-group col-md-4">
		         <label for="exampleInputNomeContato">Nome Contato</label>
		         <h:inputText type="text" class="form-control" required="true" value="#{escolaBean.contrato.nome_contratante}" id="exampleInputNomeContato" requiredMessage="Informe o Nome do Contato" />	                      
		      </div>
		       <div class="form-group col-md-4">
		          <label for="exampleInputEmailContato">Email</label>
		          <div class="controls">
		          	<h:inputText type="email" class="form-control" required="true" value="#{escolaBean.contrato.email}" id="exampleInputEmailContato" requiredMessage="Informe o email" validatorMessage="Endereço de email inválido" >
		          		<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
					</h:inputText>
					<p:message styleClass="alert-danger" for="exampleInputEmailContato" closable="true" />
		       	  </div>
		       </div>
		       <div class="form-group col-md-2">
		          <label for="exampleInputTelefone">Telefone</label>
		          <h:inputText type="text" class="form-control" required="true" value="#{escolaBean.contrato.celular}" id="exampleInputTelefone" requiredMessage="Informe o telefone fixo"/>	                      
		       </div>
		       <div class="form-group col-md-2">
		          <label for="exampleInputCelular">Celular</label>
		          <h:inputText type="text" class="form-control" required="true" value="#{escolaBean.contrato.celular}" id="exampleInputCelular" requiredMessage="Informe o telefone celular"/>	                      
		       </div>
	       </div>
	       <div class="row">
	       	   <div class="form-group col-md-6">
		          <label for="exampleInputNomeFantasia">Nome Fantasia</label>
		          <h:inputText type="text" class="form-control" required="true" value="#{escolaBean.contrato.celular}" id="exampleInputNomeFantasia" requiredMessage="Informe o Nome Fantasia"/>	                      
		       </div>
		       <div class="form-group col-md-6">
		          <label for="exampleInputLogotipo">Logotipo</label>
		          <h:inputText type="text" class="form-control" required="true" value="#{escolaBean.contrato.celular}" id="exampleInputLogotipo" requiredMessage="Informe o Logotipo"/>	                      
		       </div>
	       </div>
	       <div class="row">
	       	   <div class="form-group col-md-2">
		          <label for="exampleInputCep">Cep</label>
		          <p:inputMask type="text" mask="99999-999" class="form-control" required="true" value="#{escolaBean.contrato.cep}" requiredMessage="Informe o Cep" id="exampleInputCep" onblur="verificarCep();" />
		          <p:remoteCommand name="verificarCep" process="@this exampleInputCep" actionListener="#{escolaBean.verificarCep}" update="exampleInputEndereco exampleInputBairro exampleInputCidade exampleInputEstado"/>	                      
		       </div>
		       <div class="form-group col-md-8">
		          <label for="exampleInputEndereco">Endereço</label>
		          <h:inputText type="text" class="form-control" disabled="#{escolaBean.disabled}" required="true" value="#{escolaBean.contrato.endereco}" id="exampleInputEndereco" requiredMessage="Informe o endereço"/>	                      
		       </div>
		       <div class="form-group col-md-2">
		          <label for="exampleInputNumeroComplemento">Número/Compl</label>
		          <h:inputText type="text" class="form-control" required="true" value="#{escolaBean.contrato.celular}" id="exampleInputNumeroComplemento" requiredMessage="Informe o número"/>	                      
		       </div>
		   </div>
		   <div class="row">
		       <div class="form-group col-md-4">
		          <label for="exampleInputBairro">Bairro</label>
		          <h:inputText type="text" class="form-control" disabled="#{escolaBean.disabled}" required="true" value="#{escolaBean.contrato.bairro}" id="exampleInputBairro" requiredMessage="Informe o bairro" />	                      
		       </div>
		       <div class="form-group col-md-4">
		          <label for="exampleInputCidade">Cidade</label>
		          <h:inputText type="text" class="form-control" disabled="#{escolaBean.disabled}" required="true" value="#{escolaBean.contrato.cidade}" id="exampleInputCidade" requiredMessage="Informe a cidade" />	                      
		       </div>
		       <div class="form-group col-md-4">
		          <label for="exampleInputEstado">Estado</label>
		          <h:inputText type="text" class="form-control" disabled="#{escolaBean.disabled}" required="true" value="#{escolaBean.contrato.uf}" id="exampleInputEstado" requiredMessage="Informe o estado" />	                      
		       </div>
	       </div>
           	       
	    </div>  
	    
	    <div class="box-footer">
	       <div class="btn-group">
	            <p:commandButton value="Salvar" type="submit" id="gravar" update="@form" actionListener="#{escolaBean.adicionaxxxx}" styleClass="btn btn-warning" />
	       </div>
	    </div>
        <!-- /.box-footer-->
        
      </div>
      <!-- /.box -->
         
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
<script>
	
function show_confirm() {
   //return confirm ("Confirma a exclusão?");
   return dndod.confirm("Confirma a exclusão ?", function () {
   dndod.notice("Excluído!");   
   });
}

			
</script>


</h:form>

</ui:define>
	
</ui:composition>
