<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/web/template_administrativo.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:define name="conteudo" >

<h:form id="form">
<h:inputHidden value="#{escolaBean.contrato.id}" />
	
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Administrativo</a></li>
        <li class="breadcrumb-item active">Perfil Acesso</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
	
      <!-- Default box -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="card-title">Perfil de Acesso</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        
        <!-- /.box-body -->
        <div class="box-body col-md-12">
          
          <div class="row">
          	<div class="form-group col-md-12">
          		<p:messages id="messages" />
          	</div>
          </div>
          <div class="row">
              <div class="form-group col-md-4">
		         <label for="exampleNomePerfil">Nome Perfil</label>
		         <h:inputText type="text" class="form-control" required="true" value="#{escolaBean.contrato.nome_contratante}" id="exampleNomePerfil" requiredMessage="Informe o Nome do Perfil" />	                      
		      </div>
		      <div class="form-group col-md-6">
					<label for="inputTipoAcesso">Tipo de Acesso</label>
					<h:selectOneMenu class="form-control periodo" required="true" id="inputEscola" value="#{escolaBean.contrato.periodo}" >
							<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="inputTipoAcesso a escola" /> 
							<f:selectItem itemLabel="WEBROOT	" itemValue="1" />
							<f:selectItem itemLabel="ADMIN" itemValue="2" />
							<f:selectItem itemLabel="MASTER" itemValue="3" />
							<f:selectItem itemLabel="COLABORADOR" itemValue="4" />
							<f:selectItem itemLabel="FAMÍLIA" itemValue="5" />
					</h:selectOneMenu> 
			   </div>
			   <div class="form-group col-md-2">
					<label for="inputAtivo">Ativo</label>
					<h:selectOneMenu class="form-control periodo" required="true" id="inputAtivo" value="#{escolaBean.contrato.periodo}" >
							<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o status" /> 
							<f:selectItem itemLabel="SIM" itemValue="SIM" />
							<f:selectItem itemLabel="NÃO" itemValue="NAO" />							
					</h:selectOneMenu> 
			   </div>			      
	       </div>	       
	    </div>  
	    
	    <div class="box-footer">
	       <div class="btn-group">
	            <p:commandButton value="Salvar" type="submit" id="gravar" update="@form" actionListener="#{escolaBean.adicionaxxxx}" styleClass="btn btn-warning" />
	       </div>
	    </div>
        <!-- /.box-footer-->
        
      </div>
      <!-- /.box -->
      
      
      <!-- Default box -->
      <div class="box box-default">
        <div class="box-header with-border">
        
	    <div class="col-md-12">
	    
	    	<h4>Lista de Unidades</h4>
	    	
	    	<div class="box-body">
	            
	                    <h:dataTable id="lista_escolas" var="dados" value="#{listaContratoBean.contratos}" styleClass="table table-bordered">
		                    	
		                        <h:column>
									<f:facet name="header">Nome Perfil</f:facet> 
									<h:outputText value="Perfil X" />
								</h:column>
		                        <h:column>
									<f:facet name="header">Tipo Perfil</f:facet> 
									<h:outputText value="WEBROOT" />
								</h:column>
								<h:column>
									<f:facet name="header">Ativo</f:facet>
									<span class="badge bg-green"><h:outputText rendered="#{dados.flag_primeiro_acesso eq true}" value="SIM" /></span>
									<span class="badge bg-red"><h:outputText rendered="#{dados.flag_primeiro_acesso eq false}" value="NÃO" /></span>
									<span class="badge bg-red"><h:outputText rendered="#{dados.flag_primeiro_acesso eq null}" value="NÃO" /></span>
								</h:column>
								
								<h:column headerText="Ação">
								  <f:facet name="header">Editar</f:facet> 
								  <f:ajax event="click" render="@form" listener="#{escolaBean.preparaAlteracaoxxxx}">
									<h:commandLink>
										<f:param name="id" value="#{dados.id}" />																
										<i class="fa fa-pencil-square-o"></i>
									</h:commandLink>
								  </f:ajax>				  
								</h:column>									
								
		                  </h:dataTable>
		            
		                  
                	</div><!-- /.box-body -->
	    	
	    </div>
	 </div>
	</div> 
	   

     
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

</h:form>

</ui:define>
	
</ui:composition>
