<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/web/template_administrativo.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:define name="conteudo" >

<h:form id="form">
<h:inputHidden value="#{escolaBean.contrato.id}" />
	
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.xhtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Administrativo</a></li>
        <li class="breadcrumb-item active">Usuário</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
	
      <!-- Default box -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="card-title">Usuário</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        
        <!-- /.box-body -->
        <div class="box-body col-md-12">
          
          <div class="row">
          	<div class="form-group col-md-12">
          		<p:messages id="messages" />
          	</div>
          </div>
          <div class="row">
              <div class="form-group col-md-2">
		         <label for="exampleInputCPF">CPF</label>
		         <h:inputText type="text" class="form-control" required="true" value="#{escolaBean.contrato.nome_contratante}" id="exampleInputCPF" requiredMessage="Informe o CPF" />	                      
		      </div>
		      <div class="form-group col-md-8">
		         <label for="exampleInputNomeUsuario">Nome</label>
		         <h:inputText type="text" class="form-control" required="true" value="#{escolaBean.contrato.nome_contratante}" id="exampleInputNomeUsuario" requiredMessage="Informe o Nome" />	                      
		      </div>
		      <div class="form-group col-md-2">
		         <label for="exampleInputDataNascimento">Data Nascimento</label>
		         <h:inputText type="text" class="form-control" required="true" value="#{escolaBean.contrato.nome_contratante}" id="exampleInputDataNascimento" requiredMessage="Informe a Data de Nascimento" />	                      
		      </div>  
	       </div>
	       <div class="row">
	       	   <div class="form-group col-md-4">
		          <label for="exampleInputEmailContato">Email</label>
		          <div class="controls">
		          	<h:inputText type="email" class="form-control" required="true" value="#{escolaBean.contrato.email}" id="exampleInputEmailContato" requiredMessage="Informe o email" validatorMessage="Endereço de email inválido" >
		          		<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
					</h:inputText>
					<p:message styleClass="alert-danger" for="exampleInputEmailContato" closable="true" />
		       	  </div>
		       </div>
		       <div class="form-group col-md-2">
		          <label for="exampleInputTelefone">Telefone</label>
		          <h:inputText type="text" class="form-control" required="true" value="#{escolaBean.contrato.celular}" id="exampleInputTelefone" requiredMessage="Informe o telefone fixo"/>	                      
		       </div>
		       <div class="form-group col-md-2">
		          <label for="exampleInputCelular">Celular</label>
		          <h:inputText type="text" class="form-control" required="true" value="#{escolaBean.contrato.celular}" id="exampleInputCelular" requiredMessage="Informe o telefone celular"/>	                      
		       </div>
	       </div>
	       <div class="row">
	       	   <div class="form-group col-md-2">
		          <label for="exampleInputCep">Cep</label>
		          <p:inputMask type="text" mask="99999-999" class="form-control" required="true" value="#{escolaBean.contrato.cep}" requiredMessage="Informe o Cep" id="exampleInputCep" onblur="verificarCep();" />
		          <p:remoteCommand name="verificarCep" process="@this exampleInputCep" actionListener="#{escolaBean.verificarCep}" update="exampleInputEndereco exampleInputBairro exampleInputCidade exampleInputEstado"/>	                      
		       </div>
		       <div class="form-group col-md-8">
		          <label for="exampleInputEndereco">Endereço</label>
		          <h:inputText type="text" class="form-control" disabled="#{escolaBean.disabled}" required="true" value="#{escolaBean.contrato.endereco}" id="exampleInputEndereco" requiredMessage="Informe o endereço"/>	                      
		       </div>
		       <div class="form-group col-md-2">
		          <label for="exampleInputNumeroComplemento">Número/Compl</label>
		          <h:inputText type="text" class="form-control" required="true" value="#{escolaBean.contrato.celular}" id="exampleInputNumeroComplemento" requiredMessage="Informe o número"/>	                      
		       </div>
		   </div>
		   <div class="row">
		       <div class="form-group col-md-4">
		          <label for="exampleInputBairro">Bairro</label>
		          <h:inputText type="text" class="form-control" disabled="#{escolaBean.disabled}" required="true" value="#{escolaBean.contrato.bairro}" id="exampleInputBairro" requiredMessage="Informe o bairro" />	                      
		       </div>
		       <div class="form-group col-md-4">
		          <label for="exampleInputCidade">Cidade</label>
		          <h:inputText type="text" class="form-control" disabled="#{escolaBean.disabled}" required="true" value="#{escolaBean.contrato.cidade}" id="exampleInputCidade" requiredMessage="Informe a cidade" />	                      
		       </div>
		       <div class="form-group col-md-4">
		          <label for="exampleInputEstado">Estado</label>
		          <h:inputText type="text" class="form-control" disabled="#{escolaBean.disabled}" required="true" value="#{escolaBean.contrato.uf}" id="exampleInputEstado" requiredMessage="Informe o estado" />	                      
		       </div>
	       </div>
           <div class="row">
		       <div class="form-group col-md-6">
		          <label for="exampleInputFoto">Foto</label>
		          <h:inputText type="text" class="form-control" value="#{escolaBean.contrato.bairro}" id="exampleInputFoto" requiredMessage="Informe a foto" />	                      
		       </div>
		       <div class="form-group col-md-6">
					<label for="inputPerfilAcesso">Perfil Acesso</label>
					<h:selectOneMenu class="form-control periodo" required="true" id="inputPerfilAcesso" value="#{escolaBean.contrato.periodo}" >
							<f:selectItem selected="true" itemLabel="Selecione..." itemValue="0" pt:placeholder="Informe o perfil de acesso" /> 
							<f:selectItem itemLabel="WEBROOT" itemValue="1" />
							<f:selectItem itemLabel="ADMIN" itemValue="2" />
							<f:selectItem itemLabel="MASTER" itemValue="3" />
							<f:selectItem itemLabel="COLABORADOR" itemValue="4" />
							<f:selectItem itemLabel="USUARIO" itemValue="5" />
					</h:selectOneMenu>  
			   </div>
			   <div class="form-group col-md-6">
		          <label for="exampleInputLogin">Login</label>
		          <h:inputText type="text" class="form-control" required="true" value="#{escolaBean.contrato.bairro}" id="exampleInputLogin" requiredMessage="Informe o login" />	                      
		       </div>	
		       <div class="form-group col-md-6">
		          <label for="exampleInputSenha">Senha</label>
		          <h:inputText type="text" class="form-control" required="true" value="#{escolaBean.contrato.bairro}" id="exampleInputSenha" requiredMessage="Informe a senha" />	                      
		       </div>
	       </div>
	       <div class="row">
	       	   <div class="form-group col-md-12">
		           <h5>Dados Responsável Financeiro</h5>
		           <hr></hr>
		       </div>
		       <div class="form-group col-md-6">
		          <label for="exampleInputNomeResponsavelFinanceiro">Nome</label>
		          <h:inputText type="text" class="form-control" value="#{escolaBean.contrato.bairro}" id="exampleInputNomeResponsavelFinanceiro" requiredMessage="Informe o nome" />	                      
		       </div>
		       <div class="form-group col-md-4">
		          <label for="exampleInputCPFResponsavelFinanceiro">CPF</label>
		          <h:inputText type="text" class="form-control" value="#{escolaBean.contrato.bairro}" id="exampleInputCPFResponsavelFinanceiro" requiredMessage="Informe o CPF" />	                      
		       </div>
		       <div class="form-group col-md-2">
		          <label for="exampleInputDataNascimentoResponsavelFinanceiro">Data Nascimento</label>
		          <h:inputText type="text" class="form-control" value="#{escolaBean.contrato.bairro}" id="exampleInputDataNascimentoResponsavelFinanceiro" requiredMessage="Informe a data nascimento" />	                      
		       </div>
		   </div>
		   <div class="row">
	       	   <div class="form-group col-md-12">
		           <h5>Dados Colaborador</h5>
		           <hr></hr>
		       </div>
		       <div class="form-group col-md-6">
		          <label for="exampleInputDataContratacao">Data Contratação</label>
		          <h:inputText type="text" class="form-control" value="#{escolaBean.contrato.bairro}" id="exampleInputDataContratacao" requiredMessage="Informe a data de contratação" />	                      
		       </div>
		       <div class="form-group col-md-6">
		          <label for="exampleInputCargo">Cargo/Função</label>
		          <h:inputText type="text" class="form-control" value="#{escolaBean.contrato.bairro}" id="exampleInputCargo" requiredMessage="Informe o cargo" />	                      
		       </div>		      
		   </div>	    
	    </div>  
	    
	    <div class="box-footer">
	       <div class="btn-group">
	            <p:commandButton value="Salvar" type="submit" id="gravar" update="@form" actionListener="#{escolaBean.adicionaxxxx}" styleClass="btn btn-warning" />
	       </div>
	    </div>
        <!-- /.box-footer-->
        
      </div>
      <!-- /.box -->
      
      
      <!-- Default box -->
      <div class="box box-default">
        <div class="box-header with-border">
        
	    <div class="col-md-12">
	    
	    	<h4>Lista de Usuários</h4>
	    	
	    	<div class="box-body">
	            
	                    <h:dataTable id="lista_usuarios" var="dados" value="#{listaContratoBean.contratos}" styleClass="table table-bordered">
		                    	
		                        <h:column>
									<f:facet name="header">Nome</f:facet> 
									<h:outputText value="Nome do Usuário X" />
								</h:column>
		                        <h:column>
									<f:facet name="header">CPF</f:facet> 
									<h:outputText value="111.222.333-44" />
								</h:column>
								<h:column>
									<f:facet name="header">Email</f:facet> 
									<h:outputText value="email@email.com.br" />
								</h:column>
								<h:column>
									<f:facet name="header">Perfil</f:facet> 
									<h:outputText value="USUÁRIO" />
								</h:column>
								<h:column>
									<f:facet name="header">Ativo</f:facet>
									<span class="badge bg-green"><h:outputText rendered="#{dados.flag_primeiro_acesso eq true}" value="SIM" /></span>
									<span class="badge bg-red"><h:outputText rendered="#{dados.flag_primeiro_acesso eq false}" value="NÃO" /></span>
									<span class="badge bg-red"><h:outputText rendered="#{dados.flag_primeiro_acesso eq null}" value="NÃO" /></span>
								</h:column>
								<h:column>
									<f:facet name="header">Telefone</f:facet> 
								  	<span class="badge bg-orange"><h:outputText rendered="#{dados.status_contrato eq 'P'}" value="(11) 91111-2222" /></span>
								  	<span class="badge bg-blue"><h:outputText rendered="#{dados.status_contrato eq 'F'}" value="(11) 91111-2222" /></span>
								  	<span class="badge bg-yellow"><h:outputText rendered="#{dados.status_contrato eq 'L'}" value="(11) 91111-2222" /></span>
								  	<span class="badge bg-green"><h:outputText rendered="#{dados.status_contrato eq 'A'}" value="(11) 91111-2222" /></span>
								</h:column>
								
								<h:column headerText="Ação">
								  <f:facet name="header">Editar</f:facet> 
								  <f:ajax event="click" render="@form" listener="#{escolaBean.preparaAlteracaoxxxx}">
									<h:commandLink>
										<f:param name="id" value="#{dados.id}" />																
										<i class="fa fa-pencil-square-o"></i>
									</h:commandLink>
								  </f:ajax>				  
								</h:column>									
								
		                  </h:dataTable>
		            
		                  
                	</div><!-- /.box-body -->
	    	
	    </div>
	 </div>
	</div> 
	   

     
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

</h:form>

</ui:define>
	
</ui:composition>
